Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, prettier, stylelint, test:postgres

eslint:
  script:
  - yarn --frozen-lockfile
  - yarn eslint

prettier:
  script:
  - yarn --frozen-lockfile
  - yarn prettier

stylelint:
  script:
  - yarn --frozen-lockfile
  - yarn stylelint

test:postgres:
  services:
  - postgres:10.0
  variables:
    POSTGRES_DB: testAppsemble
    POSTGRES_USER: root
    POSTGRES_PASSWORD: password
    DATABASE_URL: postgresql://root:password@postgres:5432/testAppsemble
  script:
  - yarn --frozen-lockfile
  - yarn test

build(webpack): crash on path case mismatching
  package.json
  webpack.config.js
  yarn.lock
Due: eslint, prettier, stylelint, test:postgres

refactor: remove unused prop
  packages/react-bulma/base/ModalClose/ModalClose.jsx
Due: eslint

refactor: clean up modal props
  packages/react-bulma/base/ModalBackground/ModalBackground.jsx
  packages/react-bulma/base/ModalClose/ModalClose.jsx
Due: eslint

refactor: remove inline anonymous functions in render
  editor/components/AppList/components/CreateAppCard/CreateAppCard.jsx
Due: eslint

refactor: clean up props
  packages/react-bulma/base/ModalContent/ModalContent.jsx
Due: eslint

feat: implement i18n in createAppCard
  editor/components/AppList/components/CreateAppCard/CreateAppCard.jsx
  editor/components/AppList/components/CreateAppCard/index.jsx
  editor/components/AppList/components/CreateAppCard/messages.jsx
Due: eslint

refactor: use file variable in onIconChange
  editor/components/Editor/Editor.jsx
Due: eslint

docs: add comment about svg+xml
  api/routes/iconHandler/index.js
Due: eslint, test:postgres

refactor: move get original icon from /{id}/icon-original to /api/apps/{id}/icon
  api/api/paths/apps.yaml
  api/controllers/apps.js
  api/routes/iconHandler/index.js
  api/routes/index.js
  editor/components/Editor/Editor.jsx
Due: eslint, prettier, test:postgres

refactor: use findByPk instead of findByPrimary
  api/controllers/auth.test.js
Due: eslint, test:postgres

fix: update usage of init-db to use new method of fetching db models
  api/server.js
Due: eslint, test:postgres

fix: fix oauth2 grant modules
  api/controllers/auth.js
  api/middleware/oauth2Model.js
  api/server.js
Due: eslint, test:postgres

refactor: use editor components for Login component
  editor/actions/user.js
  editor/components/Login/Login.jsx
  editor/components/Login/index.jsx
Due: eslint

refactor: use editor components instead of app components in editor
  editor/components/App/App.jsx
Due: eslint

fix: use editor message actions
  editor/components/Editor/index.jsx
Due: eslint

fix: allow string in push()
  editor/actions/message.js
Due: eslint

refactor: revert iconhandler changes
  api/routes/iconHandler/index.js
Due: eslint, test:postgres

fix: set entire mime type for svg
  api/controllers/apps.js
Due: eslint, test:postgres

feat: implement i18n for schema validation error
  editor/components/Editor/Editor.jsx
  editor/components/Editor/index.jsx
  editor/components/Editor/messages.jsx
Due: eslint

feat: implement i18n in editor
  editor/components/Editor/Editor.jsx
  editor/components/Editor/index.jsx
  editor/components/Editor/messages.jsx
Due: eslint

refactor: bump dependencies
  .eslintrc.js
  api/controllers/apps.test.js
  api/controllers/assets.test.js
  api/controllers/auth.js
  api/controllers/resources.js
  api/controllers/resources.test.js
  api/middleware/boom.test.js
  api/package.json
  api/routes/manifestHandler/index.js
  api/utils/email.test.js
  app/actions/app.jsx
  app/actions/user.jsx
  app/components/EmailLogin/index.jsx
  app/components/Message/index.jsx
  app/components/SideNavigation/SideNavigation.jsx
  app/index.jsx
  app/package.json
  app/service-worker/onFetch.test.js
  app/utils/actions/link.jsx
  app/utils/bootstrapper.jsx
  app/utils/extractBlobs.test.jsx
  app/utils/mapValues.test.jsx
  app/utils/resolveJsonPointers.test.jsx
  blocks/detail-viewer/package.json
  blocks/form/package.json
  blocks/map/loadMarkers.js
  editor/actions/user.js
  editor/components/Editor/Editor.jsx
  editor/components/EmailLogin/index.jsx
  editor/components/Message/index.jsx
  editor/package.json
  package.json
  packages/utils/getDB.js
  packages/utils/remap.test.js
  packages/utils/validate.test.js
  yarn.lock
Due: eslint, prettier, stylelint, test:postgres

refactor: use sane names for test databases
  api/controllers/apps.test.js
  api/controllers/assets.test.js
  api/controllers/auth.test.js
  api/controllers/resources.test.js
  api/package.json
  api/utils/test/testSchema.js
Due: eslint, prettier, test:postgres

feat: replace react-monaco-editor with own react component
  editor/components/Editor/Editor.jsx
  editor/components/Editor/components/MonacoEditor/MonacoEditor.jsx
  editor/components/Editor/components/MonacoEditor/index.jsx
  editor/package.json
Due: eslint, prettier

fix: make sure the test database name is valid for postgres
  api/utils/test/testSchema.js
Due: eslint, test:postgres

feat: introduce Loader component
  app/components/AppContext/AppContext.jsx
  editor/components/App/App.jsx
  editor/components/AppList/components/AppList/AppList.jsx
  editor/components/AppList/components/AppList/messages.jsx
  editor/components/Editor/Editor.jsx
  packages/react-components/components/Loader/Loader.jsx
  packages/react-components/components/Loader/index.jsx
  packages/react-components/components/Loader/loader.css
  packages/react-components/components/index.jsx
  yarn.lock
Due: eslint, prettier, stylelint, test:postgres

test: remove email log during tests
  api/utils/email.js
Due: eslint, test:postgres

fix: fix typos
  api/server.js
  editor/components/App/App.jsx
  editor/components/Login/Login.jsx
Due: eslint, test:postgres

refactor: fix imports
  editor/components/Editor/components/MonacoEditor/MonacoEditor.jsx
  editor/components/Editor/components/MonacoEditor/monacoeditor.css
Due: eslint, prettier, stylelint

refactor: remove react-monaco-editor
  editor/package.json
  yarn.lock
Due: eslint, prettier, stylelint, test:postgres

refactor: use setState correctly
  editor/components/Editor/Editor.jsx
  editor/components/Editor/messages.jsx
Due: eslint

fix: add eslint-disable for appSchema
  editor/components/Editor/Editor.jsx
Due: eslint

feat: add warning dialog when updating app with different resource definitions
  editor/components/Editor/Editor.jsx
  editor/components/Editor/editor.css
  editor/components/Editor/messages.jsx
  editor/package.json
  yarn.lock
Due: eslint, prettier, stylelint, test:postgres

fix: track page key counter using getDerivedStateFromProps to always update in the editor
  app/components/Page/Page.jsx
Due: eslint

fix: set initialRecipe after uploading app
  editor/components/Editor/Editor.jsx
Due: eslint

docs: add code of conduct
  CODE_OF_CONDUCT.md
Due: eslint, prettier

docs: enter email address in CoC
  CODE_OF_CONDUCT.md
Due: eslint, prettier

feat: implement register component
  editor/components/Register/index.jsx
  packages/react-components/components/Register/Register.jsx
  packages/react-components/components/Register/index.jsx
  packages/react-components/components/Register/messages.jsx
  packages/react-components/components/Register/register.css
  packages/react-components/components/index.jsx
Due: eslint, prettier, stylelint

Path conditions:
  eslint: any of: **/*.{js,jsx,md}, yarn.lock
  prettier: any of: **/*.{css,json,md,yaml,yml}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock
  test:postgres: any of: api/**/*.js, yarn.lock
