Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, prettier, stylelint, test:postgres

.gitlab-ci.yml:

image: node:10-slim

stages:
  - test
  - build
  - publish
  - deploy

build:docker:
  stage: build
  services:
    - docker:dind
  image: docker
  tags:
    - dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
    - docker build -t "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHA" .
    - docker tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHA" "$CI_REGISTRY_IMAGE:$CI_BUILD_REF_NAME"
    - docker push "$CI_REGISTRY_IMAGE:$CI_BUILD_REF_NAME"
    - docker push "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHA"

deploy:staging:
  stage: deploy
  image: alpine
  variables:
    GIT_STRATEGY: none
  only:
    - master
  environment:
    name: staging
  script:
    - apk add --no-cache curl
    - curl -X POST -F "token=$CI_JOB_TOKEN" -F "ref=master" -F "variables[RELEASE]=staging"
      https://gitlab.com/api/v4/projects/8452871/trigger/pipeline

eslint:
  only:
    changes:
      - '**/*.{js,jsx,md}'
      - yarn.lock
  script:
    - yarn --frozen-lockfile
    - yarn eslint

pages:
  stage: build
  image: busybox
  variables:
    GIT_STRATEGY: none
  dependencies:
    - test
  only:
    - master
  script: mv coverage/lcov-report public
  artifacts:
    paths:
      - public/

prettier:
  only:
    changes:
      - '**/*.{css,json,md,yaml,yml}'
      - yarn.lock
  script:
    - yarn --frozen-lockfile
    - yarn prettier

publish:docker:latest:
  stage: publish
  services:
    - docker:dind
  image: docker
  tags:
    - dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    GIT_STRATEGY: none
  only:
    - tags
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
    - echo $DOCKER_HUB_PASSWORD | docker login -u $DOCKER_HUB_USER --password-stdin
    - docker pull "$CI_REGISTRY_IMAGE:$CI_COMMIT_TAG"
    - docker tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_TAG" "$CI_REGISTRY_IMAGE:latest"
    - docker tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_TAG" "appsemble/appsemble:latest"
    - docker tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_TAG" "appsemble/appsemble:$CI_COMMIT_TAG"
    - docker push "$CI_REGISTRY_IMAGE:latest"
    - docker push "appsemble/appsemble:latest"
    - docker push "appsemble/appsemble:$CI_COMMIT_TAG"

stylelint:
  only:
    changes:
      - '**/*.css'
      - yarn.lock
  script:
    - yarn --frozen-lockfile
    - yarn stylelint

test:
  services:
    - name: mysql:8.0
      command: [--default-authentication-plugin=mysql_native_password]
  variables:
    MYSQL_DATABASE: testAppsemble
    MYSQL_ROOT_PASSWORD: password
    DATABASE_URL: 'mysql://root:password@mysql:3306'
  script:
    - yarn --frozen-lockfile
    - yarn test --coverage
  artifacts:
    paths:
      - coverage/

test:postgres:
  services:
    - postgres:10.0
  variables:
    POSTGRES_DB: testAppsemble
    POSTGRES_USER: root
    POSTGRES_PASSWORD: password
    DATABASE_URL: 'postgresql://root:password@postgres:5432/testAppsemble'
  only:
    changes:
      - 'api/**/*.js'
      - yarn.lock
  script:
    - yarn --frozen-lockfile
    - yarn test

fix: revert error handler change
  api/controllers/apps.js
Due: eslint, test:postgres

feat: load style into editor
  editor/components/Editor/Editor.jsx
Due: eslint

test: include tests for uploading stylesheets
  api/controllers/apps.test.js
Due: eslint, test:postgres

fix: improve error handling for expected errors
  api/controllers/apps.js
Due: eslint, test:postgres

fix: return empty file if app.style is null
  api/controllers/apps.js
Due: eslint, test:postgres

fix: add retry flag to sequelize instances
  api/utils/setupModels.js
  api/utils/test/testSchema.js
Due: eslint, test:postgres

refactor: remove normalize call on path
  api/controllers/apps.js
Due: eslint, test:postgres

fix: move path down
  api/controllers/apps.js
Due: eslint, test:postgres

refactor: remove empty dependency block
  package.json
Due: prettier

fix: include id in style tag
  api/routes/indexHandler/index.pug
  app/index.jsx
Due: eslint

ci: remove dind tags
  .gitlab-ci.yml
Due: prettier

feat(api): implement block definition API
  api/api/definitions/BlockDefinition.yaml
  api/api/paths/blocks.yaml
  api/controllers/blocks.js
  api/controllers/blocks.test.js
  api/models/BlockDefinition.js
  api/utils/setupModels.js
Due: eslint, prettier, test:postgres

feat(api): add support for block assets
  api/api/definitions/BlockVersion.yaml
  api/api/paths/blocks.yaml
  api/controllers/__fixtures__/standing.png
  api/controllers/__fixtures__/testblock.js
  api/controllers/blocks.js
  api/controllers/blocks.test.js
  api/middleware/oauth2Server.js
  api/models/BlockAsset.js
  api/models/BlockVersion.js
  api/package.json
  api/utils/setupModels.js
  api/utils/test/testSchema.js
Due: eslint, prettier, test:postgres

feat(cli): add @appsemble/cli
  packages/cli/README.md
  packages/cli/bin/appsemble
  packages/cli/commands/publish.js
  packages/cli/commands/register.js
  packages/cli/lib/getConfig.js
  packages/cli/lib/handleError.js
  packages/cli/lib/initAxios.js
  packages/cli/lib/initLogging.js
  packages/cli/lib/makePayload.js
  packages/cli/lib/publish.js
  packages/cli/lib/request.js
  packages/cli/main.js
  packages/cli/package.json
  yarn.lock
Due: eslint, prettier, stylelint, test:postgres

feat(api): add API to retrieve block versions
  api/api/paths/blocks.yaml
  api/controllers/blocks.js
  api/controllers/blocks.test.js
Due: eslint, prettier, test:postgres

docs(changelog): update changelog for blocks
  CHANGELOG.md
Due: eslint, prettier

feat(api): support block versions in app API
  api/api/definitions/Block.yaml
  api/controllers/apps.js
  api/controllers/apps.test.js
  api/utils/getAppBlocks.js
  api/utils/getAppBlocks.test.js
Due: eslint, prettier, test:postgres

fix(payload): pick position from configuration
  packages/cli/lib/makePayload.js
Due: eslint

fix(api): fix filtering of block versions when creating apps
  api/controllers/apps.js
Due: eslint, test:postgres

feat(cli): handle common developer errors
  packages/cli/lib/AppsembleError.js
  packages/cli/lib/getConfig.js
  packages/cli/lib/handleError.js
Due: eslint

fix(api): return default fields on block create call
  api/controllers/blocks.js
  api/controllers/blocks.test.js
Due: eslint, test:postgres

fix(api): add missing error handling for block version API
  api/controllers/blocks.js
  api/controllers/blocks.test.js
Due: eslint, test:postgres

Revert "Merge branch 'dind' into 'master'"
  .gitlab-ci.yml
Due: prettier

docs(api): remove mention of non existent deprecated field
  api/api/definitions/BlockVersion.yaml
Due: prettier

style: remove commented code
  api/utils/setupModels.js
Due: eslint, test:postgres

feat: implement language switching and add shared style tab
  editor/components/Editor/Editor.jsx
  editor/components/Editor/components/MonacoEditor/MonacoEditor.jsx
Due: eslint

fix: fix bug where onValueChange gets called too often
  editor/components/Editor/components/MonacoEditor/MonacoEditor.jsx
Due: eslint

feat: add handler for loading in shared styles
  api/api/paths/apps.yaml
  api/controllers/apps.js
  api/routes/indexHandler/index.pug
  app/components/Block/Block.jsx
Due: eslint, prettier, test:postgres

feat: add id to index.pug for styles to replace linked styles with injected styles
  api/routes/indexHandler/index.pug
Due: none

feat: implement copying shared style from parent dom into shadow dom
  app/components/Block/Block.jsx
Due: eslint

feat: add additional logic for sharedStyle
  app/index.jsx
Due: eslint

feat: include value of sharedStyle in postMessage
  editor/components/Editor/Editor.jsx
Due: eslint

feat: fetch current shared style in editor
  editor/components/Editor/Editor.jsx
Due: eslint

feat: add model support for uploading sharedStyles
  api/controllers/apps.js
  api/models/App.js
Due: eslint, test:postgres

feat: include sharedStyle when uploading new app version
  editor/components/Editor/Editor.jsx
Due: eslint

fix: copy sharedStyle at a later point in shadow DOM
  app/components/Block/Block.jsx
Due: eslint

refactor: refactored monaco change events to one handler
  editor/components/Editor/Editor.jsx
Due: eslint

test: updated tests for inclusion of shared styles
  api/controllers/apps.test.js
Due: eslint, test:postgres

refactor: remove test code
  api/controllers/apps.js
Due: eslint, test:postgres
