Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency scanning, eslint, helm lint, prettier, remark lint, stylelint

dependency scanning:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  allow_failure: true
  script:
  - yarn gitlab-yarn-audit
  artifacts:
    reports:
      dependency_scanning: gl-dependency-scanning.json

eslint:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn eslint --format gitlab .
  artifacts:
    reports:
      codequality: gl-codequality.json

helm lint:
  image:
    name: lachlanevenson/k8s-helm:v3.1.0
    entrypoint:
    - /bin/sh
    - -c
  dependencies: []
  script:
  - helm lint config/charts/*

prettier:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn prettier .

remark lint:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn remark --frail .

stylelint:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn stylelint .

Remove unused imports
  packages/server/src/migrations/0.13.1-oauth2-login-fixes.ts
Due: eslint

Use covecov npm package
  .gitlab-ci.yml
  package.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Handle if loading apps fails in Studio
  packages/studio/src/components/AppContext/index.tsx
  packages/studio/src/components/AppContext/messages.tsx
Due: eslint

Edit action-button actions and outline for ActionEditor
  packages/studio/src/components/GUIEditor/components/ActionEditor/components/ActionEditorTypeEditor/index.tsx
  packages/studio/src/components/GUIEditor/components/ActionEditor/components/ActionEditorTypeEditor/messages.tsx
  packages/studio/src/components/GUIEditor/components/ActionEditor/components/ActionEditorTypeSelect/index.tsx
  packages/studio/src/components/GUIEditor/components/ActionEditor/components/ActionEditorTypeSelect/messages.tsx
  packages/studio/src/components/GUIEditor/components/ActionEditor/components/LinkActionEditor/index.tsx
  packages/studio/src/components/GUIEditor/components/ActionEditor/components/PageSelect/index.tsx
  packages/studio/src/components/GUIEditor/components/ActionEditor/components/PageSelect/messages.tsx
  packages/studio/src/components/GUIEditor/components/ActionEditor/components/UnknownTypeEditor/index.tsx
  packages/studio/src/components/GUIEditor/components/ActionEditor/components/UnknownTypeEditor/messages.tsx
  packages/studio/src/components/GUIEditor/components/ActionEditor/index.css
  packages/studio/src/components/GUIEditor/components/ActionEditor/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorEditBlock/index.css
  packages/studio/src/components/GUIEditor/components/GUIEditorEditBlock/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorEditBlock/messages.tsx
Due: eslint, stylelint

Add new SideNavLink component
  packages/studio/src/components/AppSideMenu/index.css
  packages/studio/src/components/AppSideMenu/index.tsx
  packages/studio/src/components/NavLink/index.tsx
  packages/studio/src/components/Settings/index.tsx
  packages/studio/src/components/SideMenu/index.tsx
  packages/studio/src/components/SideNavLink/index.tsx
Due: eslint, stylelint

Apply suggestion to packages/studio/src/components/OAuth2Connect/index.tsx
  packages/studio/src/components/OAuth2Connect/index.tsx
Due: eslint

Apply suggestion to packages/studio/src/types.ts
  packages/studio/src/types.ts
Due: eslint

Wrap error message in message component
  packages/studio/src/components/AppContext/index.tsx
Due: eslint

Resolve feedback
  packages/studio/src/components/OAuth2Connect/index.tsx
  packages/utils/src/api/paths/oauth2Login.ts
Due: eslint

restructure logic for tables
  packages/studio/src/components/BlockDetails/components/ActionTable/index.tsx
  packages/studio/src/components/BlockDetails/components/ActionTable/messages.tsx
  packages/studio/src/components/BlockDetails/components/EventTable/index.tsx
  packages/studio/src/components/BlockDetails/components/EventTable/messages.tsx
  packages/studio/src/components/BlockDetails/components/ParameterTable/index.tsx
  packages/studio/src/components/BlockDetails/components/ParameterTable/messages.tsx
  packages/studio/src/components/BlockDetails/index.css
  packages/studio/src/components/BlockDetails/index.tsx
  packages/studio/src/components/BlockDetails/messages.tsx
  packages/studio/src/components/BlockList/components/BlockCard/index.tsx
  packages/studio/src/components/BlockList/index.css
  packages/studio/src/components/BlockList/index.tsx
Due: eslint, stylelint

replace true false with check icon
  packages/studio/src/components/BlockDetails/components/ActionTable/index.tsx
  packages/studio/src/components/BlockDetails/components/ActionTable/messages.tsx
  packages/studio/src/components/BlockDetails/components/ParameterTable/index.tsx
  packages/studio/src/components/BlockDetails/components/ParameterTable/messages.tsx
Due: eslint

handle URLSearchParams body when logging
  packages/cli/src/lib/interceptors.test.ts
  packages/cli/src/lib/interceptors.ts
Due: eslint

Add support for Login with GitHub
  package.json
  packages/cli/src/commands/start.ts
  packages/server/src/commands/start.ts
  packages/server/src/controllers/oauth2Login.test.ts
  packages/server/src/controllers/oauth2Login.ts
  packages/server/src/routes/studioRouter/indexHandler.ts
  packages/server/src/types.ts
  packages/server/src/utils/OAuth2Presets.ts
  packages/server/src/utils/getUserInfo.test.ts
  packages/server/src/utils/getUserInfo.ts
Due: eslint, prettier

bug fixes, added "no action" function, improved code readability
  packages/studio/package.json
  packages/studio/src/components/Editor/index.tsx
  packages/studio/src/components/GUIEditor/components/ActionEditor/components/ActionEditorTypeEditor/index.tsx
  packages/studio/src/components/GUIEditor/components/ActionEditor/components/ActionEditorTypeSelect/index.tsx
  packages/studio/src/components/GUIEditor/components/ActionEditor/components/ActionEditorTypeSelect/messages.tsx
  packages/studio/src/components/GUIEditor/components/ActionEditor/components/LinkActionEditor/index.tsx
  packages/studio/src/components/GUIEditor/components/ActionEditor/components/PageSelect/index.tsx
  packages/studio/src/components/GUIEditor/components/ActionEditor/components/UnknownTypeEditor/index.tsx
  packages/studio/src/components/GUIEditor/components/ActionEditor/components/UnknownTypeEditor/messages.tsx
  packages/studio/src/components/GUIEditor/components/ActionEditor/index.tsx
Due: eslint, prettier

Add screen for managing OAuth2 logins
  packages/server/src/controllers/oauth2Login.test.ts
  packages/server/src/controllers/oauth2Login.ts
  packages/studio/src/components/AsyncButton/index.tsx
  packages/studio/src/components/Login/index.tsx
  packages/studio/src/components/Login/messages.tsx
  packages/studio/src/components/OAuthSettings/index.css
  packages/studio/src/components/OAuthSettings/index.tsx
  packages/studio/src/components/OAuthSettings/messages.tsx
  packages/studio/src/components/Settings/index.tsx
  packages/studio/src/components/Settings/messages.tsx
  packages/studio/src/components/SocialLoginButton/index.tsx
  packages/utils/src/api/paths/oauth2Login.ts
Due: eslint, stylelint

implement linking to specific block versions
  packages/react-components/src/Select/index.tsx
  packages/studio/src/components/App/index.tsx
  packages/studio/src/components/BlockDetails/index.tsx
  packages/studio/src/components/BlockDetails/messages.tsx
Due: eslint

implement rendering definitions
  packages/studio/src/components/BlockDetails/components/ParameterRow/index.tsx
  packages/studio/src/components/BlockDetails/components/ParameterTable/index.tsx
  packages/studio/src/components/BlockDetails/index.tsx
Due: eslint

Add component for editing raw JSON values
  packages/react-components/package.json
  packages/react-components/src/JSONInput/index.tsx
  packages/react-components/src/JSONInput/messages.tsx
  packages/react-components/src/Textarea/index.tsx
  packages/react-components/src/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaUnknownEditor/index.tsx
Due: eslint, prettier

Add useConfirmation hook
  packages/react-components/src/Confirmation/index.tsx
  packages/react-components/src/index.tsx
  packages/studio/src/components/App/index.tsx
  packages/studio/src/components/AppSettings/index.tsx
  packages/studio/src/components/Assets/index.tsx
  packages/studio/src/components/ClientCredentials/index.tsx
  packages/studio/src/components/ClientCredentials/messages.tsx
  packages/studio/src/components/Editor/index.tsx
  packages/studio/src/components/ResourceTable/index.tsx
Due: eslint

further implement handling for ref properties
  docs/guide/remappers.md
  packages/studio/src/components/BlockDetails/components/ParameterRow/index.tsx
  packages/studio/src/components/BlockDetails/components/ParameterTable/index.tsx
  packages/studio/src/components/BlockDetails/index.tsx
  packages/studio/src/components/BlockDetails/messages.tsx
Due: eslint, prettier, remark lint

Replace custom Lighthouse script with lhci
  .eslintignore
  .gitignore
  .gitlab-ci.yml
  .lighthouserc.js
  .prettierignore
  .stylelintignore
  package.json
  packages/@types-lighthouse/index.d.ts
  packages/@types-lighthouse/package.json
  packages/@types-lighthouse/tsconfig.json
  packages/scripts/package.json
  packages/scripts/src/commands/lighthouse.ts
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Cleanup Kubernetes jobs for review environments
  .gitlab-ci.yml
Due: prettier

extract TypeTable component
  packages/studio/src/components/BlockDetails/components/TypeTable/index.tsx
  packages/studio/src/components/BlockDetails/components/TypeTable/messages.tsx
  packages/studio/src/components/BlockDetails/index.tsx
  packages/studio/src/components/BlockDetails/messages.tsx
Due: eslint

Rename OAuth key and secret to client id and secret
  CHANGELOG.md
  package.json
  packages/cli/src/commands/start.ts
  packages/server/README.md
  packages/server/src/commands/start.ts
  packages/server/src/controllers/oauth2Login.test.ts
  packages/server/src/controllers/oauth2Login.ts
  packages/server/src/routes/studioRouter/indexHandler.test.ts
  packages/server/src/routes/studioRouter/indexHandler.ts
  packages/server/src/types.ts
Due: eslint, prettier, remark lint

Apply suggestion to packages/react-components/src/JSONInput/messages.tsx
  packages/react-components/src/JSONInput/messages.tsx
Due: eslint

Fix CI config
  .gitlab-ci.yml
Due: prettier

Validate packages have a description and side effects
  blocks/action-button/package.json
  blocks/button-list/package.json
  blocks/data-loader/package.json
  blocks/detail-viewer/package.json
  blocks/feed/package.json
  blocks/filter/package.json
  blocks/form/package.json
  blocks/list/package.json
  blocks/map/package.json
  blocks/markdown/package.json
  blocks/stats/package.json
  blocks/table/package.json
  packages/app/package.json
  packages/appsemble/package.json
  packages/cli/package.json
  packages/create-appsemble/package.json
  packages/node-utils/package.json
  packages/preact-components/package.json
  packages/react-components/package.json
  packages/react/package.json
  packages/scripts/package.json
  packages/scripts/src/commands/validate.ts
  packages/server/package.json
  packages/service-worker/package.json
  packages/studio/package.json
  packages/types/package.json
  packages/utils/package.json
Due: eslint, prettier

code fixes
  packages/studio/src/components/GUIEditor/components/GUIEditorSelect/index.tsx
Due: eslint

add further type rendering
  packages/studio/src/components/BlockDetails/components/ParameterRow/index.tsx
Due: eslint

add null check for parameters.definitions
  packages/studio/src/components/BlockDetails/index.tsx
Due: eslint

apply markdown formatting to row and block descriptions
  packages/studio/package.json
  packages/studio/src/components/BlockDetails/components/ParameterRow/index.tsx
  packages/studio/src/components/BlockDetails/index.tsx
  packages/studio/src/components/MarkdownContent/index.tsx
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

add null check to MarkdownContent component
  packages/studio/src/components/MarkdownContent/index.tsx
Due: eslint

display logos
  packages/studio/src/components/BlockDetails/index.css
  packages/studio/src/components/BlockDetails/index.tsx
  packages/studio/src/components/BlockList/components/BlockCard/index.tsx
Due: eslint, stylelint

implement longDescription for blocks
  blocks/action-button/README.md
  blocks/action-button/package.json
  blocks/button-list/README.md
  blocks/data-loader/README.md
  blocks/detail-viewer/README.md
  blocks/feed/README.md
  blocks/filter/README.md
  blocks/form/README.md
  blocks/list/README.md
  blocks/map/README.md
  blocks/markdown/README.md
  blocks/stats/README.md
  blocks/table/README.md
  docs/blocks/action-button.md
  docs/blocks/button-list.md
  docs/blocks/data-loader.md
  docs/blocks/detail-viewer.md
  docs/blocks/feed.md
  docs/blocks/filter.md
  docs/blocks/form.md
  docs/blocks/list.md
  docs/blocks/map.md
  docs/blocks/stats.md
  docs/blocks/table.md
  packages/cli/src/lib/getBlockConfig.ts
  packages/cli/src/lib/makePayload.ts
  packages/cli/src/lib/publish.ts
  packages/cli/src/types.ts
  packages/server/src/controllers/blocks.ts
  packages/server/src/migrations/0.13.1-block-descriptions.ts
  packages/server/src/migrations/index.ts
  packages/server/src/models/BlockVersion.ts
  packages/studio/src/components/BlockDetails/components/ParameterTable/index.tsx
  packages/studio/src/components/BlockDetails/index.tsx
  packages/types/index.d.ts
  packages/utils/src/api/components/schemas/BlockVersion.ts
Due: eslint, prettier, remark lint

adjust image links
  blocks/action-button/README.md
  blocks/button-list/README.md
  blocks/detail-viewer/README.md
  blocks/form/README.md
  blocks/list/README.md
  blocks/map/README.md
  blocks/markdown/README.md
  blocks/stats/README.md
  blocks/table/README.md
Due: prettier, remark lint

Make MonacoEditor a functional component
  packages/studio/src/components/Editor/index.tsx
  packages/studio/src/components/MonacoEditor/index.tsx
Due: eslint

revert action-button version
  blocks/action-button/package.json
Due: prettier

fix tests
  packages/server/src/controllers/blocks.test.ts
  packages/server/src/controllers/blocks.ts
Due: eslint

types and code fixes
  packages/studio/src/components/Editor/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorDelete/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorEditBlock/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorToolbox/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorToolboxBlock/index.tsx
  packages/studio/src/components/GUIEditor/index.tsx
  packages/studio/src/components/GUIEditor/types.ts
  packages/types/index.d.ts
Due: eslint

code fixes
  packages/types/index.d.ts
  packages/utils/src/blockUtils.ts
Due: eslint

Path conditions:
  dependency scanning: any of: yarn.lock
  eslint: any of: **/*.{js,jsx,ts,tsx}, yarn.lock
  helm lint: any of: config/charts/**/*.*
  prettier: any of: **/*.{html,json,md,scss,yaml,yml}, yarn.lock
  remark lint: any of: **/*.{dic,md}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock
