Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency scanning, eslint, helm lint, prettier, remark lint, stylelint

Path conditions:
  dependency scanning: any of: yarn.lock
  eslint: any of: **/*.{js,jsx,ts,tsx}, yarn.lock
  helm lint: any of: config/charts/**/*.*
  prettier: any of: **/*.{html,json,md,scss,yaml,yml}, yarn.lock
  remark lint: any of: **/*.{dic,md}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock

Fix tests
  packages/app/src/components/Page/index.test.tsx
  packages/app/src/utils/xmlToJson.test.tsx
Due: eslint

Convert proxy handlers to use Koas
  packages/server/src/controllers/index.ts
  packages/server/src/controllers/proxy.test.ts
  packages/server/src/controllers/proxy.ts
  packages/server/src/routes/studioRouter/index.ts
  packages/server/src/utils/createServer.ts
  packages/utils/src/api/paths/index.ts
  packages/utils/src/api/paths/proxy.ts
Due: eslint

Ignore all coverage directories
  .eslintignore
  .gitignore
  .prettierignore
  .stylelintignore
Due: none

Fix the value in the version tag in Studio
  config/webpack/studio.js
Due: eslint

Fix schema for path query parameter
  packages/utils/src/api/paths/proxy.ts
Due: eslint

Move proxy path parameter to path
  packages/server/src/controllers/proxy.test.ts
  packages/server/src/controllers/proxy.ts
  packages/utils/src/api/paths/proxy.ts
Due: eslint

Proxy request action by default
  packages/app/src/components/Block/index.tsx
  packages/app/src/components/BlockList/index.tsx
  packages/app/src/components/FlowPage/index.tsx
  packages/app/src/components/Main/index.tsx
  packages/app/src/components/Page/index.test.tsx
  packages/app/src/components/Page/index.tsx
  packages/app/src/components/PageDialog/index.tsx
  packages/app/src/components/TabsPage/index.tsx
  packages/app/src/types.ts
  packages/app/src/utils/actions/dialog.tsx
  packages/app/src/utils/actions/request.tsx
  packages/app/src/utils/makeActions.tsx
  packages/types/index.d.ts
Due: eslint

Fix prefix in dialog
  packages/app/src/components/PageDialog/index.tsx
Due: eslint

Whitelist proxy request and response headers
  packages/server/src/controllers/proxy.test.ts
  packages/server/src/controllers/proxy.ts
Due: eslint

Refactored code to avoid looping over keys and keeping the editting logic in JSONSchemaEditor + JSONStringEditor fixes
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaArrayEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaObjectEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaStringEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/index.tsx
  packages/studio/src/components/ResourceTable/index.tsx
Due: eslint

disable textarea/JSONEditor placeholder
  packages/studio/src/components/JSONSchemaEditor/index.tsx
Due: eslint

convert user id from number to uuid
  package.json
  packages/server/package.json
  packages/server/src/migrations/0.12.8-user-uuid.ts
  packages/server/src/migrations/index.ts
  packages/server/src/models/AppRating.ts
  packages/server/src/models/OrganizationInvite.ts
  packages/server/src/models/User.ts
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

fix to pass build
  packages/studio/src/components/ResourceTable/index.tsx
Due: eslint

Fix tests for openapi document
  packages/app/src/components/Page/__snapshots__/index.test.tsx.snap
  packages/utils/src/api/paths/proxy.ts
Due: eslint

Simplify how @appsemble/scripts are run
  package.json
  packages/scripts/bin/scripts.js
  packages/scripts/package.json
Due: eslint, prettier

Don’t import package.json
  packages/server/src/controllers/proxy.ts
Due: eslint

Check for action type in proxy
  packages/server/src/controllers/proxy.ts
Due: eslint

finish migration
  packages/server/src/migrations/0.12.8-user-uuid.ts
  packages/server/src/models/EmailAuthorization.ts
  packages/server/src/models/User.ts
Due: eslint

adjust typings
  packages/app/src/components/UserProvider/index.tsx
  packages/server/src/controllers/appMembers.ts
  packages/server/src/controllers/organizations.test.ts
  packages/server/src/controllers/organizations.ts
  packages/server/src/controllers/resources.ts
  packages/server/src/controllers/user.test.ts
  packages/server/src/models/App.ts
  packages/server/src/models/AppRating.ts
  packages/server/src/models/AppSubscription.ts
  packages/server/src/models/Asset.ts
  packages/server/src/models/EmailAuthorization.ts
  packages/server/src/models/OAuth2AuthorizationCode.ts
  packages/server/src/models/OAuth2ClientCredentials.ts
  packages/server/src/models/OAuthAuthorization.ts
  packages/server/src/models/Organization.ts
  packages/server/src/models/OrganizationInvite.ts
  packages/server/src/models/ResetPasswordToken.ts
  packages/server/src/models/Resource.ts
  packages/server/src/models/User.ts
  packages/server/src/types.ts
  packages/server/src/utils/createJWTResponse.ts
  packages/studio/src/components/OrganizationsSettings/index.tsx
  packages/studio/src/components/Roles/index.tsx
  packages/studio/src/types.ts
  packages/types/index.d.ts
  packages/utils/src/api/components/schemas/User.ts
Due: eslint

update changelog
  CHANGELOG.md
  config/retext/personal.dic
Due: prettier, remark lint

adjust migration version
  packages/server/src/migrations/0.13.0-user-uuid.ts
  packages/server/src/migrations/index.ts
Due: eslint

use parseISO as fallback
  docs/guide/remappers.md
  packages/utils/src/remap.ts
Due: eslint, prettier, remark lint

Fix a type
  packages/server/src/routes/studioRouter/tokenHandler.ts
Due: eslint

Alphabetize personal.dic
  config/retext/personal.dic
Due: remark lint

clarify ‘official’ Appsemble blocks
  docs/blocks/blocks.md
Due: prettier, remark lint

Upgrade gatsby-remark-markdown
  package.json
  packages/scripts/package.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Generate user id in Helm chart
  config/charts/appsemble/templates/provision.yaml
Due: helm lint, prettier

update docs to clarify templates
  docs/blocks/blocks.md
  docs/development/developing-blocks.md
Due: prettier, remark lint

add mini-jsx template
  CHANGELOG.md
  packages/create-appsemble/templates/mini-jsx/.appsemblerc.yaml
  packages/create-appsemble/templates/mini-jsx/block.ts
  packages/create-appsemble/templates/mini-jsx/jest.config.js
  packages/create-appsemble/templates/mini-jsx/package.json
  packages/create-appsemble/templates/mini-jsx/src/index.css
  packages/create-appsemble/templates/mini-jsx/src/index.tsx
  packages/create-appsemble/templates/mini-jsx/tsconfig.json
Due: eslint, prettier, remark lint, stylelint

Fix link to release page on GitLab
  packages/studio/src/components/Toolbar/index.tsx
Due: eslint

enable uuid plugin when provisioning
  config/charts/appsemble/templates/provision.yaml
Due: helm lint, prettier

Add postgres uuid extension in init script
  config/charts/appsemble/templates/provision.yaml
  config/charts/appsemble/values.yaml
Due: helm lint, prettier

remove redundant key props
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaArrayEditor/index.tsx
Due: eslint

Code review + Merge branch 'Resource-CMS-input-fields-347' into upgrade-monaco-editor
  package-lock.json
  packages/sdk/src/index.ts
  packages/studio/src/components/Editor/index.tsx
  packages/studio/src/components/GUIEditor/index.tsx
  packages/studio/src/components/GUIEditorEditBlock/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaArrayEditor/index.tsx
Due: eslint, prettier

fix package.json
  package.json
  packages/studio/package.json
Due: prettier

Document required information for OAuth2 integration
  docs/guide/oauth2.md
Due: prettier, remark lint

process feedback
  blocks/stats/block.ts
  blocks/stats/package.json
  blocks/stats/src/index.tsx
  packages/create-appsemble/templates/mini-jsx/.appsemblerc.yaml
  packages/create-appsemble/templates/mini-jsx/block.ts
  packages/create-appsemble/templates/mini-jsx/jest.config.js
Due: eslint, prettier

save editted block
  packages/studio/src/components/Editor/index.tsx
  packages/studio/src/components/GUIEditor/index.tsx
  packages/studio/src/components/GUIEditorEditBlock/index.tsx
  packages/studio/src/components/MonacoEditor/index.tsx
Due: eslint

update docs
  CHANGELOG.md
  docs/blocks/detail-viewer.md
  docs/blocks/stats.md
Due: prettier, remark lint

Small fixs and UI tweaks
  packages/react-components/src/Title/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaArrayEditor/index.css
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaArrayEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaBooleanEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaEnumEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaEnumEditor/messages.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaLabel/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaObjectEditor/index.css
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaObjectEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaUnknownEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/RecursiveJSONSchemaEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/index.tsx
  packages/studio/src/components/ResourceTable/index.tsx
  packages/studio/src/types.ts
Due: eslint, stylelint
