Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency scanning, eslint, helm lint, prettier, remark lint, stylelint

Path conditions:
  dependency scanning: any of: yarn.lock
  eslint: any of: **/*.{js,jsx,ts,tsx}, yarn.lock
  helm lint: any of: config/charts/**/*.*
  prettier: any of: **/*.{html,json,md,scss,yaml,yml}, yarn.lock
  remark lint: any of: **/*.{dic,md}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock

Start Stepper refactor
  packages/studio/src/components/Editor/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorDelete/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorEditBlock/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorSelect/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorToolbox/index.tsx
  packages/studio/src/components/GUIEditor/components/Stepper/index.tsx
  packages/studio/src/components/GUIEditor/components/Stepper/messages.tsx
  packages/studio/src/components/GUIEditor/index.tsx
Due: eslint

Handlesubmit with event.preventDefault in Form component
  packages/react-components/src/Form/index.tsx
  packages/react-components/src/SimpleForm/index.tsx
  packages/studio/src/components/AppSettings/index.tsx
  packages/studio/src/components/Editor/index.tsx
  packages/studio/src/components/RateApp/index.tsx
  packages/studio/src/components/ResourceTable/index.tsx
Due: eslint

Add new notes example app
  apps/notes/app.yaml
Due: prettier

Add support for display names upon registration
  CHANGELOG.md
  packages/server/src/controllers/auth.test.ts
  packages/server/src/controllers/auth.ts
  packages/studio/src/components/Register/index.tsx
  packages/studio/src/components/Register/messages.tsx
  packages/utils/src/api/paths/emails.ts
Due: eslint, prettier, remark lint

Fix the headers for app details
  packages/studio/src/components/AppDetails/index.tsx
Due: eslint

Stepper reusable component, refactor GUIEditor flow
  packages/react-components/src/Form/index.tsx
  packages/react-components/src/Stepper/index.tsx
  packages/react-components/src/Stepper/messages.tsx
  packages/react-components/src/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorDelete/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorEditBlock/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorSelect/index.tsx
  packages/studio/src/components/GUIEditor/components/Stepper/index.css
  packages/studio/src/components/GUIEditor/index.tsx
Due: eslint, stylelint

Handle login redirect and state in OAuth2 login
  packages/app/src/components/OpenIDCallback/index.tsx
  packages/react-components/src/OAuth2LoginButton/index.tsx
  packages/studio/src/components/Login/index.tsx
  packages/studio/src/components/OAuth2Connect/index.tsx
  packages/web-utils/src/oauth2Login.ts
Due: eslint

Specify missing redirect prop in app
  packages/app/src/components/OpenIDLogin/index.tsx
Due: eslint

Simplify useLocationString hook
  packages/react-components/src/hooks/useLocationString.tsx
Due: eslint

revert unrelated changes
  packages/types/index.d.ts
Due: eslint

Fix redirect when connecting a new OAuth2 account
  packages/studio/src/components/OAuthSettings/index.tsx
Due: eslint

code review
  packages/react-components/src/Checkbox/index.tsx
  packages/react-components/src/Input/index.tsx
  packages/react-components/src/Select/index.css
  packages/react-components/src/Select/index.tsx
  packages/react-components/src/Textarea/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaBooleanEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaEnumEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaStringEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaUnknownEditor/index.tsx
Due: eslint, stylelint

add requirements to form
  blocks/form/block.ts
  blocks/form/src/components/StringInput/index.tsx
  blocks/form/src/index.tsx
  packages/preact-components/src/Input/index.tsx
Due: eslint

Apply 1 suggestion(s) to 1 file(s)
  packages/preact-components/src/RadioButton/index.tsx
Due: eslint

Apply 1 suggestion(s) to 1 file(s)
  packages/react-components/src/Select/index.tsx
Due: eslint

Fix TypeScript issue
  packages/web-utils/src/oauth2Login.test.ts
Due: eslint

Fix Prettier issue
  packages/react-components/src/Select/index.tsx
Due: eslint

Allow more JSON schema types in JSONSchemaEditor
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaArrayEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaEnumEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaLabel/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaStringEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/RecursiveJSONSchemaEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/types.ts
  packages/types/index.d.ts
Due: eslint

Make MonacoEditor work with React refs
  packages/react-components/src/applyRefs.test.ts
  packages/react-components/src/applyRefs.ts
  packages/react-components/src/index.tsx
  packages/studio/src/components/MonacoEditor/index.tsx
Due: eslint

Lower header level of Appsemble text in navbar
  packages/studio/src/components/Toolbar/index.css
  packages/studio/src/components/Toolbar/index.tsx
Due: eslint, stylelint

Simplify code for deleting an email address
  packages/react-components/src/Confirmation/index.tsx
  packages/studio/src/components/UserSettings/index.tsx
Due: eslint

Call the MonacoEditor with null on unmount
  packages/studio/src/components/MonacoEditor/index.tsx
Due: eslint

finish implementation of requirements in string fields
  blocks/form/README.md
  blocks/form/block.ts
  blocks/form/src/components/StringInput/index.tsx
  blocks/form/src/index.tsx
Due: eslint, prettier, remark lint

update changelog
  CHANGELOG.md
Due: prettier, remark lint

process feedback
  blocks/form/src/components/RadioInput/index.tsx
  packages/preact-components/src/Checkbox/index.tsx
  packages/preact-components/src/RadioGroup/index.tsx
Due: eslint

include ValidationError
  blocks/form/src/utils/ValidationError.ts
Due: eslint

Fix the request action for proxied requests
  packages/app/src/utils/actions/request.tsx
Due: eslint

move StringField requirement description to description of StringField
  blocks/form/README.md
  blocks/form/block.ts
Due: eslint, prettier, remark lint

add baseUrl in MarkdownContent
  packages/react-components/src/MarkdownContent/index.tsx
Due: eslint

remove inclusive
  blocks/form/block.ts
  blocks/form/src/index.tsx
Due: eslint

Introduce the useData hook
  packages/react-components/package.json
  packages/react-components/src/hooks/useData.tsx
  packages/react-components/src/index.tsx
  packages/studio/src/components/AppContext/index.tsx
  packages/studio/src/components/AppDetails/index.css
  packages/studio/src/components/AppDetails/index.tsx
  packages/studio/src/components/AppDetails/messages.tsx
  packages/studio/src/components/AppList/components/AppList/index.tsx
  packages/studio/src/components/AppList/components/CreateAppCard/index.tsx
  packages/studio/src/components/AppRatings/index.css
  packages/studio/src/components/AppRatings/index.tsx
  packages/studio/src/components/AppRatings/messages.tsx
  packages/studio/src/components/Assets/index.tsx
  packages/studio/src/components/BlockDetails/index.tsx
  packages/studio/src/components/BlockList/index.tsx
  packages/studio/src/components/ClientCredentials/index.tsx
  packages/studio/src/components/ClientCredentials/messages.tsx
  packages/studio/src/components/ResourceTable/index.tsx
  packages/studio/src/components/UserSettings/index.tsx
Due: eslint, prettier, stylelint

Ignore null refs in applyRefs
  packages/react-components/src/applyRefs.test.ts
  packages/react-components/src/applyRefs.ts
Due: eslint

Apply 1 suggestion(s) to 1 file(s)
  blocks/form/block.ts
Due: eslint

simplify min/MaxLength
  blocks/form/src/components/StringInput/index.tsx
Due: eslint

Guide app user to login screen on OAuth2 error
  packages/app/src/components/OpenIDCallback/index.tsx
  packages/app/src/components/OpenIDCallback/messages.tsx
Due: eslint

Remove blocks page.
  docs/blocks/blocks.md
Due: prettier, remark lint

Apply 1 suggestion(s) to 1 file(s)
  packages/react-components/src/Stepper/index.tsx
Due: eslint

apply suggestions stepper
  packages/react-components/src/Stepper/index.tsx
Due: eslint
