Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, prettier, stylelint, test:postgres

eslint:
  script:
  - yarn --frozen-lockfile
  - yarn eslint

prettier:
  script:
  - yarn --frozen-lockfile
  - yarn prettier

stylelint:
  script:
  - yarn --frozen-lockfile
  - yarn stylelint

test:postgres:
  services:
  - postgres:10.0
  variables:
    POSTGRES_DB: testAppsemble
    POSTGRES_USER: root
    POSTGRES_PASSWORD: password
    DATABASE_URL: postgresql://root:password@postgres:5432/testAppsemble
  script:
  - yarn --frozen-lockfile
  - yarn test

refactor: rename request to requestResetPassword
  editor/components/ResetPassword/ResetPassword.jsx
  editor/components/ResetPassword/index.jsx
Due: eslint

refactor: rename usernameLabel to emailLabel
  editor/components/ResetPassword/ResetPassword.jsx
  editor/components/ResetPassword/messages.jsx
Due: eslint

test: await token reload
  api/controllers/auth.test.js
Due: eslint, test:postgres

refactor: remove usage of querystring packages
  api/server.js
  editor/components/Login/Login.jsx
Due: eslint, test:postgres

style(editor): use capitalization for CSS files
  editor/components/App/App.css
  editor/components/App/App.jsx
  editor/components/AppList/components/AppList/AppList.css
  editor/components/AppList/components/AppList/AppList.jsx
  editor/components/AppList/components/CreateAppCard/CreateAppCard.css
  editor/components/AppList/components/CreateAppCard/CreateAppCard.jsx
  editor/components/EditPassword/EditPassword.css
  editor/components/EditPassword/EditPassword.jsx
  editor/components/Editor/Editor.css
  editor/components/Editor/Editor.jsx
  editor/components/Editor/components/MonacoEditor/MonacoEditor.css
  editor/components/Editor/components/MonacoEditor/MonacoEditor.jsx
  editor/components/Register/Register.css
  editor/components/Register/Register.jsx
  editor/components/ResetPassword/ResetPassword.css
  editor/components/ResetPassword/ResetPassword.jsx
Due: eslint, prettier, stylelint

refactor: separate google/gitlab oauth cli arguments into two for each
  api/README.md
  api/server.js
Due: eslint, prettier, test:postgres

style(editor): unalias injected redux actions
  editor/components/EditPassword/EditPassword.jsx
  editor/components/EditPassword/index.jsx
  editor/components/Register/Register.jsx
  editor/components/Register/index.jsx
Due: eslint

refactor(editor): remove unused dependency
  editor/package.json
Due: prettier

refactor: use boom NotFound for unsupported providers
  api/server.js
Due: eslint, test:postgres

refactor: remove reference to non-existent file mock
  jest.config.js
Due: eslint

refactor: await handleOAuthLogin
  editor/components/Login/Login.jsx
Due: eslint

style: remove unused stylelint-disable comments
  app/components/SideNavigation/SideNavigation.css
  apps/unlittered/amsterdam.css
  blocks/action-button/amsterdam.css
  blocks/amsterdam-splash/index.css
  blocks/detail-viewer/amsterdam.css
  blocks/detail-viewer/components/StringRenderer/FileRenderer/FileRenderer.css
  blocks/form/components/FileInput/FileEntry.css
  editor/components/AppList/components/AppList/AppList.css
  editor/components/AppList/components/CreateAppCard/CreateAppCard.css
  editor/components/Editor/Editor.css
  package.json
  packages/react-components/components/Loader/loader.css
  packages/react-components/components/Message/Message.css
Due: prettier, stylelint

refactor: use URLSearchParams to escape location.pathname
  editor/components/Login/Login.jsx
Due: eslint

style: fix casing of CSS file in react-components
  packages/react-components/components/Loader/Loader.css
  packages/react-components/components/Loader/Loader.jsx
Due: eslint, prettier, stylelint

refactor: remove unused react key
  editor/components/Login/Login.jsx
Due: eslint

refactor: use findOrCreate for saving auth keys
  api/server.js
Due: eslint, test:postgres

refactor: removed unused return
  editor/components/Login/Login.jsx
Due: eslint

refactor: use boom internal server errors instead of manually setting status codes
  api/server.js
Due: eslint, test:postgres

refactor: refactored login buttons into component
  editor/components/Login/Login.jsx
  packages/react-bulma/base/Fab/Fab.jsx
  packages/react-bulma/base/Fab/index.jsx
  packages/react-bulma/base/index.jsx
  packages/react-bulma/composed/SocialLoginButton/SocialLoginButton.jsx
  packages/react-bulma/composed/SocialLoginButton/index.jsx
  packages/react-bulma/composed/index.jsx
Due: eslint

docs: add social login changelog
  CHANGELOG.md
Due: eslint, prettier

fix: extract auth object from findOrCreate() call
  api/server.js
Due: eslint, test:postgres

test: remove options from root database connection
  api/utils/test/testSchema.js
Due: eslint, test:postgres

ci: publish junit reports as artifacts
  .gitignore
  .gitlab-ci.yml
  package.json
  yarn.lock
Due: eslint, prettier, stylelint, test:postgres

build: fix stylelint usage
  .gitlab-ci.yml
  package.json
Due: prettier

feat: include api definition in koa context for easy access within koa handlers
  api/server.js
Due: eslint, test:postgres

feat: convert /apps/ POST to use multipart/formdata instead of json
  api/api/paths/apps.yaml
  api/controllers/apps.js
  api/package.json
  yarn.lock
Due: eslint, prettier, stylelint, test:postgres

feat: allow inclusion of boom error data
  api/middleware/boom.js
  api/middleware/boom.test.js
Due: eslint, test:postgres

feat: improve error handling in create app method
  api/controllers/apps.js
Due: eslint, test:postgres

fix: convert css to string
  api/controllers/apps.js
Due: eslint, test:postgres

fix(api): fix the help message of the backend
  api/server.js
Due: eslint, test:postgres

fix: use app path if it is defined
  api/controllers/apps.js
Due: eslint, test:postgres

test: update tests to use multipart
  api/controllers/apps.test.js
Due: eslint, test:postgres

refactor: update app update method to use multipart
  api/api/paths/apps.yaml
Due: prettier

feat: implement multipart for app update
  api/controllers/apps.js
  api/controllers/apps.test.js
Due: eslint, test:postgres

refactor: move css validation to utils
  api/controllers/apps.js
  api/package.json
  packages/utils/package.json
  packages/utils/validateStyle.js
  packages/utils/validateStyle.test.js
  yarn.lock
Due: eslint, prettier, stylelint, test:postgres

refactor: use multipart/formdata when updating apps
  editor/actions/apps.js
Due: eslint

feat: implement css validation
  editor/components/Editor/Editor.jsx
  editor/components/Editor/messages.jsx
Due: eslint

feat: implement method of injecting style in preview window
  app/index.jsx
Due: eslint

fix: include idb dependency in utils
  packages/utils/package.json
Due: prettier

Path conditions:
  eslint: any of: **/*.{js,jsx,md}, yarn.lock
  prettier: any of: **/*.{css,json,md,yaml,yml}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock
  test:postgres: any of: api/**/*.js, yarn.lock
