Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, prettier, stylelint, test:postgres

eslint:
  script:
  - yarn --frozen-lockfile
  - yarn eslint

prettier:
  script:
  - yarn --frozen-lockfile
  - yarn prettier

stylelint:
  script:
  - yarn --frozen-lockfile
  - yarn stylelint

test:postgres:
  services:
  - postgres:10.0
  variables:
    POSTGRES_DB: testAppsemble
    POSTGRES_USER: root
    POSTGRES_PASSWORD: password
    DATABASE_URL: postgresql://root:password@postgres:5432/testAppsemble
  script:
  - yarn --frozen-lockfile
  - yarn test

refactor: refactor duplicate code into function
  app/index.jsx
Due: eslint

refactor: remove duplicate id on cloned node
  app/components/Block/Block.jsx
Due: eslint

refactor: rename appsemble-editor-preview-style-x to appsemble-style-x
  api/routes/indexHandler/index.pug
  app/components/Block/Block.jsx
  app/index.jsx
Due: eslint

refactor: make oauth register prompt slightly prettier
  editor/components/Login/Login.css
  editor/components/Login/Login.jsx
  editor/components/Login/messages.jsx
Due: eslint, prettier, stylelint

feat: add oauth-server as cli argument
  api/server.js
Due: eslint, test:postgres

refactor: default oauth-server to 'http://localhost:9999'
  api/server.js
Due: eslint, test:postgres

test: fix coverage collection globs in jest config
  jest.config.js
Due: eslint

refactor(server): better organize code
  CHANGELOG.md
  Dockerfile
  package.json
  server/README.md
  server/commands/builder/database.js
  server/commands/initialize.js
  server/commands/start.js
  server/controllers/apps.test.js
  server/controllers/assets.test.js
  server/controllers/auth.test.js
  server/controllers/blocks.test.js
  server/controllers/resources.test.js
  server/index.js
  server/server.js
  server/utils/createServer.js
Due: eslint, prettier

fix(server): fix issues from code review
  README.md
  server/commands/start.js
Due: eslint, prettier

fix: restore grant code
  server/utils/createServer.js
Due: eslint

fix(server): fix OAuth2 login
  package.json
  server/commands/start.js
Due: eslint, prettier

ci: add eslint-formatter-gitlab
  .gitignore
  .gitlab-ci.yml
  package.json
  yarn.lock
Due: eslint, prettier, stylelint, test:postgres

fix: use push function from props
  editor/components/AppList/components/CreateAppCard/CreateAppCard.jsx
Due: eslint

feat: handle 'no blocks found' error
  editor/components/AppList/components/CreateAppCard/CreateAppCard.jsx
  editor/components/AppList/components/CreateAppCard/messages.jsx
  editor/package.json
Due: eslint, prettier

refactor: removed usage of lodash.uniq
  editor/components/AppList/components/CreateAppCard/CreateAppCard.jsx
  editor/components/AppList/components/CreateAppCard/messages.jsx
  editor/package.json
Due: eslint, prettier

refactor: move amsterdam-splash to splash
  blocks/splash/package.json
  blocks/splash/src/animation-loop.gif
  blocks/splash/src/animation-start.gif
  blocks/splash/src/background.svg
  blocks/splash/src/check.svg
  blocks/splash/src/cross.svg
  blocks/splash/src/index.css
  blocks/splash/src/index.jsx
Due: eslint, prettier, stylelint

test: increase timeout for async jest tests
  config/jest/setupTestFramework.js
Due: eslint

docs: fix some small typo
  CONTRIBUTING.md
Due: eslint, prettier

style: make sure the line is not to long
  CONTRIBUTING.md
Due: eslint, prettier

ci: remove changes only filters
  .gitlab-ci.yml
Due: prettier

refactor: bump dependencies
  app/package.json
  editor/package.json
  package.json
  packages/cli/package.json
  packages/utils/package.json
  server/package.json
  yarn.lock
Due: eslint, prettier, stylelint, test:postgres

fix: fix typo in Grant config
  server/commands/start.js
Due: eslint

feat: associate app to organization
  server/utils/setupModels.js
Due: eslint

fix: don't allow users without organizations
  server/utils/setupModels.js
Due: eslint

feat: create a new organization by default when registering users
  server/commands/initialize.js
  server/controllers/auth.js
Due: eslint

feat: include organization info in jwt
  server/middleware/oauth2Model.js
  server/utils/setupModels.js
Due: eslint

feat: add organizationId to app creation api endpoint
  server/api/paths/apps.yaml
  server/controllers/apps.js
  server/middleware/oauth2Model.js
Due: eslint, prettier

test: update and include tests for organizationId in app creation
  server/controllers/apps.test.js
  server/utils/test/testToken.js
Due: eslint

feat: include user organizations in user state
  editor/actions/user.js
  editor/components/AppList/components/CreateAppCard/index.jsx
Due: eslint

feat: implement option to disable select fields
  packages/react-bulma/composed/Select/Select.jsx
  packages/react-bulma/composed/SelectField/SelectField.jsx
Due: eslint

feat: add option to select organizations (if user has more than 1)
  editor/actions/apps.js
  editor/components/AppList/components/CreateAppCard/CreateAppCard.jsx
  editor/components/AppList/components/CreateAppCard/messages.jsx
Due: eslint

feat: implement organization check when updating apps
  server/controllers/apps.js
Due: eslint

test: add tests for organization check when updating apps
  server/controllers/apps.test.js
Due: eslint

feat(editor): implement error check for forbidden uploads
  editor/components/Editor/Editor.jsx
  editor/components/Editor/messages.jsx
Due: eslint

feat(api): implement filtered get apps method
  server/api/paths/apps.yaml
  server/controllers/apps.js
Due: eslint, prettier

feat(editor): get editable apps in editor
  editor/actions/apps.js
Due: eslint

test: include /api/apps/me test
  server/controllers/apps.test.js
Due: eslint

feat(create): add @appsemble/create for bootstrapping blocks
  packages/create/README.md
  packages/create/bin/create-appsemble
  packages/create/commands/block.js
  packages/create/index.js
  packages/create/lib/AppsembleError.js
  packages/create/lib/create/vanilla.js
  packages/create/lib/handleError.js
  packages/create/lib/initLogging.js
  packages/create/package.json
  packages/create/templates/.eslintrc.js
  packages/create/templates/vanilla/.appsemblerc.yaml
  packages/create/templates/vanilla/src/index.js
  yarn.lock
Due: eslint, prettier, stylelint, test:postgres

feat(cli): allow to start the server using the CLI
  package.json
  packages/cli/commands/start.js
  packages/cli/lib/serverImport.js
  packages/cli/main.js
  server/commands/start.js
Due: eslint, prettier

Path conditions:
  eslint: any of: **/*.{js,jsx,md}, yarn.lock
  prettier: any of: **/*.{css,json,md,yaml,yml}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock
  test:postgres: any of: api/**/*.js, yarn.lock
