Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency scanning, eslint, helm lint, prettier, remark lint, stylelint

dependency scanning:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  allow_failure: true
  script:
  - yarn gitlab-yarn-audit
  artifacts:
    reports:
      dependency_scanning: gl-dependency-scanning.json

eslint:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn eslint --format gitlab .
  artifacts:
    reports:
      codequality: gl-codequality.json

helm lint:
  image:
    name: lachlanevenson/k8s-helm:v3.1.0
    entrypoint:
    - /bin/sh
    - -c
  dependencies: []
  script:
  - helm lint config/charts/*

prettier:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn prettier .

remark lint:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn remark --frail .

stylelint:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn stylelint .

Remove double / in edit link
  packages/cli/src/lib/createApp.ts
  packages/cli/src/lib/updateApp.ts
Due: eslint

Fix tests
  packages/server/src/controllers/oauth2Login.test.ts
  packages/server/src/controllers/oauth2Login.ts
  packages/server/src/utils/getUserInfo.test.ts
  packages/server/src/utils/getUserInfo.ts
Due: eslint

Implement sequelize-typescript
  packages/server/package.json
  packages/server/src/controllers/appMembers.ts
  packages/server/src/controllers/appNotifications.test.ts
  packages/server/src/controllers/organizations.test.ts
  packages/server/src/controllers/organizations.ts
  packages/server/src/controllers/resources.ts
  packages/server/src/controllers/user.test.ts
  packages/server/src/controllers/user.ts
  packages/server/src/models/App.ts
  packages/server/src/models/AppBlockStyle.ts
  packages/server/src/models/AppMember.ts
  packages/server/src/models/AppRating.ts
  packages/server/src/models/AppSubscription.ts
  packages/server/src/models/Asset.ts
  packages/server/src/models/BlockAsset.ts
  packages/server/src/models/BlockVersion.ts
  packages/server/src/models/EmailAuthorization.ts
  packages/server/src/models/Member.ts
  packages/server/src/models/Meta.ts
  packages/server/src/models/OAuth2AuthorizationCode.ts
  packages/server/src/models/OAuth2ClientCredentials.ts
  packages/server/src/models/OAuthAuthorization.ts
  packages/server/src/models/Organization.ts
  packages/server/src/models/OrganizationBlockStyle.ts
  packages/server/src/models/OrganizationInvite.ts
  packages/server/src/models/ResetPasswordToken.ts
  packages/server/src/models/Resource.ts
  packages/server/src/models/ResourceSubscription.ts
  packages/server/src/models/User.ts
  packages/server/src/models/index.ts
  packages/server/src/routes/studioRouter/tokenHandler.test.ts
  tsconfig.build.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Remove commented code
  packages/server/src/models/BlockAsset.ts
Due: eslint

Fix the initial state for OrganizationProvider
  packages/studio/src/components/OrganizationProvider/index.tsx
Due: eslint

Move randomString to new web-utils package
  packages/studio/package.json
  packages/studio/src/components/SocialLoginButton/index.tsx
  packages/web-utils/README.md
  packages/web-utils/jest.config.js
  packages/web-utils/jest.setup.ts
  packages/web-utils/package.json
  packages/web-utils/src/index.ts
  packages/web-utils/src/randomString.test.ts
  packages/web-utils/src/randomString.ts
  packages/web-utils/tsconfig.json
Due: eslint, prettier, remark lint

Enable TypeScript source maps
  tsconfig.build.json
Due: prettier

Make Permission an actual enum
  packages/server/src/controllers/appMembers.ts
  packages/server/src/controllers/appNotifications.ts
  packages/server/src/controllers/apps.ts
  packages/server/src/controllers/assets.ts
  packages/server/src/controllers/blocks.ts
  packages/server/src/controllers/organizations.ts
  packages/server/src/controllers/resources.ts
  packages/server/src/controllers/templates.ts
  packages/server/src/utils/checkRole.ts
  packages/studio/src/components/AppContext/index.tsx
  packages/studio/src/components/AppDetails/index.tsx
  packages/studio/src/components/AppList/components/AppList/index.tsx
  packages/studio/src/components/AppSideMenu/index.tsx
  packages/studio/src/components/OrganizationsSettings/index.tsx
  packages/utils/src/constants/Permission.ts
  packages/utils/src/constants/index.ts
  packages/utils/src/constants/permissions.ts
  packages/utils/src/constants/roles.ts
Due: eslint

Fix up jest config
  packages/web-utils/jest.config.js
Due: eslint

Small tweaks and fixes for Button and IconButton
  packages/react-components/src/Button/index.tsx
  packages/react-components/src/IconButton/index.css
  packages/react-components/src/IconButton/index.tsx
Due: eslint, stylelint

Apply suggestion to packages/server/src/controllers/resources.ts
  packages/server/src/controllers/resources.ts
Due: eslint

Fix the usage of commandDir in production
  packages/cli/src/commands/app.ts
  packages/cli/src/commands/auth.ts
  packages/cli/src/commands/block.ts
  packages/cli/src/commands/config.ts
  packages/cli/src/commands/theme.ts
  packages/cli/src/index.ts
  packages/create-appsemble/src/index.ts
  packages/node-utils/src/commandDirOptions.test.ts
  packages/node-utils/src/commandDirOptions.ts
  packages/node-utils/src/index.ts
Due: eslint

Change type of label to remapper
  CHANGELOG.md
  blocks/button-list/block.ts
  blocks/button-list/src/components/Button/index.tsx
  blocks/button-list/src/index.tsx
Due: eslint, prettier, remark lint

Always return 200 on subscription request
  packages/app/src/utils/actions/resource.tsx
  packages/server/src/controllers/resources.ts
  packages/utils/src/api/paths/resources.ts
Due: eslint

Fix flashing of monaco editor when typing
  packages/studio/src/components/MonacoEditor/index.tsx
Due: eslint

update tests
  packages/server/src/controllers/resources.test.ts
Due: eslint

Reuse OAuth2 login logic between app and studio
  packages/app/src/components/OpenIDCallback/index.tsx
  packages/app/src/components/OpenIDLogin/index.css
  packages/app/src/components/OpenIDLogin/index.tsx
  packages/app/src/components/OpenIDLogin/messages.tsx
  packages/app/src/utils/redirectOAuth2.tsx
  packages/react-components/src/OAuth2LoginButton/index.tsx
  packages/react-components/src/index.tsx
  packages/studio/src/components/Login/index.tsx
  packages/studio/src/components/OAuth2Connect/index.tsx
  packages/studio/src/components/OAuthSettings/index.tsx
  packages/studio/src/components/SocialLoginButton/index.tsx
  packages/web-utils/jest.setup.ts
  packages/web-utils/src/index.ts
  packages/web-utils/src/oauth2Login.test.ts
  packages/web-utils/src/oauth2Login.ts
  packages/web-utils/src/randomString.test.ts
Due: eslint, stylelint

Remove MonacoEditor theme prop
  packages/studio/src/components/MonacoEditor/index.tsx
Due: eslint

Move monaco specific CSS into MonacoEditor
  packages/studio/src/components/MonacoEditor/index.css
  packages/studio/src/index.css
Due: stylelint

Move urlB64ToUint8Array to @appsemble/web-utils
  packages/app/src/components/ServiceWorkerRegistrationProvider/index.tsx
  packages/web-utils/src/index.ts
  packages/web-utils/src/urlB64ToUint8Array.ts
Due: eslint

Add tests for urlB64ToUint8Array
  packages/web-utils/src/urlB64ToUint8Array.test.ts
Due: eslint

Simplify urlB64ToUint8Array
  packages/web-utils/src/urlB64ToUint8Array.test.ts
  packages/web-utils/src/urlB64ToUint8Array.ts
Due: eslint

Add base64 string containing a slash
  packages/web-utils/src/urlB64ToUint8Array.test.ts
Due: eslint

Test code for urlencoded base64
  packages/web-utils/src/urlB64ToUint8Array.test.ts
Due: eslint

Add tsdoc for urlB64ToUint8Array
  packages/web-utils/src/urlB64ToUint8Array.ts
Due: eslint

Prettify test output
  packages/web-utils/src/urlB64ToUint8Array.test.ts
Due: eslint

Add test scripts to all packages
  blocks/action-button/package.json
  blocks/button-list/package.json
  blocks/data-loader/package.json
  blocks/detail-viewer/package.json
  blocks/feed/package.json
  blocks/filter/package.json
  blocks/form/package.json
  blocks/list/package.json
  blocks/map/package.json
  blocks/markdown/package.json
  blocks/stats/package.json
  blocks/table/package.json
  packages/app/package.json
  packages/appsemble/package.json
  packages/cli/package.json
  packages/create-appsemble/package.json
  packages/node-utils/package.json
  packages/preact-components/package.json
  packages/preact/package.json
  packages/react-components/package.json
  packages/react/package.json
  packages/scripts/package.json
  packages/scripts/src/commands/validate.ts
  packages/sdk/package.json
  packages/server/package.json
  packages/service-worker/package.json
  packages/studio/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/web-utils/package.json
Due: eslint, prettier

implement chaining actions
  packages/app/src/types.ts
  packages/app/src/utils/actions/request.tsx
  packages/app/src/utils/makeActions.tsx
  packages/types/index.d.ts
Due: eslint

ensure actions return data
  packages/app/src/utils/actions/dialog.tsx
  packages/app/src/utils/actions/event.tsx
  packages/app/src/utils/actions/link.tsx
  packages/app/src/utils/actions/log.tsx
Due: eslint

update docs
  CHANGELOG.md
  docs/reference/action.md
Due: prettier, remark lint

resolve feedback
  packages/app/src/utils/actions/dialog.tsx
  packages/app/src/utils/actions/link.tsx
  packages/types/index.d.ts
Due: eslint

refactoring of EditorNavbar
  packages/studio/src/components/Editor/components/EditorNavBar/index.css
  packages/studio/src/components/Editor/components/EditorNavBar/index.tsx
  packages/studio/src/components/Editor/components/EditorNavBar/messages.tsx
  packages/studio/src/components/Editor/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorEditBlock/index.tsx
  packages/studio/src/components/JSONSchemaEditor/types.ts
  packages/types/index.d.ts
Due: eslint, stylelint

Reuse the OAuth2Provider type
  packages/studio/src/components/OAuthSettings/index.tsx
  packages/studio/src/types.ts
  packages/types/index.d.ts
  packages/web-utils/src/oauth2Login.ts
Due: eslint

Implement Message action
  CHANGELOG.md
  docs/reference/action.md
  packages/app/src/components/Block/index.tsx
  packages/app/src/components/FlowPage/index.tsx
  packages/app/src/types.ts
  packages/app/src/utils/actions/index.tsx
  packages/app/src/utils/actions/message.tsx
  packages/app/src/utils/makeActions.tsx
  packages/react-components/src/hooks/useMessages.tsx
  packages/react-components/src/index.tsx
  packages/sdk/src/types.ts
  packages/types/index.d.ts
Due: eslint, prettier, remark lint

fix type imports
  packages/app/src/types.ts
  packages/app/src/utils/makeActions.tsx
  packages/sdk/src/index.ts
  packages/sdk/src/types.ts
  packages/types/index.d.ts
Due: eslint

Apply 1 suggestion(s) to 1 file(s)
  packages/react-components/src/hooks/useMessages.tsx
Due: eslint

add null check to actionDefinition
  packages/app/src/utils/makeActions.tsx
Due: eslint

Enhance Axios configuration
  packages/cli/package.json
  packages/cli/src/lib/initAxios.ts
  packages/node-utils/package.json
  packages/node-utils/src/index.ts
  packages/node-utils/src/interceptors.test.ts
  packages/node-utils/src/interceptors.ts
  packages/node-utils/src/logger.ts
  packages/server/src/index.ts
Due: eslint, prettier

Path conditions:
  dependency scanning: any of: yarn.lock
  eslint: any of: **/*.{js,jsx,ts,tsx}, yarn.lock
  helm lint: any of: config/charts/**/*.*
  prettier: any of: **/*.{html,json,md,scss,yaml,yml}, yarn.lock
  remark lint: any of: **/*.{dic,md}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock
