Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency scanning, eslint, helm lint, prettier, remark lint, stylelint

Path conditions:
  dependency scanning: any of: yarn.lock
  eslint: any of: **/*.{js,jsx,ts,tsx}, yarn.lock
  helm lint: any of: config/charts/**/*.*
  prettier: any of: **/*.{html,json,md,scss,yaml,yml}, yarn.lock
  remark lint: any of: **/*.{dic,md}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock

use remappers for block headers
  docs/reference/page.md
  packages/app/src/components/Block/index.tsx
Due: eslint, prettier, remark lint

mention block organization in docs
  docs/development/developing-blocks.md
Due: prettier, remark lint

Apply suggestion to packages/scripts/src/commands/release.ts
  packages/scripts/src/commands/release.ts
Due: eslint

Include mdx files when replacing versions
  packages/scripts/src/commands/release.ts
Due: eslint

Fix types for CLI
  packages/cli/package.json
Due: prettier

update docs
  CHANGELOG.md
  blocks/list/src/components/ListItem/index.tsx
  docs/blocks/list.md
Due: eslint, prettier, remark lint

update block labels based on selected block
  packages/studio/src/components/Editor/index.css
  packages/studio/src/components/Editor/index.tsx
Due: eslint, stylelint

Postfix AppDefinition nested types with Definition
  packages/app/src/components/Block/index.tsx
  packages/app/src/components/BlockList/index.tsx
  packages/app/src/components/BottomNavigation/index.tsx
  packages/app/src/components/FlowPage/index.tsx
  packages/app/src/components/Navigation/index.tsx
  packages/app/src/components/Page/index.test.tsx
  packages/app/src/components/Page/index.tsx
  packages/app/src/components/SideNavigation/index.tsx
  packages/app/src/components/TabsPage/index.tsx
  packages/app/src/types.ts
  packages/app/src/utils/actions/resource.tsx
  packages/app/src/utils/makeActions.tsx
  packages/types/index.d.ts
  packages/utils/src/blockUtils.ts
  packages/utils/src/getAppBlocks.ts
Due: eslint

Fix ID association in FileUpload component
  CHANGELOG.md
  packages/react-components/src/FileUpload/index.tsx
Due: eslint, prettier, remark lint

Add static remapper function
  docs/guide/remappers.md
  packages/types/index.d.ts
  packages/utils/src/api/components/schemas/Block.ts
  packages/utils/src/remap.test.ts
  packages/utils/src/remap.ts
Due: eslint, prettier, remark lint

Fix TypeScript issue
  packages/server/src/controllers/proxy.test.ts
Due: eslint

Update basic app guide docs
  docs/guide/basic-app.md
Due: prettier, remark lint

Update changelog
  CHANGELOG.md
Due: prettier, remark lint

delete blocks and editlocation improvements
  packages/studio/src/components/GUIEditor/components/GUIEditorDelete/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorDelete/messages.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorEditBlock/index.tsx
  packages/studio/src/components/GUIEditor/index.tsx
  packages/studio/src/components/MonacoEditor/index.tsx
Due: eslint

Bump dependencies
  .eslintrc.js
  blocks/detail-viewer/src/index.tsx
  blocks/filter/package.json
  blocks/form/src/index.tsx
  blocks/markdown/package.json
  package.json
  packages/@types-wesselkuipers__odata-sequelize/index.d.ts
  packages/@types-wesselkuipers__odata-sequelize/package.json
  packages/@types-wesselkuipers__odata-sequelize/tsconfig.json
  packages/app/package.json
  packages/cli/package.json
  packages/cli/src/lib/getBlockConfigFromTypeScript.test.ts
  packages/node-utils/package.json
  packages/node-utils/src/loggerMiddleware.test.ts
  packages/preact/package.json
  packages/preact/src/index.tsx
  packages/react-components/package.json
  packages/react-components/src/Button/index.tsx
  packages/react-components/src/SimpleInput/index.tsx
  packages/scripts/package.json
  packages/scripts/src/index.ts
  packages/server/package.json
  packages/server/src/controllers/organizations.ts
  packages/server/src/middleware/frontend.ts
  packages/server/src/routes/appRouter/indexHandler.test.ts
  packages/studio/package.json
  packages/studio/src/components/AppSettings/index.tsx
  packages/utils/package.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Add support for label and icon in file input component
  blocks/form/src/components/FileInput/index.css
  blocks/form/src/components/FileInput/index.tsx
Due: eslint, stylelint

add check for when there are no fields defined
  blocks/list/src/components/ListItem/index.tsx
Due: eslint

only apply bottom margin if fields are present
  blocks/list/src/components/ListItem/index.tsx
Due: eslint

Apply suggestion to blocks/form/src/components/FileInput/index.tsx
  blocks/form/src/components/FileInput/index.tsx
Due: eslint

fix feedback
  blocks/list/package.json
  blocks/list/src/components/ListItem/index.tsx
Due: eslint, prettier

Fix type error
  packages/react-components/src/Calendar/index.tsx
Due: eslint

Bump more dependencies
  package.json
  packages/@types-remark-rehype/index.d.ts
  packages/@types-remark-rehype/package.json
  packages/@types-remark-rehype/tsconfig.json
  packages/server/package.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Remove unwanted blank lines
  packages/server/src/controllers/templates.test.ts
  packages/server/src/controllers/user.test.ts
  packages/server/src/routes/studioRouter/indexHandler.test.ts
  packages/server/src/routes/studioRouter/tokenHandler.test.ts
Due: eslint

add basic block list page
  packages/studio/src/components/App/index.tsx
  packages/studio/src/components/Assets/index.tsx
  packages/studio/src/components/BlockList/components/BlockCard/index.css
  packages/studio/src/components/BlockList/components/BlockCard/index.tsx
  packages/studio/src/components/BlockList/components/BlockCard/messages.tsx
  packages/studio/src/components/BlockList/index.css
  packages/studio/src/components/BlockList/index.tsx
  packages/studio/src/components/BlockList/messages.tsx
  packages/studio/src/components/Tabs/index.tsx
Due: eslint, stylelint

gui editor select and delete
  packages/studio/src/components/Editor/index.tsx
  packages/studio/src/components/Editor/messages.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorDelete/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorDelete/messages.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorSelect/index.css
  packages/studio/src/components/GUIEditor/components/GUIEditorSelect/index.tsx
  packages/studio/src/components/GUIEditor/index.tsx
  packages/studio/src/components/MonacoEditor/index.tsx
Due: eslint, stylelint

Replace Grant with custom OAuth2 login logic
  package.json
  packages/@types-grant/index.d.ts
  packages/@types-grant/package.json
  packages/@types-grant/tsconfig.json
  packages/react-components/src/Button/index.tsx
  packages/server/package.json
  packages/server/src/controllers/auth.ts
  packages/server/src/controllers/oauth2.ts
  packages/server/src/middleware/oauth2.ts
  packages/server/src/models/OAuthAuthorization.ts
  packages/server/src/routes/studioRouter/index.ts
  packages/server/src/routes/studioRouter/indexHandler.ts
  packages/server/src/routes/studioRouter/oauth2CallbackHandler.ts
  packages/server/src/utils/OAuth2Presets.ts
  packages/server/src/utils/createServer.ts
  packages/server/src/utils/getUserInfo.ts
  packages/studio/jest.setup.ts
  packages/studio/src/components/App/index.tsx
  packages/studio/src/components/Login/index.tsx
  packages/studio/src/components/OAuth2Connect/index.tsx
  packages/studio/src/components/OAuth2Connect/messages.tsx
  packages/studio/src/components/SocialLoginButton/index.tsx
  packages/studio/src/types.ts
  packages/studio/src/utils/randomString.test.ts
  packages/studio/src/utils/randomString.ts
  packages/types/index.d.ts
  packages/utils/src/api/paths/oauth.ts
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

fix FileRenderer’s URL resolution
  blocks/detail-viewer/block.ts
  blocks/detail-viewer/src/components/FileRenderer/index.tsx
  blocks/detail-viewer/src/components/ImageField/index.tsx
Due: eslint

Apply suggestion to blocks/detail-viewer/src/components/ImageField/index.tsx
  blocks/detail-viewer/src/components/ImageField/index.tsx
Due: eslint

adjust css of blockCard
  packages/studio/src/components/App/index.tsx
  packages/studio/src/components/BlockList/components/BlockCard/index.css
  packages/studio/src/components/BlockList/components/BlockCard/index.tsx
  packages/studio/src/components/BlockList/components/BlockCard/messages.tsx
  packages/studio/src/components/BlockList/index.css
  packages/studio/src/components/Tabs/index.tsx
Due: eslint, stylelint

Better categorize OAuth2 related code
  packages/server/src/controllers/index.ts
  packages/server/src/controllers/oauth2ClientCredentials.test.ts
  packages/server/src/controllers/oauth2ClientCredentials.ts
  packages/server/src/controllers/oauth2Login.ts
  packages/server/src/controllers/oauth2Provider.test.ts
  packages/server/src/controllers/oauth2Provider.ts
  packages/utils/src/api/paths/index.ts
  packages/utils/src/api/paths/oauth2ClientCredentials.ts
  packages/utils/src/api/paths/oauth2Login.ts
  packages/utils/src/api/paths/oauth2Provider.ts
Due: eslint

Fix formatting issue
  blocks/detail-viewer/src/components/ImageField/index.tsx
Due: eslint

code review and lots of fixes
  packages/react-components/src/Button/index.tsx
  packages/studio/src/components/Editor/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorDelete/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorEditBlock/index.css
  packages/studio/src/components/GUIEditor/components/GUIEditorEditBlock/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorEditBlock/messages.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorToolbox/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorToolbox/messages.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorToolboxBlock/index.css
  packages/studio/src/components/GUIEditor/components/GUIEditorToolboxBlock/index.tsx
  packages/studio/src/components/GUIEditor/components/Stepper/index.css
  packages/studio/src/components/GUIEditor/components/Stepper/index.tsx
  packages/studio/src/components/GUIEditor/components/Stepper/messages.tsx
  packages/studio/src/components/GUIEditor/index.tsx
  packages/utils/src/blockUtils.ts
Due: eslint, stylelint

add page for rendering out block details
  packages/studio/src/components/App/index.tsx
  packages/studio/src/components/BlockDetails/index.css
  packages/studio/src/components/BlockDetails/index.tsx
  packages/studio/src/components/BlockDetails/messages.tsx
  packages/studio/src/components/BlockList/index.tsx
Due: eslint, stylelint

merge + fixes
  packages/studio/src/components/GUIEditor/components/GUIEditorDelete/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorEditBlock/index.tsx
  packages/studio/src/components/GUIEditor/index.tsx
Due: eslint

add blocks link to dropdown menu
  packages/studio/src/components/ProfileDropdown/index.tsx
  packages/studio/src/components/ProfileDropdown/messages.tsx
Due: eslint

Add more tests and code cleanup
  packages/server/src/controllers/auth.ts
  packages/server/src/controllers/oauth2Login.test.ts
  packages/server/src/controllers/oauth2Login.ts
  packages/server/src/models/OAuthAuthorization.ts
  packages/server/src/routes/studioRouter/indexHandler.test.ts
  packages/server/src/types.ts
  packages/server/src/utils/getUserInfo.test.ts
  packages/server/src/utils/getUserInfo.ts
  packages/types/index.d.ts
Due: eslint

Add a migration for OAuthAuthorization
  packages/server/src/migrations/0.13.1-oauth2-login-fixes.ts
  packages/server/src/migrations/index.ts
Due: eslint

Enable codecov
  .gitlab-ci.yml
Due: prettier
