Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency scanning, eslint, helm lint, prettier, remark lint, stylelint

dependency scanning:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  allow_failure: true
  script:
  - yarn gitlab-yarn-audit
  artifacts:
    reports:
      dependency_scanning: gl-dependency-scanning.json

eslint:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn eslint --format gitlab .
  artifacts:
    reports:
      codequality: gl-codequality.json

helm lint:
  image:
    name: lachlanevenson/k8s-helm:v3.1.0
    entrypoint:
    - /bin/sh
    - -c
  dependencies: []
  script:
  - helm lint config/charts/*

prettier:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn prettier .

remark lint:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn remark --frail .

stylelint:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn stylelint .

Remove @ from organization in README instructions
  README.md
Due: prettier, remark lint

Add support for OAuth2 in Helm chart and staging
  .gitlab-ci.yml
  config/charts/appsemble/README.md
  config/charts/appsemble/templates/deployment.yaml
  config/charts/appsemble/values.yaml
Due: helm lint, prettier, remark lint

fix 0.13.0 migration
  packages/server/src/migrations/0.13.0-user-uuid.ts
Due: eslint

fix image links
  blocks/action-button/README.md
  blocks/button-list/README.md
  blocks/detail-viewer/README.md
  blocks/form/README.md
  blocks/list/README.md
  blocks/map/README.md
  blocks/markdown/README.md
  blocks/stats/README.md
  blocks/table/README.md
  packages/scripts/src/commands/release.ts
  packages/studio/src/components/BlockDetails/index.css
  packages/studio/src/components/BlockDetails/index.tsx
Due: eslint, prettier, remark lint, stylelint

process feedback
  packages/cli/src/lib/getBlockConfig.ts
  packages/studio/src/components/BlockDetails/components/ActionTable/index.tsx
  packages/studio/src/components/BlockDetails/components/EventTable/index.tsx
  packages/studio/src/components/BlockDetails/components/EventTable/messages.tsx
  packages/studio/src/components/BlockDetails/components/ParameterRow/index.tsx
  packages/studio/src/components/BlockDetails/components/TypeTable/index.tsx
  packages/studio/src/components/BlockDetails/index.tsx
  packages/studio/src/components/BlockDetails/messages.tsx
  packages/studio/src/components/BlockList/components/BlockCard/index.tsx
  packages/studio/src/components/BlockList/components/BlockCard/messages.tsx
  packages/studio/src/components/BlockList/index.tsx
  packages/types/index.d.ts
Due: eslint

Fix variables in Helm chart deployment
  config/charts/appsemble/templates/deployment.yaml
Due: helm lint, prettier

add Subtitle component
  packages/react-components/src/Subtitle/index.tsx
  packages/react-components/src/index.tsx
  packages/studio/src/components/BlockDetails/index.tsx
  packages/studio/src/components/BlockList/components/BlockCard/index.tsx
Due: eslint

set parameters header to h4
  packages/studio/src/components/BlockDetails/index.tsx
Due: eslint

simplify logic for joined strings
  packages/react-components/src/Join/index.tsx
  packages/studio/src/components/BlockDetails/components/ParameterRow/index.tsx
Due: eslint

merge migrations
  packages/server/src/migrations/0.13.1-oauth2-login-fixes-block-descriptions.ts
  packages/server/src/migrations/0.13.2-block-descriptions.ts
  packages/server/src/migrations/index.ts
Due: eslint

fix redirect
  packages/studio/src/components/BlockDetails/components/ParameterRow/index.tsx
  packages/studio/src/components/BlockDetails/index.tsx
Due: eslint

add jsdoc to new components
  packages/studio/src/components/BlockDetails/components/ActionTable/index.tsx
  packages/studio/src/components/BlockDetails/components/EventTable/index.tsx
  packages/studio/src/components/BlockDetails/components/ParameterRow/index.tsx
  packages/studio/src/components/BlockDetails/components/TypeTable/index.tsx
  packages/studio/src/components/BlockDetails/index.tsx
  packages/studio/src/components/BlockList/components/BlockCard/index.tsx
Due: eslint

add descriptions to blocks
  blocks/action-button/block.ts
  blocks/button-list/block.ts
  blocks/data-loader/block.ts
  blocks/detail-viewer/block.ts
  blocks/feed/block.ts
  blocks/filter/block.ts
  blocks/form/block.ts
  blocks/list/block.ts
  blocks/map/block.ts
  blocks/markdown/block.ts
  blocks/stats/block.ts
  blocks/table/block.ts
  packages/studio/src/components/BlockDetails/index.tsx
Due: eslint

add jsdoc to components
  packages/studio/src/components/BlockDetails/components/ActionTable/index.tsx
  packages/studio/src/components/BlockDetails/components/EventTable/index.tsx
  packages/studio/src/components/BlockDetails/components/ParameterRow/index.tsx
  packages/studio/src/components/BlockDetails/components/ParameterTable/index.tsx
  packages/studio/src/components/BlockDetails/components/TypeTable/index.tsx
  packages/studio/src/components/BlockDetails/index.tsx
  packages/studio/src/components/BlockList/components/BlockCard/index.tsx
  packages/studio/src/components/BlockList/index.tsx
Due: eslint

mention hot reloading blocks during development
  README.md
  config/retext/personal.dic
  docs/development/developing-blocks.md
Due: prettier, remark lint

Fix ‘prop’ remapper for different data types
  packages/utils/src/remap.ts
Due: eslint

Fix the type of BlockManifest parameters
  blocks/action-button/block.ts
  blocks/button-list/block.ts
  blocks/data-loader/block.ts
  blocks/detail-viewer/block.ts
  blocks/feed/block.ts
  blocks/filter/block.ts
  blocks/form/block.ts
  blocks/list/block.ts
  blocks/map/block.ts
  blocks/stats/block.ts
  blocks/table/block.ts
  packages/server/src/migrations/0.13.1-oauth2-login-fixes-block-descriptions.ts
  packages/studio/src/components/BlockDetails/components/ActionTable/index.tsx
  packages/studio/src/components/BlockDetails/components/EventTable/index.tsx
  packages/studio/src/components/BlockDetails/components/ParameterRow/index.tsx
  packages/studio/src/components/BlockDetails/components/ParameterTable/index.tsx
  packages/studio/src/components/BlockDetails/components/TypeTable/index.tsx
  packages/studio/src/components/BlockDetails/index.tsx
  packages/studio/src/components/BlockList/components/BlockCard/index.tsx
  packages/studio/src/components/BlockList/index.tsx
  packages/studio/src/components/MarkdownContent/index.tsx
  packages/types/index.d.ts
Due: eslint

include tests for null and number prop remappers
  packages/utils/src/remap.test.ts
Due: eslint

change null tests
  packages/utils/src/remap.test.ts
  packages/utils/src/remap.ts
Due: eslint

fix pipeline issues
  packages/studio/src/components/GUIEditor/components/GUIEditorEditBlock/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorSelect/index.tsx
  packages/types/index.d.ts
Due: eslint

Normalize the remote in the CLI
  packages/cli/src/index.ts
  packages/cli/src/lib/coerceRemote.test.ts
  packages/cli/src/lib/coerceRemote.ts
Due: eslint

Update changelog
  CHANGELOG.md
Due: prettier, remark lint

Bump all dependencies
  blocks/filter/package.json
  package.json
  packages/app/package.json
  packages/cli/package.json
  packages/create-appsemble/package.json
  packages/preact/package.json
  packages/react-components/package.json
  packages/scripts/package.json
  packages/sdk/package.json
  packages/server/package.json
  packages/service-worker/package.json
  packages/service-worker/src/onFetch.ts
  packages/studio/package.json
  packages/types/package.json
  packages/utils/package.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Convert type of events to object
  packages/app/src/components/Block/index.tsx
  packages/cli/src/lib/getBlockConfigFromTypeScript.ts
  packages/server/src/migrations/0.13.2-convert-events.ts
  packages/server/src/migrations/index.ts
  packages/server/src/models/BlockVersion.ts
  packages/types/index.d.ts
Due: eslint

fix api typings
  packages/utils/src/api/components/schemas/Block.ts
  packages/utils/src/api/components/schemas/BlockVersion.ts
Due: eslint

update EventTable
  packages/studio/src/components/BlockDetails/components/EventTable/index.tsx
  packages/studio/src/components/BlockDetails/components/EventTable/messages.tsx
Due: eslint

fix tests
  packages/cli/src/lib/getBlockConfigFromTypeScript.test.ts
  packages/cli/src/lib/makePayload.test.ts
Due: eslint

Remove sideEffects from non-library packages
  blocks/action-button/package.json
  blocks/button-list/package.json
  blocks/data-loader/package.json
  blocks/detail-viewer/package.json
  blocks/feed/package.json
  blocks/filter/package.json
  blocks/form/package.json
  blocks/list/package.json
  blocks/map/package.json
  blocks/markdown/package.json
  blocks/stats/package.json
  blocks/table/package.json
  packages/app/package.json
  packages/appsemble/package.json
  packages/cli/package.json
  packages/create-appsemble/package.json
  packages/scripts/package.json
  packages/scripts/src/commands/validate.ts
  packages/server/package.json
  packages/service-worker/package.json
  packages/studio/package.json
Due: eslint, prettier

fix wrong entries being shown in events table
  packages/studio/src/components/BlockDetails/components/EventTable/index.tsx
Due: eslint

revert block schema change
  packages/utils/src/api/components/schemas/Block.ts
Due: eslint

Handle errors when loading apps
  packages/studio/src/components/AppList/components/AppList/index.tsx
  packages/studio/src/components/AppList/components/AppList/messages.tsx
Due: eslint

Apply suggestion to packages/studio/src/components/AppList/components/AppList/index.tsx
  packages/studio/src/components/AppList/components/AppList/index.tsx
Due: eslint

Add missing test
  packages/cli/src/lib/__fixtures__/getBlockConfigFromTypeScript/comments/index.ts
  packages/cli/src/lib/__fixtures__/getBlockConfigFromTypeScript/comments/tsconfig.json
  packages/cli/src/lib/getBlockConfigFromTypeScript.test.ts
Due: eslint, prettier

Add missing JSDoc
  packages/cli/src/lib/getBlockConfigFromTypeScript.ts
Due: eslint

sort block versions by most recent first
  packages/server/src/controllers/blocks.test.ts
  packages/server/src/controllers/blocks.ts
  packages/studio/src/components/BlockDetails/index.tsx
Due: eslint

Fix some small issues regarding OAuth2 login
  packages/server/src/controllers/oauth2Login.ts
  packages/server/src/utils/email/Mailer.ts
  packages/server/src/utils/getUserInfo.ts
Due: eslint

resolve feedback
  packages/server/src/controllers/blocks.test.ts
Due: eslint

Fix BlockList ready state
  packages/app/src/components/BlockList/index.tsx
Due: eslint

Path conditions:
  dependency scanning: any of: yarn.lock
  eslint: any of: **/*.{js,jsx,ts,tsx}, yarn.lock
  helm lint: any of: config/charts/**/*.*
  prettier: any of: **/*.{html,json,md,scss,yaml,yml}, yarn.lock
  remark lint: any of: **/*.{dic,md}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock
