Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency scanning, eslint, helm lint, prettier, remark lint, stylelint

dependency scanning:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  allow_failure: true
  script:
  - yarn gitlab-yarn-audit
  artifacts:
    reports:
      dependency_scanning: gl-dependency-scanning.json

eslint:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn eslint --format gitlab .
  artifacts:
    reports:
      codequality: gl-codequality.json

helm lint:
  image:
    name: lachlanevenson/k8s-helm:v3.1.0
    entrypoint:
    - /bin/sh
    - -c
  dependencies: []
  script:
  - helm lint config/charts/*

prettier:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn prettier .

remark lint:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn remark --frail .

stylelint:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn stylelint .

convert Card to functional component
  blocks/feed/package.json
  blocks/feed/src/components/Card/index.tsx
  blocks/feed/src/index.tsx
Due: eslint, prettier

update marker typings
  blocks/feed/block.ts
Due: eslint

replace old remapper logic in feed with new remappers
  blocks/feed/block.ts
  blocks/feed/src/components/Card/index.tsx
  blocks/feed/src/index.tsx
Due: eslint

use form submit instead of button onClick
  blocks/feed/block.ts
  blocks/feed/src/components/Card/index.tsx
Due: eslint

Bump dependencies
  .eslintrc.js
  blocks/action-button/package.json
  blocks/button-list/package.json
  blocks/detail-viewer/package.json
  blocks/feed/package.json
  blocks/filter/package.json
  blocks/form/package.json
  blocks/list/package.json
  blocks/map/package.json
  blocks/markdown/package.json
  blocks/stats/package.json
  blocks/table/package.json
  package.json
  packages/app/package.json
  packages/cli/package.json
  packages/create-appsemble/package.json
  packages/node-utils/package.json
  packages/preact-components/package.json
  packages/preact/package.json
  packages/react-components/package.json
  packages/scripts/package.json
  packages/sdk/package.json
  packages/server/package.json
  packages/server/src/utils/email/renderEmail.ts
  packages/service-worker/package.json
  packages/studio/package.json
  packages/studio/src/components/Editor/index.tsx
  packages/types/package.json
  packages/utils/package.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

implement custom markers
  blocks/feed/block.ts
  blocks/feed/src/components/Card/index.tsx
  blocks/feed/src/components/utils/createIcon.css
  blocks/feed/src/components/utils/createIcon.ts
Due: eslint, stylelint

convert card to function component
  blocks/feed/src/components/Card/index.tsx
Due: eslint

replace old remappers
  blocks/feed/block.ts
  blocks/feed/src/components/Card/index.tsx
  blocks/feed/src/index.tsx
Due: eslint

update changelog
  CHANGELOG.md
Due: prettier, remark lint

Remove webpack-merge
  config/webpack/app.js
  config/webpack/block.js
  config/webpack/core.js
  config/webpack/studio.js
  package.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Bump dependencies
  blocks/action-button/package.json
  blocks/button-list/package.json
  blocks/form/package.json
  blocks/list/package.json
  blocks/map/package.json
  blocks/stats/package.json
  packages/app/package.json
  packages/preact-components/package.json
  packages/preact/package.json
  packages/react-components/package.json
  packages/server/package.json
  packages/studio/package.json
  packages/types/package.json
  packages/utils/package.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Use gatsby shadowing to provide custom CSS
  docs/getting-started.md
  src/gatsby-theme-docz/index.css
Due: prettier, remark lint, stylelint

Change types for actions and events to never
  blocks/action-button/block.ts
  blocks/button-list/block.ts
  blocks/data-loader/block.ts
  blocks/data-notifier/block.ts
  blocks/detail-viewer/block.ts
  blocks/feed/block.ts
  blocks/filter/block.ts
  blocks/form/block.ts
  blocks/list/block.ts
  blocks/map/block.ts
  blocks/stats/block.ts
  blocks/table/block.ts
  blocks/timer/block.ts
Due: eslint

Use @types/language-tags from DefinitelyTyped
  package.json
  packages/@types-language-tags/index.d.ts
  packages/@types-language-tags/jest.config.js
  packages/@types-language-tags/package.json
  packages/@types-language-tags/tsconfig.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Remove unused @appsemble/utils dependency from feed
  blocks/feed/package.json
Due: prettier

cast content to object
  packages/cli/src/lib/uploadMessages.ts
Due: eslint

introduce AppMessages type
  packages/cli/src/lib/uploadMessages.ts
  packages/types/index.d.ts
Due: eslint

Apply 1 suggestion(s) to 1 file(s)
  blocks/feed/package.json
Due: prettier

fix person app
  apps/person/app.yaml
Due: prettier

fix unlittered template
  apps/unlittered/app.yaml
Due: prettier

Simplify iteration over package.json in release script
  packages/scripts/src/commands/release.ts
Due: eslint

Check if modal should be displayed
  blocks/filter/src/index.tsx
Due: eslint

combine OrganizationsProvider and UserProvider
  packages/studio/src/components/App/index.tsx
  packages/studio/src/components/AppContext/index.tsx
  packages/studio/src/components/AppDetails/index.tsx
  packages/studio/src/components/AppList/components/CreateAppCard/index.tsx
  packages/studio/src/components/AppList/index.tsx
  packages/studio/src/components/AppSideMenu/index.tsx
  packages/studio/src/components/OrganizationInvite/index.tsx
  packages/studio/src/components/OrganizationInvite/messages.tsx
  packages/studio/src/components/OrganizationsProvider/index.tsx
  packages/studio/src/components/OrganizationsSettings/index.css
  packages/studio/src/components/OrganizationsSettings/index.tsx
  packages/studio/src/components/UserProvider/index.tsx
Due: eslint, stylelint

add login status and organization checks to OrganizationInvite
  packages/studio/src/components/App/index.tsx
  packages/studio/src/components/OrganizationInvite/index.tsx
  packages/studio/src/components/OrganizationInvite/messages.tsx
Due: eslint

rename translations to messages
  packages/server/src/controllers/appMessages.test.ts
  packages/server/src/controllers/appMessages.ts
  packages/server/src/controllers/index.ts
  packages/server/src/migrations/0.13.6.ts
  packages/server/src/models/App.ts
  packages/server/src/models/AppMessages.ts
  packages/server/src/models/index.ts
  packages/utils/src/api/paths/index.ts
  packages/utils/src/api/paths/messages.ts
Due: eslint

implement merging messages
  packages/server/package.json
  packages/server/src/controllers/appMessages.ts
Due: eslint, prettier

Update the changelog as part of the release script
  CHANGELOG.md
  CONTRIBUTING.md
  blocks/feed/changes/changed/marker-lat-lng.md
  blocks/feed/changes/changed/remappers.md
  packages/scripts/package.json
  packages/scripts/src/commands/release.ts
  packages/scripts/src/lib/mdast.ts
Due: eslint, prettier, remark lint

Add keywords to npm packages
  packages/app/package.json
  packages/appsemble/package.json
  packages/cli/package.json
  packages/create-appsemble/package.json
  packages/node-utils/package.json
  packages/preact-components/package.json
  packages/preact/package.json
  packages/react-components/package.json
  packages/scripts/package.json
  packages/scripts/src/commands/validate.ts
  packages/sdk/package.json
  packages/server/package.json
  packages/service-worker/package.json
  packages/studio/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/web-utils/package.json
Due: eslint, prettier

Remove unused import
  packages/scripts/src/commands/validate.ts
Due: eslint

resolve feedback
  packages/cli/src/lib/uploadMessages.ts
  packages/server/src/controllers/appMessages.test.ts
  packages/server/src/controllers/appMessages.ts
  packages/server/src/migrations/0.13.6.ts
  packages/server/src/models/AppMessages.ts
  packages/types/index.d.ts
  packages/utils/src/api/components/schemas/AppMessages.ts
  packages/utils/src/api/components/schemas/index.ts
  packages/utils/src/api/paths/messages.ts
Due: eslint

Revert "implement merging messages"
  packages/server/package.json
  packages/server/src/controllers/appMessages.ts
Due: eslint, prettier

Path conditions:
  dependency scanning: any of: yarn.lock
  eslint: any of: **/*.{js,jsx,ts,tsx}, yarn.lock
  helm lint: any of: config/charts/**/*.*
  prettier: any of: **/*.{html,json,md,scss,yaml,yml}, yarn.lock
  remark lint: any of: **/*.{dic,md}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock
