Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency scanning, eslint, helm lint, prettier, remark lint, stylelint

dependency scanning:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  allow_failure: true
  script:
  - yarn gitlab-yarn-audit
  artifacts:
    reports:
      dependency_scanning: gl-dependency-scanning.json

eslint:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn eslint --format gitlab .
  artifacts:
    reports:
      codequality: gl-codequality.json

helm lint:
  image:
    name: lachlanevenson/k8s-helm:v3.1.0
    entrypoint:
    - /bin/sh
    - -c
  dependencies: []
  script:
  - helm lint config/charts/*

prettier:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn prettier .

remark lint:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn remark --frail .

stylelint:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn stylelint .

Bump all dependencies
  blocks/button-list/package.json
  blocks/detail-viewer/package.json
  blocks/feed/package.json
  blocks/filter/package.json
  blocks/form/package.json
  blocks/list/package.json
  blocks/markdown/package.json
  blocks/table/package.json
  package.json
  packages/app/package.json
  packages/cli/package.json
  packages/create-appsemble/package.json
  packages/node-utils/package.json
  packages/preact/package.json
  packages/react-components/package.json
  packages/scripts/package.json
  packages/sdk/package.json
  packages/server/package.json
  packages/service-worker/package.json
  packages/studio/package.json
  packages/types/package.json
  packages/utils/package.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Fix the version for the block icon migration
  packages/server/src/migrations/0.12.6-block-icon.js
Due: eslint

move enum to inside type of items definition
  packages/utils/src/api/components/schemas/ResourceDefinition.ts
Due: eslint

Convert some miscellaneous code to TypeScript
  package.json
  packages/server/jest.setup.ts
  packages/server/src/controllers/appMembers.ts
  packages/server/src/controllers/assets.ts
  packages/server/src/controllers/blocks.ts
  packages/server/src/controllers/health.ts
  packages/server/src/controllers/openId.ts
  packages/server/src/controllers/templates.ts
  packages/server/src/models/App.ts
  packages/server/src/models/AppMember.ts
  packages/server/src/models/Asset.ts
  packages/server/src/models/BlockVersion.ts
  packages/server/src/models/EmailAuthorization.ts
  packages/server/src/models/Member.ts
  packages/server/src/models/OAuth2AuthorizationCode.ts
  packages/server/src/models/Organization.ts
  packages/server/src/models/Resource.ts
  packages/server/src/models/User.ts
  packages/server/src/routes/studioRouter/indexHandler.ts
  packages/server/src/types.ts
  packages/server/src/utils/checkRole.ts
  packages/server/src/utils/createJWTResponse.ts
  packages/studio/src/components/OAuth2Connect/index.tsx
  packages/studio/src/components/UserProvider/index.tsx
  packages/studio/src/hooks/useUser.ts
  packages/studio/src/types.ts
  packages/types/index.d.ts
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Fix tests
  packages/server/jest.setup.ts
  packages/server/src/controllers/templates.ts
  packages/server/src/models/App.ts
Due: eslint

Import migration for block icons
  packages/server/src/migrations/index.js
Due: eslint

Fix tests
  packages/server/src/controllers/apps.js
  packages/server/src/utils/getAppFromRecord.ts
Due: eslint

determine and use default values when receiving data
  blocks/form/src/index.tsx
Due: eslint

JSONArrayEditor + split fileupload
  packages/studio/src/components/JSONSchemaArrayEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/index.tsx
  packages/studio/src/components/ResourceTable/index.tsx
Due: eslint

JSONStringeditor + JSONFileEditor + moved components to subfolder of JSONSchemaeditor
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaArrayEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaFileEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaObjectEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaStringEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/index.tsx
Due: eslint

remove unused type
  blocks/form/src/index.tsx
Due: eslint

prevent image from being loaded if value is falsy
  blocks/detail-viewer/src/components/FileRenderer/index.tsx
Due: eslint

minor enhancements
  packages/react-components/src/FileUpload/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaArrayEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaFileEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaFileEditor/messages.tsx
Due: eslint

Refactored GUIEditorflow
  packages/scripts/bin/scripts.js
  packages/server/src/utils/dns/kubernetes.test.js
  packages/studio/src/components/Editor/index.tsx
  packages/studio/src/components/GUIEditor/index.tsx
  packages/studio/src/components/GUIEditorEditBlock/index.tsx
  packages/studio/src/components/GUIEditorToolbox/index.css
  packages/studio/src/components/GUIEditorToolbox/index.tsx
  packages/studio/src/components/GUIEditorToolboxBlock/__snapshots__/index.test.tsx.snap
  packages/studio/src/components/GUIEditorToolboxBlock/index.css
  packages/studio/src/components/GUIEditorToolboxBlock/index.test.tsx
  packages/studio/src/components/GUIEditorToolboxBlock/index.tsx
  packages/studio/src/components/MonacoEditor/index.tsx
Due: eslint, stylelint

Fix builds of app and studio
  config/webpack/app.js
  config/webpack/studio.js
  packages/server/src/middleware/frontend.js
Due: eslint

Fix prepack script of @appsemble/utils
  packages/utils/package.json
  packages/utils/tsconfig.build.json
Due: prettier

Fix the build of @appsemble/utils
  packages/preact/tsconfig.build.json
  packages/server/src/commands/start.js
  packages/server/src/utils/createServer.js
  packages/server/src/utils/readPackageJson.ts
  packages/studio/src/components/Editor/index.tsx
  packages/utils/src/api/index.test.ts
  packages/utils/src/api/index.ts
Due: eslint, prettier

get selected block params and JSONSchemaeditor improvements
  packages/studio/src/components/GUIEditor/index.tsx
  packages/studio/src/components/GUIEditorEditBlock/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaStringEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/index.tsx
Due: eslint

Fix main entry of @appsemble/utils
  packages/utils/index.js
  packages/utils/package.json
Due: eslint, prettier

apply padding to last block in main dom
  packages/app/src/components/BlockList/index.css
  packages/app/src/components/BlockList/index.tsx
Due: eslint, stylelint

prevent bottom navigation from growing in height
  packages/app/src/components/BottomNavigation/index.css
Due: stylelint

Convert remaining server files to TypeScript
  packages/@types-rehype-stringify/tsconfig.json
  packages/@types-remark-rehype/tsconfig.json
  packages/@types-wesselkuipers__odata-sequelize/tsconfig.json
  packages/server/src/commands/builder/database.ts
  packages/server/src/commands/health.ts
  packages/server/src/commands/migrate.ts
  packages/server/src/commands/restoreDNS.ts
  packages/server/src/commands/start.ts
  packages/server/src/controllers/appMembers.test.ts
  packages/server/src/controllers/appNotifications.test.ts
  packages/server/src/controllers/apps.test.ts
  packages/server/src/controllers/assets.test.ts
  packages/server/src/controllers/auth.test.ts
  packages/server/src/controllers/blocks.test.ts
  packages/server/src/controllers/health.test.ts
  packages/server/src/controllers/oauth2.test.ts
  packages/server/src/controllers/openId.test.ts
  packages/server/src/controllers/organizations.test.ts
  packages/server/src/controllers/resources.test.ts
  packages/server/src/controllers/templates.test.ts
  packages/server/src/controllers/user.test.ts
  packages/server/src/models/Asset.ts
  packages/server/src/models/EmailAuthorization.ts
  packages/server/src/models/index.ts
  packages/server/src/routes/appRouter/__image_snapshots__/icon-handler-test-ts-should-fall-back-to-a-white-background-if-neither-theme-color-not-splash-color-is-defined-1-snap.png
  packages/server/src/routes/appRouter/__image_snapshots__/icon-handler-test-ts-should-fall-back-to-a-white-background-if-theme-is-undefined-1-snap.png
  packages/server/src/routes/appRouter/__image_snapshots__/icon-handler-test-ts-should-fall-back-to-the-appsemble-icon-if-no-app-icon-is-defined-1-snap.png
  packages/server/src/routes/appRouter/__image_snapshots__/icon-handler-test-ts-should-fall-back-to-the-theme-color-if-splash-color-is-undefined-1-snap.png
  packages/server/src/routes/appRouter/__image_snapshots__/icon-handler-test-ts-should-scale-and-serve-the-app-icon-1-snap.png
  packages/server/src/routes/appRouter/__image_snapshots__/icon-handler-test-ts-should-use-the-splash-color-if-an-opaque-icon-is-requested-1-snap.png
  packages/server/src/routes/appRouter/iconHandler.test.ts
  packages/server/src/routes/appRouter/indexHandler.test.ts
  packages/server/src/routes/appRouter/manifestHandler.test.ts
  packages/server/src/routes/studioRouter/__image_snapshots__/icon-handler-test-js-should-serve-a-white-background-if-an-opaque-icon-is-requested-1-snap.png
  packages/server/src/routes/studioRouter/__image_snapshots__/icon-handler-test-js-should-serve-the-appsemble-icon-1-snap.png
  packages/server/src/types.ts
  packages/server/src/utils/readPackageJson.ts
  packages/server/src/utils/test/createWaitableMock.ts
  packages/types/index.d.ts
Due: eslint, prettier

defined types WIP
  packages/studio/src/components/GUIEditor/index.tsx
  packages/studio/src/components/GUIEditorEditBlock/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaDefinedTypesEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaObjectEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/index.tsx
Due: eslint

process feedback
  packages/app/src/components/Block/index.css
  packages/app/src/components/BlockList/index.css
  packages/app/src/components/BlockList/index.tsx
Due: eslint, stylelint

fix message.tsx loading for blocks
  config/webpack/block.js
Due: eslint

Fix how detail-viewer works with remappers
  apps/person/app.yaml
  apps/unlittered/app.yaml
  blocks/detail-viewer/block.ts
  blocks/detail-viewer/package.json
  blocks/detail-viewer/src/components/FileRenderer/index.tsx
  blocks/detail-viewer/src/components/GeoCoordinatesRenderer/index.tsx
  blocks/detail-viewer/src/components/ImageField/index.tsx
  blocks/detail-viewer/src/index.tsx
Due: eslint, prettier

Add documentation for remappers
  config/retext/personal.dic
  docs/guide/index.md
  docs/guide/remappers.md
Due: prettier, remark lint

Update changelog
  CHANGELOG.md
Due: prettier, remark lint

Fix connection with the production database
  CHANGELOG.md
  packages/server/src/models/index.ts
Due: eslint, prettier, remark lint

Fix types for subscription response
  packages/app/src/components/AppSettings/index.tsx
  packages/server/jest.setup.ts
  packages/server/src/controllers/appMembers.test.ts
  packages/server/src/controllers/appNotifications.test.ts
  packages/server/src/controllers/appNotifications.ts
  packages/server/src/controllers/apps.test.ts
  packages/server/src/controllers/assets.test.ts
  packages/server/src/controllers/blocks.test.ts
  packages/server/src/controllers/openId.test.ts
  packages/server/src/controllers/organizations.test.ts
  packages/server/src/controllers/resources.test.ts
  packages/server/src/controllers/templates.test.ts
  packages/server/src/controllers/user.test.ts
  packages/server/src/models/ResourceSubscription.ts
  packages/types/index.d.ts
  packages/utils/src/api/components/schemas/Hooks.ts
Due: eslint

Bump rehype-document
  package.json
  packages/@types-rehype-document/index.d.ts
  packages/@types-rehype-document/package.json
  packages/@types-rehype-document/tsconfig.json
  packages/server/package.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

code review feedback
  config/webpack/studio.js
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaArrayEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaFileEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaObjectEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaStringEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/index.tsx
  packages/studio/src/components/ResourceTable/index.tsx
Due: eslint

Fix broken organization test
  packages/server/src/controllers/organizations.test.ts
Due: eslint

Restore log level in tests
  packages/server/jest.setup.ts
Due: eslint

wip
  packages/app/src/components/Block/index.tsx
  packages/app/src/utils/actions/link.tsx
  packages/app/src/utils/remap.test.tsx
  packages/app/src/utils/remap.tsx
  packages/server/src/controllers/resources.js
  packages/utils/package.json
  packages/utils/src/api/components/schemas/Hooks.ts
  packages/utils/src/index.ts
  packages/utils/src/mapValues.test.ts
  packages/utils/src/mapValues.ts
  packages/utils/src/oldRemap.test.ts
  packages/utils/src/oldRemap.ts
  packages/utils/src/remap.test.ts
  packages/utils/src/remap.ts
  packages/utils/src/validate.ts
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Path conditions:
  dependency scanning: any of: yarn.lock
  eslint: any of: **/*.{js,jsx,ts,tsx}, yarn.lock
  helm lint: any of: config/charts/**/*.*
  prettier: any of: **/*.{html,json,md,scss,yaml,yml}, yarn.lock
  remark lint: any of: **/*.{dic,md}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock
