Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, prettier, stylelint, test:postgres

.gitlab-ci.yml:

image: node:10-slim

stages:
  - test
  - build
  - publish
  - deploy

build:docker:
  stage: build
  services:
    - docker:dind
  image: docker
  tags:
    - dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
    - docker build -t "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHA" .
    - docker tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHA" "$CI_REGISTRY_IMAGE:$CI_BUILD_REF_NAME"
    - docker push "$CI_REGISTRY_IMAGE:$CI_BUILD_REF_NAME"
    - docker push "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHA"

deploy:staging:
  stage: deploy
  image: alpine
  variables:
    GIT_STRATEGY: none
  only:
    - master
  environment:
    name: staging
  script:
    - apk add --no-cache curl
    - curl -X POST -F "token=$CI_JOB_TOKEN" -F "ref=master" -F "variables[RELEASE]=staging"
      https://gitlab.com/api/v4/projects/8452871/trigger/pipeline

eslint:
  only:
    changes:
      - '**/*.{js,jsx,md}'
      - yarn.lock
  script:
    - yarn --frozen-lockfile
    - yarn eslint

pages:
  stage: build
  image: busybox
  variables:
    GIT_STRATEGY: none
  dependencies:
    - test
  only:
    - master
  script: mv coverage/lcov-report public
  artifacts:
    paths:
      - public/

prettier:
  only:
    changes:
      - '**/*.{css,json,md,yaml,yml}'
      - yarn.lock
  script:
    - yarn --frozen-lockfile
    - yarn prettier

publish:docker:latest:
  stage: publish
  services:
    - docker:dind
  image: docker
  tags:
    - dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    GIT_STRATEGY: none
  only:
    - tags
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
    - echo $DOCKER_HUB_PASSWORD | docker login -u $DOCKER_HUB_USER --password-stdin
    - docker pull "$CI_REGISTRY_IMAGE:$CI_COMMIT_TAG"
    - docker tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_TAG" "$CI_REGISTRY_IMAGE:latest"
    - docker tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_TAG" "appsemble/appsemble:latest"
    - docker tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_TAG" "appsemble/appsemble:$CI_COMMIT_TAG"
    - docker push "$CI_REGISTRY_IMAGE:latest"
    - docker push "appsemble/appsemble:latest"
    - docker push "appsemble/appsemble:$CI_COMMIT_TAG"

stylelint:
  only:
    changes:
      - '**/*.css'
      - yarn.lock
  script:
    - yarn --frozen-lockfile
    - yarn stylelint

test:
  services:
    - name: mysql:8.0
      command: [--default-authentication-plugin=mysql_native_password]
  variables:
    MYSQL_DATABASE: testAppsemble
    MYSQL_ROOT_PASSWORD: password
    DATABASE_URL: 'mysql://root:password@mysql:3306'
  script:
    - yarn --frozen-lockfile
    - yarn test --coverage
  artifacts:
    paths:
      - coverage/

test:postgres:
  services:
    - postgres:10.0
  variables:
    POSTGRES_DB: testAppsemble
    POSTGRES_USER: root
    POSTGRES_PASSWORD: password
    DATABASE_URL: 'postgresql://root:password@postgres:5432/testAppsemble'
  only:
    changes:
      - 'api/**/*.js'
      - yarn.lock
  script:
    - yarn --frozen-lockfile
    - yarn test

fix(cli): fix unresolved / unused imports
  packages/cli/commands/start.js
Due: eslint

feat: allow serving development blocks using the CLI
  config/webpack/block.js
  packages/cli/commands/start.js
  packages/cli/lib/discoverBlocks.js
  packages/cli/lib/getConfig.js
  packages/cli/lib/loadWebpackConfig.js
  packages/cli/package.json
  server/commands/start.js
  server/index.js
  server/utils/configureStatic.js
  yarn.lock
Due: eslint, prettier, stylelint, test:postgres

fix: fix instructions for getting started
  README.md
  package.json
Due: eslint, prettier

fix(create): fix various small bugs
  packages/create/commands/block.js
  packages/create/lib/create/vanilla.js
  packages/create/lib/handleError.js
  packages/create/package.json
  packages/create/templates/vanilla/src/index.js
Due: eslint, prettier

docs: add documentation for block developers
  .gitignore
  CONTRIBUTING.md
  README.md
  docs/Developing Blocks.md
Due: eslint, prettier

docs: include gitbook summary
  SUMMARY.md
  docs/Developing-Blocks.md
Due: eslint, prettier

docs: link to create package in summary
  SUMMARY.md
Due: eslint, prettier

build: ignore _book directory
  .gitignore
Due: none

style: reformat SUMMARY
  SUMMARY.md
Due: eslint, prettier

ci: set up gitbook documentation in ci
  .gitlab-ci.yml
Due: prettier

ci: use yarn instead of npm
  .gitlab-ci.yml
Due: prettier

ci: include git files in pages job
  .gitlab-ci.yml
Due: prettier

ci: use separate docs step
  .gitlab-ci.yml
Due: prettier

ci: exclude files not related to gitbooks
  .bookignore
Due: none

ci: deploy docs to surge
  .gitlab-ci.yml
Due: prettier

docs: describe building process for documentation
  README.md
Due: eslint, prettier

ci: only execute docs and pages on master branch
  .gitlab-ci.yml
Due: prettier

fix(app): fix uploading assets for unlittered app
  app/utils/uploadBlobs.jsx
  blocks/detail-viewer/src/components/StringRenderer/FileRenderer/FileRenderer.jsx
Due: eslint

feat(server): implement OData-based filtering
  server/controllers/resources.js
  server/package.json
  yarn.lock
Due: eslint, prettier, stylelint, test:postgres

style: remove debug logs
  server/controllers/resources.js
Due: eslint

docs: add clarifying comments to the deepRename function
  server/controllers/resources.js
Due: eslint

fix: repair broken deepRename function
  server/controllers/resources.js
Due: eslint

fix: allow deepRename to rename inside arrays as well
  server/controllers/resources.js
Due: eslint

test: include basic OData tests
  server/controllers/resources.test.js
Due: eslint

docs: include basic description of resources
  docs/Appsemble Resources.md
Due: eslint, prettier

docs: include short description of asset api
  docs/Appsemble Resources.md
Due: eslint, prettier

refactor: only ignore the top level _book directory
  .gitignore
Due: none

refactor: install gitbook-cli and surge locally
  .gitlab-ci.yml
  package.json
  yarn.lock
Due: eslint, prettier, stylelint, test:postgres

fix: prefix gitbook and surge commands with yarn
  .gitlab-ci.yml
Due: prettier

docs: update gitbook instructions
  README.md
Due: eslint, prettier

style(gitlab-ci): move only key above script key
  .gitlab-ci.yml
Due: prettier

ci: run yarn install before building gitbook
  .gitlab-ci.yml
Due: prettier

refactor: bump dependencies
  app/package.json
  blocks/action-button/package.json
  blocks/detail-viewer/package.json
  blocks/form/package.json
  blocks/map/package.json
  editor/package.json
  package.json
  packages/react-bulma/package.json
  packages/utils/package.json
  server/package.json
  yarn.lock
Due: eslint, prettier, stylelint, test:postgres

feat: implement uploading and retrieving core and shared stylesheets for organizations
  server/api/paths/organizations.yaml
  server/api/tags/organization.yaml
  server/controllers/organizations.js
  server/models/Organization.js
Due: eslint, prettier

test: include organization stylesheet tests
  server/controllers/organizations.test.js
Due: eslint

feat(cli): add cli option for uploading themes
  packages/cli/commands/theme.js
  packages/cli/commands/theme/upload.js
  packages/cli/lib/handleError.js
Due: eslint

refactor: fix bump commit
  app/package.json
  package.json
  server/package.json
  yarn.lock
Due: eslint, prettier, stylelint, test:postgres

feat(cli): add postcss processing when uploading css files
  packages/cli/commands/theme/upload.js
  packages/cli/lib/handleError.js
  packages/cli/package.json
  yarn.lock
Due: eslint, prettier, stylelint, test:postgres

refactor(cli): define block command and converted publish/register commands into block subcommands
  packages/cli/commands/block.js
  packages/cli/commands/block/publish.js
  packages/cli/commands/block/register.js
Due: eslint

docs: update examples to use block subcommands
  README.md
  docs/Developing Blocks.md
Due: eslint, prettier
