Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency scanning, eslint, helm lint, prettier, remark lint, stylelint

dependency scanning:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  allow_failure: true
  script:
  - yarn gitlab-yarn-audit
  artifacts:
    reports:
      dependency_scanning: gl-dependency-scanning.json

eslint:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn eslint --format gitlab .
  artifacts:
    reports:
      codequality: gl-codequality.json

helm lint:
  image:
    name: lachlanevenson/k8s-helm:v3.1.0
    entrypoint:
    - /bin/sh
    - -c
  dependencies: []
  script:
  - helm lint config/charts/*

prettier:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn prettier .

remark lint:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn remark --frail .

stylelint:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn stylelint .

Fix type for member table role enum
  packages/server/src/models/Member.ts
Due: eslint

extract FileUpload component
  packages/react-components/src/FileUpload/index.tsx
  packages/react-components/src/index.tsx
  packages/studio/src/components/AppSettings/index.tsx
  packages/studio/src/components/Assets/index.css
  packages/studio/src/components/Assets/index.tsx
Due: eslint, stylelint

WIP: upload file refactoring from using html input type-file
  package.json
  packages/app/src/utils/uploadBlobs.tsx
  packages/react-components/src/Input/index.tsx
  packages/studio/src/components/JSONSchemaEditor/FileEntry/addpicture.svg
  packages/studio/src/components/JSONSchemaEditor/FileEntry/cross.svg
  packages/studio/src/components/JSONSchemaEditor/FileEntry/index.css
  packages/studio/src/components/JSONSchemaEditor/FileEntry/index.tsx
  packages/studio/src/components/JSONSchemaEditor/FileInput/background.svg
  packages/studio/src/components/JSONSchemaEditor/FileInput/index.css
  packages/studio/src/components/JSONSchemaEditor/FileInput/index.tsx
  packages/studio/src/components/JSONSchemaEditor/index.css
  packages/studio/src/components/JSONSchemaEditor/index.tsx
  packages/studio/src/components/ResourceTable/index.tsx
Due: eslint, prettier, stylelint

Simplify database setup
  packages/server/src/commands/migrate.js
  packages/server/src/commands/restoreDNS.js
  packages/server/src/commands/start.js
  packages/server/src/controllers/appMembers.test.js
  packages/server/src/controllers/appNotifications.test.js
  packages/server/src/controllers/apps.test.js
  packages/server/src/controllers/assets.test.js
  packages/server/src/controllers/auth.js
  packages/server/src/controllers/auth.test.js
  packages/server/src/controllers/blocks.js
  packages/server/src/controllers/blocks.test.js
  packages/server/src/controllers/health.js
  packages/server/src/controllers/health.test.js
  packages/server/src/controllers/oauth2.test.js
  packages/server/src/controllers/openId.test.js
  packages/server/src/controllers/organizations.test.js
  packages/server/src/controllers/resources.js
  packages/server/src/controllers/resources.test.js
  packages/server/src/controllers/templates.test.js
  packages/server/src/controllers/user.test.js
  packages/server/src/models/index.ts
  packages/server/src/routes/appRouter/blockAssetHandler.test.js
  packages/server/src/routes/appRouter/blockCSSHandler.test.js
  packages/server/src/routes/appRouter/cssHandler.test.js
  packages/server/src/routes/appRouter/indexHandler.test.js
  packages/server/src/routes/appRouter/organizationBlockCSSHandler.test.js
  packages/server/src/routes/appRouter/organizationCSSHandler.test.js
  packages/server/src/routes/studioRouter/tokenHandler.test.js
  packages/server/src/utils/addDBHooks.js
  packages/server/src/utils/bulkDNSRestore.js
  packages/server/src/utils/bulkDNSRestore.test.js
  packages/server/src/utils/createServer.js
  packages/server/src/utils/getApp.test.js
  packages/server/src/utils/migrate.js
  packages/server/src/utils/migrate.test.js
  packages/server/src/utils/test/testSchema.ts
  packages/server/src/utils/test/truncate.ts
Due: eslint

Move checkHealth test setup outside describe block
  packages/server/src/controllers/health.test.js
Due: eslint

Remove beforeAll timeouts
  packages/server/src/controllers/appMembers.test.js
  packages/server/src/controllers/appNotifications.test.js
  packages/server/src/controllers/apps.test.js
  packages/server/src/controllers/assets.test.js
  packages/server/src/controllers/auth.test.js
  packages/server/src/controllers/blocks.test.js
  packages/server/src/controllers/health.test.js
  packages/server/src/controllers/oauth2.test.js
  packages/server/src/controllers/organizations.test.js
  packages/server/src/controllers/resources.test.js
  packages/server/src/controllers/templates.test.js
  packages/server/src/controllers/user.test.js
  packages/server/src/routes/appRouter/indexHandler.test.js
  packages/server/src/routes/studioRouter/tokenHandler.test.js
Due: eslint

process feedback
  packages/react-components/src/FileUpload/index.tsx
  packages/studio/src/components/AppSettings/index.tsx
  packages/studio/src/components/Assets/index.tsx
Due: eslint

add resource to api json schema
  packages/utils/src/api/components/schemas/ResourceDefinition.ts
Due: eslint

WIP: upload arrays
  packages/react-components/src/FileUpload/index.tsx
  packages/react-components/src/Input/index.tsx
  packages/react-components/src/index.tsx
  packages/studio/src/components/JSONSchemaEditor/FileEntry/addpicture.svg
  packages/studio/src/components/JSONSchemaEditor/FileEntry/cross.svg
  packages/studio/src/components/JSONSchemaEditor/FileEntry/index.css
  packages/studio/src/components/JSONSchemaEditor/FileEntry/index.tsx
  packages/studio/src/components/JSONSchemaEditor/FileInput/background.svg
  packages/studio/src/components/JSONSchemaEditor/FileInput/index.css
  packages/studio/src/components/JSONSchemaEditor/FileInput/index.tsx
  packages/studio/src/components/JSONSchemaEditor/index.tsx
Due: eslint, stylelint

clear out wrapper children before appending
  blocks/stats/src/index.tsx
Due: eslint

Reduce unnecessary argument passing in CLI
  packages/cli/src/commands/block/publish.ts
  packages/cli/src/lib/buildBlock.ts
  packages/cli/src/lib/getBlockConfig.ts
  packages/cli/src/lib/getBlockConfigFromTypeScript.test.ts
  packages/cli/src/lib/getBlockConfigFromTypeScript.ts
  packages/cli/src/lib/makePayload.ts
  packages/cli/src/lib/publish.ts
  packages/cli/src/types.ts
Due: eslint

Move memfs in server from dependencies to devDependencies
  .eslintrc.js
  packages/server/package.json
Due: eslint, prettier

Add support for block icons
  CHANGELOG.md
  package.json
  packages/cli/package.json
  packages/cli/src/lib/__fixtures__/makePayload/with-icon/icon.svg
  packages/cli/src/lib/makePayload.test.ts
  packages/cli/src/lib/makePayload.ts
  packages/server/package.json
  packages/server/src/controllers/blocks.js
  packages/server/src/controllers/blocks.test.js
  packages/server/src/migrations/0.12.6-block-icon.js
  packages/server/src/models/BlockVersion.ts
  packages/utils/src/api/components/schemas/BlockVersion.ts
  packages/utils/src/api/paths/blocks.ts
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

fix loading state
  blocks/detail-viewer/src/index.tsx
Due: eslint

process feedback
  blocks/stats/src/index.tsx
Due: eslint

Wrap list status in span tags
  blocks/list/src/index.tsx
Due: eslint

use message component
  blocks/list/src/index.css
  blocks/list/src/index.tsx
  packages/preact-components/src/Message/index.tsx
  packages/preact-components/src/index.tsx
Due: eslint, stylelint

add, edit, remove files + bug fixes with enum
  packages/studio/src/components/JSONSchemaEditor/index.tsx
Due: eslint

Update uploadBlobs.tsx
  packages/app/src/utils/uploadBlobs.tsx
Due: eslint

Update package.json
  package.json
Due: prettier

remove unused css file
  packages/studio/src/components/JSONSchemaEditor/index.css
Due: stylelint

Update index.tsx
  packages/react-components/src/Input/index.tsx
Due: eslint

fixes and dynamicasset upload url
  package.json
  packages/react-components/src/Input/index.tsx
  packages/studio/package.json
  packages/studio/src/components/JSONSchemaEditor/index.tsx
  packages/studio/src/components/ResourceTable/index.tsx
Due: eslint, prettier

Fix tests
  babel.config.js
  packages/node-utils/src/loggerMiddleware.ts
  packages/server/babel.config.js
  packages/server/src/routes/appRouter/__image_snapshots__/block-asset-handler-test-ts-should-download-a-block-asset-1-snap.png
  packages/server/src/utils/dns/index.test.ts
  packages/utils/src/remap.d.ts
Due: eslint

Remove focused test
  packages/server/src/controllers/blocks.test.js
Due: eslint

update changelog
  CHANGELOG.md
Due: prettier, remark lint

Fix tests
  packages/cli/src/lib/__fixtures__/makePayload/no-icon/output/block.js
  packages/cli/src/lib/__fixtures__/makePayload/with-icon/output/block.js
  packages/cli/src/lib/getBlockConfigFromTypeScript.test.ts
  packages/cli/src/lib/makePayload.test.ts
Due: eslint

fix deleting assets
  packages/studio/src/components/Assets/index.tsx
Due: eslint

Update index.tsx - remove FileUpload duplicate export
  packages/react-components/src/index.tsx
Due: eslint

Build helm dependencies on for production deployments
  .gitlab-ci.yml
Due: prettier

Convert .gitlab-ci to rules syntax
  .gitlab-ci.yml
  package.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Fix stop jobs for review environments
  .gitlab-ci.yml
Due: prettier

Use the new package install-chrome-dependencies
  .gitlab-ci.yml
  config/bin/install-chrome-dependencies.sh
  config/docs/Dockerfile
  package.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Code quality fixes, object editor moved to seperate component
  packages/studio/src/components/JSONSchemaEditor/index.tsx
  packages/studio/src/components/JSONSchemaObjectEditor/index.tsx
  packages/studio/src/components/ResourceTable/index.tsx
Due: eslint

Convert create-appsemble to TypeScript
  config/bin/tscstub.js
  package.json
  packages/create-appsemble/package.json
  packages/create-appsemble/src/bin/create-appsemble
  packages/create-appsemble/src/commands/block.ts
  packages/create-appsemble/src/index.ts
  packages/create-appsemble/src/lib/readPackageJson.ts
  packages/create-appsemble/templates/preact/.appsemblerc.yaml
  packages/create-appsemble/templates/preact/block.ts
  packages/create-appsemble/templates/preact/package.json
  packages/create-appsemble/templates/preact/src/index.tsx
  packages/create-appsemble/templates/preact/tsconfig.json
  packages/create-appsemble/templates/vanilla/.appsemblerc.yaml
  packages/create-appsemble/templates/vanilla/block.ts
  packages/create-appsemble/templates/vanilla/package.json
  packages/create-appsemble/templates/vanilla/src/index.ts
  packages/create-appsemble/templates/vanilla/tsconfig.json
  packages/create-appsemble/tsconfig.build.json
  packages/create-appsemble/tsconfig.json
Due: eslint, prettier

Run jobs by default on jobs and tags
  .gitlab-ci.yml
Due: prettier

Remove allow_failure false in CI
  .gitlab-ci.yml
Due: prettier

Implement a static action
  docs/reference/action.md
  packages/app/src/utils/actions/index.tsx
  packages/app/src/utils/actions/static.tsx
  packages/sdk/src/types.ts
  packages/types/index.d.ts
Due: eslint, prettier, remark lint

Fix rules for production job
  .gitlab-ci.yml
Due: prettier

Path conditions:
  dependency scanning: any of: yarn.lock
  eslint: any of: **/*.{js,jsx,ts,tsx}, yarn.lock
  helm lint: any of: config/charts/**/*.*
  prettier: any of: **/*.{html,json,md,scss,yaml,yml}, yarn.lock
  remark lint: any of: **/*.{dic,md}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock
