Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, prettier, stylelint, test:postgres

.gitlab-ci.yml:

image: node:10-slim

stages:
  - test
  - build
  - publish
  - deploy

build:docker:
  stage: build
  services:
    - docker:dind
  image: docker
  tags:
    - dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
    - docker build -t "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHA" .
    - docker tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHA" "$CI_REGISTRY_IMAGE:$CI_BUILD_REF_NAME"
    - docker push "$CI_REGISTRY_IMAGE:$CI_BUILD_REF_NAME"
    - docker push "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHA"

deploy:staging:
  stage: deploy
  image: alpine
  variables:
    GIT_STRATEGY: none
  only:
    - master
  environment:
    name: staging
  script:
    - apk add --no-cache curl
    - curl -X POST -F "token=$CI_JOB_TOKEN" -F "ref=master" -F "variables[RELEASE]=staging"
      https://gitlab.com/api/v4/projects/8452871/trigger/pipeline

eslint:
  only:
    changes:
      - '**/*.{js,jsx,md}'
      - yarn.lock
  script:
    - yarn --frozen-lockfile
    - yarn eslint

pages:
  stage: build
  image: busybox
  variables:
    GIT_STRATEGY: none
  dependencies:
    - test
  only:
    - master
  script: mv coverage/lcov-report public
  artifacts:
    paths:
      - public/

prettier:
  only:
    changes:
      - '**/*.{css,json,md,yaml,yml}'
      - yarn.lock
  script:
    - yarn --frozen-lockfile
    - yarn prettier

publish:docker:latest:
  stage: publish
  services:
    - docker:dind
  image: docker
  tags:
    - dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    GIT_STRATEGY: none
  only:
    - tags
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
    - echo $DOCKER_HUB_PASSWORD | docker login -u $DOCKER_HUB_USER --password-stdin
    - docker pull "$CI_REGISTRY_IMAGE:$CI_COMMIT_TAG"
    - docker tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_TAG" "$CI_REGISTRY_IMAGE:latest"
    - docker tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_TAG" "appsemble/appsemble:latest"
    - docker tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_TAG" "appsemble/appsemble:$CI_COMMIT_TAG"
    - docker push "$CI_REGISTRY_IMAGE:latest"
    - docker push "appsemble/appsemble:latest"
    - docker push "appsemble/appsemble:$CI_COMMIT_TAG"

stylelint:
  only:
    changes:
      - '**/*.css'
      - yarn.lock
  script:
    - yarn --frozen-lockfile
    - yarn stylelint

test:
  services:
    - name: mysql:8.0
      command: [--default-authentication-plugin=mysql_native_password]
  variables:
    MYSQL_DATABASE: testAppsemble
    MYSQL_ROOT_PASSWORD: password
    DATABASE_URL: 'mysql://root:password@mysql:3306'
  script:
    - yarn --frozen-lockfile
    - yarn test --coverage
  artifacts:
    paths:
      - coverage/

test:postgres:
  services:
    - postgres:10.0
  variables:
    POSTGRES_DB: testAppsemble
    POSTGRES_USER: root
    POSTGRES_PASSWORD: password
    DATABASE_URL: 'postgresql://root:password@postgres:5432/testAppsemble'
  only:
    changes:
      - 'api/**/*.js'
      - yarn.lock
  script:
    - yarn --frozen-lockfile
    - yarn test

refactor: implement react-intl messages in AppList
  editor/components/AppList/components/AppList/AppList.jsx
  editor/components/AppList/components/AppList/messages.jsx
Due: eslint

feat: implement bulma react components for cards
  packages/react-bulma/base/Card/Card.jsx
  packages/react-bulma/base/Card/index.jsx
  packages/react-bulma/base/CardContent/CardContent.jsx
  packages/react-bulma/base/CardContent/index.jsx
  packages/react-bulma/base/CardFooter/CardFooter.jsx
  packages/react-bulma/base/CardFooter/index.jsx
  packages/react-bulma/base/CardFooterItem/CardFooterItem.jsx
  packages/react-bulma/base/CardFooterItem/index.jsx
  packages/react-bulma/base/CardHeader/CardHeader.jsx
  packages/react-bulma/base/CardHeader/index.jsx
  packages/react-bulma/base/CardHeaderTitle/CardHeaderTitle.jsx
  packages/react-bulma/base/CardHeaderTitle/index.jsx
  packages/react-bulma/base/index.jsx
Due: eslint

refactor: use react bulma components in AppCard
  editor/components/AppList/components/AppCard/AppCard.jsx
  editor/components/AppList/components/AppCard/messages.jsx
Due: eslint

feat: implement FileName bulma react component
  packages/react-bulma/base/FileName/FileName.jsx
  packages/react-bulma/base/FileName/index.jsx
  packages/react-bulma/base/index.jsx
Due: eslint

refactor: use bulma react components for file upload
  editor/components/Editor/Editor.jsx
Due: eslint

refactor: change find to findOne due to deprecation
  api/middleware/oauth2Model.js
Due: eslint, test:postgres

feat: implement bulma modal react component
  packages/react-bulma/base/Modal/Modal.jsx
  packages/react-bulma/base/Modal/index.jsx
  packages/react-bulma/base/index.jsx
Due: eslint

feat: add CreateAppCard component
  editor/components/AppList/components/AppList/AppList.jsx
  editor/components/AppList/components/AppList/applist.css
  editor/components/AppList/components/CreateAppCard/CreateAppCard.jsx
  editor/components/AppList/components/CreateAppCard/createappcard.css
  editor/components/AppList/components/CreateAppCard/index.jsx
  editor/components/AppList/components/CreateAppCard/messages.jsx
  editor/components/Editor/Editor.jsx
Due: eslint, prettier, stylelint

test: include todo markers for i18n messages
  editor/components/Editor/Editor.jsx
Due: eslint

refactor: remove unnecessary key in EmailLogin component
  editor/components/App/App.jsx
Due: eslint

test: change findByPrimary to findByPk
  api/controllers/auth.test.js
Due: eslint, test:postgres

docs(changelog): add latest changes to changelog
  CHANGELOG.md
Due: eslint, prettier

fix: properly parse initializeDatabase argument
  api/server.js
Due: eslint, test:postgres

docs(api): promote editor index page
  api/api/api.yaml
Due: prettier

fix: remove form textarea color
  blocks/form/amsterdam.css
Due: prettier, stylelint

feat: add buttons to dialog
  editor/components/AppList/components/CreateAppCard/CreateAppCard.jsx
  editor/components/AppList/components/CreateAppCard/createappcard.css
  editor/components/AppList/components/CreateAppCard/messages.jsx
Due: eslint, prettier, stylelint

feat: use redux for fetching apps
  editor/actions/app.js
  editor/actions/index.js
  editor/components/AppList/components/AppList/AppList.jsx
  editor/components/AppList/components/AppList/index.js
  editor/index.jsx
Due: eslint

feat: implement app creation with templates
  editor/components/AppList/components/CreateAppCard/CreateAppCard.jsx
  editor/components/AppList/components/CreateAppCard/index.jsx
  editor/components/AppList/components/CreateAppCard/messages.jsx
  editor/templates/empty.js
  editor/templates/example.js
  editor/templates/index.js
Due: eslint

refactor: run stylelint
  editor/components/AppList/components/CreateAppCard/createappcard.css
Due: prettier, stylelint

refactor: set applist width
  editor/components/AppList/components/AppList/applist.css
Due: prettier, stylelint

refactor: show CreateAppCard when db is empty
  editor/components/AppList/components/AppList/AppList.jsx
Due: eslint

refactor: make entire card footer item clickable
  editor/components/AppList/components/AppCard/AppCard.jsx
  editor/components/AppList/components/CreateAppCard/CreateAppCard.jsx
  editor/components/AppList/components/CreateAppCard/createappcard.css
Due: eslint, prettier, stylelint

refactor: set min and max length for app name
  editor/components/AppList/components/CreateAppCard/CreateAppCard.jsx
Due: eslint

refactor: set placeholder in unlittered notities field
  apps/unlittered/app.yaml
Due: prettier

refactor: run stylelint
  editor/components/AppList/components/CreateAppCard/createappcard.css
  yarn.lock
Due: eslint, prettier, stylelint, test:postgres

refactor: set minimum height for CreateAppCard
  editor/components/AppList/components/CreateAppCard/createappcard.css
Due: prettier, stylelint

refactor: remove unused import
  editor/components/AppList/components/CreateAppCard/CreateAppCard.jsx
Due: eslint

refactor: migrate Message and EmailLogin components to separate package
  app/components/EmailLogin/index.jsx
  app/components/Message/index.jsx
  app/package.json
  packages/react-components/components/EmailLogin/EmailLogin.css
  packages/react-components/components/EmailLogin/EmailLogin.jsx
  packages/react-components/components/EmailLogin/index.jsx
  packages/react-components/components/EmailLogin/messages.jsx
  packages/react-components/components/Message/Message.css
  packages/react-components/components/Message/Message.jsx
  packages/react-components/components/Message/index.jsx
  packages/react-components/components/index.jsx
  packages/react-components/index.jsx
  packages/react-components/package.json
Due: eslint, prettier, stylelint

style(api): simplify database setup
  api/controllers/apps.js
  api/controllers/apps.test.js
  api/controllers/assets.js
  api/controllers/assets.test.js
  api/controllers/auth.js
  api/controllers/auth.test.js
  api/controllers/resources.js
  api/controllers/resources.test.js
  api/middleware/oauth2Model.js
  api/middleware/sequelize.js
  api/middleware/sequelize.test.js
  api/routes/iconHandler/index.js
  api/routes/indexHandler/index.js
  api/routes/manifestHandler/index.js
  api/server.js
  api/setupdb.js
  api/utils/setupModels.js
  api/utils/test/testSchema.js
  api/utils/test/testToken.js
  api/utils/test/truncate.js
Due: eslint, test:postgres

refactor: duplicate redux logic to editor
  editor/actions/apps.js
  editor/actions/db.js
  editor/actions/index.js
  editor/actions/message.js
  editor/actions/user.js
  editor/components/AppList/components/AppList/AppList.jsx
  editor/components/AppList/components/AppList/index.js
  editor/components/AppList/components/CreateAppCard/CreateAppCard.jsx
  editor/components/AppList/components/CreateAppCard/index.jsx
  editor/components/EmailLogin/index.jsx
  editor/components/Message/index.jsx
  editor/index.jsx
  editor/package.json
Due: eslint, prettier

fix: change syntax for default export
  packages/react-components/components/EmailLogin/index.jsx
  packages/react-components/components/Message/index.jsx
Due: eslint

feat: allow fetching the original icon
  api/routes/iconHandler/index.js
  api/routes/index.js
Due: eslint, test:postgres

feat: add icon preview in editor
  editor/components/Editor/Editor.jsx
  editor/components/Editor/editor.css
Due: eslint, prettier, stylelint

fix: revert to original icon if user cancels out icon file selection
  editor/components/Editor/Editor.jsx
Due: eslint

refactor: redefine default value of onClose as null
  packages/react-bulma/base/Modal/Modal.jsx
Due: eslint

refactor: remove empty span
  editor/components/AppList/components/CreateAppCard/CreateAppCard.jsx
Due: eslint

refactor: split up Modal into base parts and a composed component
  editor/components/AppList/components/CreateAppCard/CreateAppCard.jsx
  packages/react-bulma/base/Modal/Modal.jsx
  packages/react-bulma/base/ModalBackground/ModalBackground.jsx
  packages/react-bulma/base/ModalBackground/index.jsx
  packages/react-bulma/base/ModalClose/ModalClose.jsx
  packages/react-bulma/base/ModalClose/index.jsx
  packages/react-bulma/base/ModalContainer/ModalContainer.jsx
  packages/react-bulma/base/ModalContainer/index.jsx
  packages/react-bulma/base/ModalContent/ModalContent.jsx
  packages/react-bulma/base/ModalContent/index.jsx
  packages/react-bulma/base/index.jsx
  packages/react-bulma/composed/Modal/Modal.jsx
  packages/react-bulma/composed/Modal/index.jsx
  packages/react-bulma/composed/index.jsx
Due: eslint

fix: fix svg rendering on icon-original by providing a default width and returning the MIME type properly
  api/routes/iconHandler/index.js
Due: eslint, test:postgres

feat: apply schema validation to app
  editor/components/Editor/Editor.jsx
Due: eslint
