Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency scanning, eslint, helm lint, prettier, remark lint, stylelint

Path conditions:
  dependency scanning: any of: yarn.lock
  eslint: any of: **/*.{js,jsx,ts,tsx}, yarn.lock
  helm lint: any of: config/charts/**/*.*
  prettier: any of: **/*.{html,json,md,scss,yaml,yml}, yarn.lock
  remark lint: any of: **/*.{dic,md}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock

Serialize credentials for OAuth2 token requests
  packages/server/src/controllers/oauth2Login.test.ts
  packages/server/src/controllers/oauth2Login.ts
Due: eslint

resolve feedback
  packages/react-components/src/hooks/useMessages.tsx
Due: eslint

process feedback
  packages/react-components/src/hooks/useMessages.tsx
  packages/sdk/src/types.ts
  packages/types/index.d.ts
Due: eslint

Fix uploading blocks where descriptions are missing
  packages/cli/src/lib/getBlockConfigFromTypeScript.test.ts
  packages/cli/src/lib/getBlockConfigFromTypeScript.ts
Due: eslint

refactor add block
  packages/studio/src/components/GUIEditor/components/GUIEditorToolboxBlock/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaEnumEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaStringEditor/index.tsx
Due: eslint

linter fix
  packages/react-components/src/Button/index.tsx
Due: eslint

Adjust when the login prompt shows up
  packages/app/src/components/BlockList/index.tsx
  packages/app/src/components/Page/index.tsx
Due: eslint

Convert some class based components to functional
  blocks/form/src/components/FileEntry/index.tsx
  blocks/form/src/components/FileInput/index.tsx
  blocks/form/src/index.tsx
  blocks/form/src/utils/resize.ts
  packages/preact-components/src/Input/index.tsx
  packages/preact-components/src/Select/index.tsx
  packages/react-components/src/Checkbox/index.tsx
  packages/react-components/src/Modal/index.test.tsx
  packages/react-components/src/Modal/index.tsx
  packages/react-components/src/Select/index.tsx
Due: eslint

Add submitLabel property to form
  CHANGELOG.md
  blocks/form/block.ts
  blocks/form/src/index.tsx
Due: eslint, prettier, remark lint

use bulma-checkRadio styling for boolean inputs
  blocks/form/src/components/BooleanInput/index.tsx
Due: eslint

add RadioInput form type
  CHANGELOG.md
  blocks/form/block.ts
  blocks/form/src/components/BooleanInput/index.tsx
  blocks/form/src/components/RadioInput/index.tsx
  blocks/form/src/index.tsx
Due: eslint, prettier, remark lint

revert unrelated change
  packages/service-worker/src/onFetch.ts
Due: eslint

align radio buttons vertically
  blocks/form/src/components/RadioInput/index.css
  blocks/form/src/components/RadioInput/index.tsx
Due: eslint, stylelint

Update onFetch.ts - unrelated change
  packages/service-worker/src/onFetch.ts
Due: eslint

Bump dependencies
  .eslintrc.js
  .gitlab-ci.yml
  Dockerfile
  README.md
  blocks/filter/package.json
  config/docs/Dockerfile
  package.json
  packages/@types-rehype-stringify/index.d.ts
  packages/@types-rehype-stringify/package.json
  packages/@types-rehype-stringify/tsconfig.json
  packages/app/package.json
  packages/cli/package.json
  packages/create-appsemble/package.json
  packages/node-utils/jest.setup.ts
  packages/node-utils/package.json
  packages/preact/package.json
  packages/react-components/package.json
  packages/scripts/package.json
  packages/sdk/package.json
  packages/server/package.json
  packages/service-worker/package.json
  packages/studio/package.json
  packages/types/package.json
  packages/utils/package.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Restore missing dependency
  package.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Fix lhci configuration
  .lighthouserc.js
Due: eslint

Remove unused type definition
  packages/server/src/types.ts
Due: eslint

Downgrade terser-webpack-plugin
  package.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

add Checkbox and RadioButton components to preact-components
  blocks/form/src/components/BooleanInput/index.tsx
  blocks/form/src/components/RadioInput/index.tsx
  packages/preact-components/src/Checkbox/index.tsx
  packages/preact-components/src/FormComponent/index.tsx
  packages/preact-components/src/RadioButton/index.tsx
  packages/preact-components/src/index.tsx
Due: eslint

Fix layout and styling for flow pages
  blocks/markdown/src/index.css
  packages/app/src/components/Block/index.css
  packages/app/src/components/Block/index.tsx
  packages/app/src/components/BlockList/index.css
  packages/app/src/components/BlockList/index.tsx
Due: eslint, stylelint

Apply 1 suggestion(s) to 1 file(s)
  packages/preact-components/src/Checkbox/index.tsx
Due: eslint

Apply 1 suggestion(s) to 1 file(s)
  packages/preact-components/src/RadioButton/index.tsx
Due: eslint

replace labelText with label
  blocks/form/block.ts
  blocks/form/src/components/RadioInput/index.tsx
Due: eslint

fix single file upload
  blocks/form/block.ts
  blocks/form/src/index.tsx
Due: eslint

prevent file select dialog from immediately opening up when removing images
  blocks/form/src/components/FileEntry/index.tsx
Due: eslint

add useLocationString hook
  packages/app/src/components/BlockList/index.tsx
  packages/app/src/components/Page/index.tsx
  packages/react-components/src/hooks/useLocationString.tsx
  packages/react-components/src/index.tsx
  packages/studio/src/components/OAuth2Connect/index.tsx
  packages/studio/src/components/ProfileDropdown/index.tsx
  packages/studio/src/components/ProtectedRoute/index.tsx
Due: eslint

Split navbars for each editor, guiedelete refactoring, more code reviews
  packages/studio/src/components/Editor/components/EditorNavBar/index.tsx
  packages/studio/src/components/Editor/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorDelete/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorEditBlock/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorNavBar/index.css
  packages/studio/src/components/GUIEditor/components/GUIEditorNavBar/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorNavBar/messages.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorNavBar/messages0.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorSelect/index.tsx
  packages/studio/src/components/GUIEditor/components/Stepper/messages.tsx
  packages/studio/src/components/GUIEditor/index.tsx
  packages/studio/src/components/GUIEditor/types.ts
Due: eslint, stylelint

add InviteMember permission
  CHANGELOG.md
  packages/server/src/controllers/organizations.ts
  packages/studio/src/components/OrganizationsSettings/index.tsx
  packages/utils/src/constants/Permission.ts
  packages/utils/src/constants/roles.ts
Due: eslint, prettier, remark lint

GUIEditorNavBar, GuiEditorDeleteButton and GUIEditorSelect bug fixes/cleaning
  packages/studio/src/components/Editor/components/EditorNavBar/messages.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorDelete/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorDelete/messages.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorNavBar/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorNavBar/messages.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorNavBar/messages0.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorSelect/index.tsx
  packages/studio/src/components/GUIEditor/index.tsx
Due: eslint

add RadioGroup
  blocks/form/src/components/RadioInput/index.tsx
  packages/preact-components/src/RadioButton/index.tsx
  packages/preact-components/src/RadioGroup/index.tsx
  packages/preact-components/src/index.tsx
Due: eslint

test role checks for invites
  packages/server/src/controllers/organizations.test.ts
Due: eslint

Fix querying resources for an $author role
  packages/server/src/controllers/resources.test.ts
  packages/server/src/controllers/resources.ts
Due: eslint

Apply 1 suggestion(s) to 1 file(s)
  blocks/form/block.ts
Due: eslint

Fix login flow in apps
  packages/app/src/components/OpenIDCallback/index.css
  packages/app/src/components/OpenIDCallback/index.tsx
  packages/app/src/components/OpenIDCallback/messages.tsx
  packages/app/src/components/OpenIDLogin/index.tsx
  packages/server/src/controllers/oauth2Provider.test.ts
  packages/server/src/controllers/oauth2Provider.ts
  packages/server/src/migrations/0.13.3-fix-app-login-flow.ts
  packages/server/src/migrations/index.ts
  packages/server/src/models/OAuth2AuthorizationCode.ts
  packages/server/src/routes/studioRouter/tokenHandler.test.ts
  packages/server/src/routes/studioRouter/tokenHandler.ts
  packages/studio/src/components/OpenIDLogin/index.css
  packages/studio/src/components/OpenIDLogin/index.tsx
  packages/studio/src/components/OpenIDLogin/messages.tsx
  packages/studio/src/utils/oauth2Utils.test.ts
  packages/studio/src/utils/oauth2Utils.ts
  packages/utils/src/api/paths/oauth2Provider.ts
  packages/web-utils/src/getOneSearchParam.test.ts
  packages/web-utils/src/getOneSearchParam.ts
  packages/web-utils/src/index.ts
Due: eslint, stylelint

add default to block docs
  packages/studio/src/components/BlockDetails/components/ParameterRow/index.tsx
  packages/studio/src/components/BlockDetails/components/ParameterTable/index.tsx
  packages/studio/src/components/BlockDetails/components/ParameterTable/messages.tsx
  packages/studio/src/components/BlockDetails/index.tsx
Due: eslint

add type check for default
  packages/studio/src/components/BlockDetails/components/ParameterRow/index.tsx
Due: eslint

update changelog
  CHANGELOG.md
Due: prettier, remark lint
