Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency scanning, eslint, helm lint, prettier, remark lint, stylelint

Path conditions:
  dependency scanning: any of: yarn.lock
  eslint: any of: **/*.{js,jsx,ts,tsx}, yarn.lock
  helm lint: any of: config/charts/**/*.*
  prettier: any of: **/*.{html,json,md,scss,yaml,yml}, yarn.lock
  remark lint: any of: **/*.{dic,md}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock

process feedback
  blocks/detail-viewer/block.ts
  blocks/detail-viewer/src/components/GeoCoordinatesRenderer/index.tsx
  blocks/detail-viewer/src/components/utils/createIcon.css
  blocks/detail-viewer/src/components/utils/createIcon.ts
  blocks/map/src/createIcon.css
  blocks/map/src/createIcon.ts
Due: eslint, stylelint

Move react hooks from src/hooks to src
  packages/react-components/src/Dropdown/index.tsx
  packages/react-components/src/MessagesProvider/index.tsx
  packages/react-components/src/PasswordInput/index.tsx
  packages/react-components/src/index.tsx
  packages/react-components/src/useClickOutside.tsx
  packages/react-components/src/useCombinedRefs.ts
  packages/react-components/src/useData.tsx
  packages/react-components/src/useEventListener.tsx
  packages/react-components/src/useForceUpdate.tsx
  packages/react-components/src/useLocationString.tsx
  packages/react-components/src/useMessages.tsx
  packages/react-components/src/useObjectURL.tsx
  packages/react-components/src/useQuery.ts
  packages/react-components/src/useToggle.tsx
Due: eslint

Rename useValuePickerProvider to useValuePicker
  packages/react-components/src/Tab/index.tsx
  packages/react-components/src/ValuePickerProvider/index.tsx
  packages/react-components/src/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorBlockItem/index.tsx
Due: eslint

Merge MessagedProvider and useMessages into one file
  packages/app/src/types.ts
  packages/app/src/utils/makeActions.tsx
  packages/react-components/src/MessagesProvider/index.tsx
  packages/react-components/src/index.tsx
  packages/react-components/src/useMessages.tsx
Due: eslint

add clonable column
  packages/server/src/migrations/0.13.5-clonable-resources.ts
  packages/server/src/migrations/index.ts
  packages/server/src/models/Resource.ts
Due: eslint

Merge context providers and hooks in studio
  packages/studio/src/components/AnonymousRoute/index.tsx
  packages/studio/src/components/App/index.tsx
  packages/studio/src/components/AppContext/index.tsx
  packages/studio/src/components/AppDetails/index.tsx
  packages/studio/src/components/AppList/components/CreateAppCard/index.tsx
  packages/studio/src/components/AppList/index.tsx
  packages/studio/src/components/AppRatings/index.tsx
  packages/studio/src/components/AppSideMenu/index.tsx
  packages/studio/src/components/Login/index.tsx
  packages/studio/src/components/OAuth2Connect/index.tsx
  packages/studio/src/components/OrganizationsProvider/index.tsx
  packages/studio/src/components/OrganizationsSettings/index.tsx
  packages/studio/src/components/ProfileDropdown/index.tsx
  packages/studio/src/components/ProtectedRoute/index.tsx
  packages/studio/src/components/Register/index.tsx
  packages/studio/src/components/Roles/index.tsx
  packages/studio/src/components/UserProvider/index.tsx
  packages/studio/src/components/UserSettings/index.tsx
  packages/studio/src/components/VerifyEmail/index.tsx
  packages/studio/src/hooks/useOrganizations.ts
  packages/studio/src/hooks/useUser.ts
Due: eslint

Fix TypeScript issue
  packages/studio/src/components/AppSecrets/index.tsx
Due: eslint

Apply 1 suggestion(s) to 1 file(s)
  blocks/detail-viewer/src/components/utils/createIcon.ts
Due: eslint

Apply 1 suggestion(s) to 1 file(s)
  blocks/map/src/createIcon.ts
Due: eslint

Fix the change event for BulmaTagsInput
  packages/react-components/src/TagsInput/index.tsx
  packages/studio/src/components/GUIEditor/components/ActionEditor/components/ActionEditorTypeEditor/index.tsx
  packages/studio/src/components/GUIEditor/components/ActionEditor/components/LinkActionEditor/index.tsx
  packages/studio/src/components/GUIEditor/components/ActionEditor/index.tsx
  packages/studio/src/components/GUIEditor/components/ActionsEditor/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorEditBlock/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorToolboxBlock/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaArrayEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/types.ts
  packages/studio/src/components/ResourceTable/index.tsx
  packages/studio/src/types.ts
  packages/web-utils/src/index.ts
  packages/web-utils/src/types.ts
Due: eslint

implement cloning apps using clonable resources
  packages/server/src/controllers/apps.test.ts
  packages/server/src/controllers/apps.ts
  packages/server/src/controllers/templates.test.ts
  packages/server/src/controllers/templates.ts
  packages/server/src/utils/getAppFromRecord.ts
  packages/studio/src/components/AppDetails/index.tsx
  packages/studio/src/components/AppDetails/messages.tsx
  packages/studio/src/components/AppList/components/CreateAppCard/index.tsx
  packages/types/index.d.ts
Due: eslint

Fix type error
  blocks/map/src/createIcon.ts
Due: eslint

implement updating clonable status
  packages/server/src/controllers/resources.test.ts
  packages/server/src/controllers/resources.ts
  packages/studio/src/components/ResourceTable/components/ClonableCheckbox/index.css
  packages/studio/src/components/ResourceTable/components/ClonableCheckbox/index.tsx
  packages/studio/src/components/ResourceTable/index.css
  packages/studio/src/components/ResourceTable/index.tsx
  packages/utils/src/api/components/schemas/Resource.ts
Due: eslint, stylelint

extract ResourceRow component
  packages/studio/src/components/ResourceTable/components/ResourceRow/index.css
  packages/studio/src/components/ResourceTable/components/ResourceRow/index.tsx
  packages/studio/src/components/ResourceTable/components/ResourceRow/messages.tsx
  packages/studio/src/components/ResourceTable/index.tsx
  packages/studio/src/components/ResourceTable/messages.tsx
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

only display checkbox if app is template
  packages/app/src/components/TitleBar/index.tsx
  packages/react-components/package.json
  packages/react-components/src/Portal/index.tsx
  packages/react-components/src/index.tsx
  packages/server/src/utils/getAppFromRecord.ts
  packages/studio/src/components/ResourceTable/components/ResourceRow/index.tsx
  packages/studio/src/components/ResourceTable/index.tsx
Due: eslint, prettier

add loading state to useOrganizations
  packages/studio/src/components/AppContext/index.tsx
  packages/studio/src/components/AppDetails/index.tsx
  packages/studio/src/components/AppList/components/CreateAppCard/index.tsx
  packages/studio/src/components/AppList/index.tsx
  packages/studio/src/components/AppSideMenu/index.tsx
  packages/studio/src/components/OrganizationsProvider/index.tsx
Due: eslint

update changelog
  CHANGELOG.md
Due: prettier, remark lint

fix tests
  packages/server/src/controllers/apps.test.ts
Due: eslint

fix imports
  packages/studio/src/components/ResourceTable/components/ResourceRow/index.tsx
  packages/studio/src/components/ResourceTable/index.tsx
Due: eslint

Use currentTarget instead of target where applicable
  blocks/feed/src/components/Card/index.tsx
  blocks/filter/src/components/FilterBlock/index.tsx
  blocks/form/src/components/BooleanInput/index.tsx
  blocks/form/src/components/FileEntry/index.tsx
  blocks/form/src/components/FileInput/index.tsx
  blocks/form/src/components/GeoCoordinatesInput/index.tsx
  blocks/form/src/components/NumberInput/index.tsx
  blocks/form/src/components/StringInput/index.tsx
  blocks/form/src/index.tsx
  packages/app/src/utils/bootstrapper.tsx
  packages/preact-components/src/Checkbox/index.tsx
  packages/preact-components/src/Input/index.tsx
  packages/preact-components/src/RadioGroup/index.tsx
  packages/preact-components/src/Select/index.tsx
  packages/react-components/src/Calendar/index.tsx
  packages/react-components/src/Checkbox/index.tsx
  packages/react-components/src/Input/index.tsx
  packages/react-components/src/Select/index.tsx
  packages/react-components/src/SimpleInput/index.tsx
  packages/react-components/src/Textarea/index.tsx
  packages/react-components/src/useClickOutside.tsx
  packages/studio/src/components/AppList/components/CreateAppCard/index.tsx
  packages/studio/src/components/AppList/index.tsx
  packages/studio/src/components/AppSettings/index.tsx
  packages/studio/src/components/Assets/index.tsx
  packages/studio/src/components/GUIEditor/components/ActionEditor/components/ActionEditorTypeSelect/index.tsx
  packages/studio/src/components/GUIEditor/components/ActionEditor/components/LinkActionEditor/index.tsx
  packages/studio/src/components/GUIEditor/components/ActionEditor/index.tsx
  packages/studio/src/components/GUIEditor/components/ActionsEditor/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorEditBlock/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaArrayEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaObjectEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/index.tsx
  packages/studio/src/components/OrganizationsSettings/index.tsx
  packages/studio/src/components/RateApp/index.tsx
  packages/studio/src/components/Roles/index.tsx
  packages/web-utils/src/types.ts
Due: eslint

Remove unwanted trailing space in JSX
  packages/studio/src/components/Roles/index.tsx
Due: eslint

Use useCallback for an inline function
  packages/studio/src/components/Roles/index.tsx
Due: eslint

implement migration and model for AppTranslation
  packages/server/src/migrations/0.10.0.ts
  packages/server/src/migrations/0.11.0.ts
  packages/server/src/migrations/0.11.3.ts
  packages/server/src/migrations/0.12.4.ts
  packages/server/src/migrations/0.12.6.ts
  packages/server/src/migrations/0.13.0.ts
  packages/server/src/migrations/0.13.1.ts
  packages/server/src/migrations/0.13.2.ts
  packages/server/src/migrations/0.13.3.ts
  packages/server/src/migrations/0.13.5.ts
  packages/server/src/migrations/0.13.6.ts
  packages/server/src/migrations/0.9.0.ts
  packages/server/src/migrations/0.9.3.ts
  packages/server/src/migrations/0.9.4.ts
  packages/server/src/migrations/index.ts
  packages/server/src/models/App.ts
  packages/server/src/models/AppTranslation.ts
  packages/server/src/models/index.ts
Due: eslint

Add first steps towards converting filter to Preact
  blocks/filter-preact/.appsemblerc.yaml
  blocks/filter-preact/README.md
  blocks/filter-preact/block.ts
  blocks/filter-preact/jest.config.js
  blocks/filter-preact/package.json
  blocks/filter-preact/src/index.tsx
  blocks/filter-preact/tsconfig.json
  blocks/filter-preact/webpack.config.js
  packages/preact-components/src/Modal/index.css
  packages/preact-components/src/Modal/index.tsx
  packages/preact-components/src/index.tsx
  packages/preact-components/src/types.tsx
Due: eslint, prettier, remark lint, stylelint

implement fetching and uploading translations
  package.json
  packages/server/package.json
  packages/server/src/controllers/appTranslations.ts
  packages/server/src/controllers/index.ts
  packages/utils/src/api/components/parameters/index.ts
  packages/utils/src/api/components/parameters/language.ts
  packages/utils/src/api/paths/index.ts
  packages/utils/src/api/paths/translations.ts
  packages/utils/src/api/tags/index.ts
  packages/utils/src/api/tags/language.ts
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Initial conversion of filter block to Preact
  blocks/filter-preact/.appsemblerc.yaml
  blocks/filter-preact/block.ts
  blocks/filter-preact/package.json
  blocks/filter-preact/src/components/ButtonsFieldComponent/index.css
  blocks/filter-preact/src/components/ButtonsFieldComponent/index.tsx
  blocks/filter-preact/src/components/DateFieldComponent/index.tsx
  blocks/filter-preact/src/components/DateRangeFieldComponent/index.css
  blocks/filter-preact/src/components/DateRangeFieldComponent/index.tsx
  blocks/filter-preact/src/components/EnumFieldComponent/index.tsx
  blocks/filter-preact/src/components/FieldComponent/index.tsx
  blocks/filter-preact/src/components/StringFieldComponent/index.tsx
  blocks/filter-preact/src/index.css
  blocks/filter-preact/src/index.tsx
  blocks/filter-preact/src/utils/toOData.tsx
  packages/preact-components/src/Button/index.tsx
  packages/preact-components/src/ButtonGroup/index.tsx
  packages/preact-components/src/ButtonOption/index.tsx
  packages/preact-components/src/Form/index.tsx
  packages/preact-components/src/ValuePickerProvider/index.tsx
  packages/preact-components/src/index.tsx
  packages/preact-components/src/useToggle.tsx
Due: eslint, prettier, stylelint

Fix the profile menu in Studio
  packages/react-components/src/useClickOutside.tsx
Due: eslint

move edit/delete/setClonable logic to ResourceRow
  packages/studio/src/components/CMS/index.tsx
  packages/studio/src/components/ResourceTable/components/ClonableCheckbox/index.tsx
  packages/studio/src/components/ResourceTable/components/ResourceRow/index.tsx
  packages/studio/src/components/ResourceTable/components/ResourceRow/messages.tsx
  packages/studio/src/components/ResourceTable/index.tsx
  packages/studio/src/components/ResourceTable/messages.tsx
Due: eslint

Pass filter block data to onLoad action
  blocks/filter-preact/src/index.tsx
  blocks/filter-preact/src/utils/toOData.tsx
Due: eslint

Fix layout for highlighted fields
  blocks/filter-preact/src/components/ButtonsFieldComponent/index.css
  blocks/filter-preact/src/components/ButtonsFieldComponent/index.tsx
  blocks/filter-preact/src/components/DateFieldComponent/index.tsx
  blocks/filter-preact/src/components/DateRangeFieldComponent/index.css
  blocks/filter-preact/src/components/DateRangeFieldComponent/index.tsx
  blocks/filter-preact/src/components/EnumFieldComponent/index.tsx
  blocks/filter-preact/src/components/StringFieldComponent/index.tsx
  blocks/filter-preact/src/index.tsx
Due: eslint, stylelint

Update docs for filter fields
  blocks/filter-preact/block.ts
Due: eslint

Overwrite the original filter block with the new one
  blocks/filter-preact/.appsemblerc.yaml
  blocks/filter-preact/README.md
  blocks/filter-preact/block.ts
  blocks/filter-preact/jest.config.js
  blocks/filter-preact/package.json
  blocks/filter-preact/src/index.tsx
  blocks/filter-preact/src/utils/toOData.tsx
  blocks/filter-preact/tsconfig.json
  blocks/filter-preact/webpack.config.js
  blocks/filter/block.ts
  blocks/filter/package.json
  blocks/filter/src/components/ButtonsFieldComponent/index.css
  blocks/filter/src/components/ButtonsFieldComponent/index.tsx
  blocks/filter/src/components/CheckBoxField/index.css
  blocks/filter/src/components/CheckBoxField/index.tsx
  blocks/filter/src/components/DateField/index.tsx
  blocks/filter/src/components/DateFieldComponent/index.tsx
  blocks/filter/src/components/DateRangeFieldComponent/index.css
  blocks/filter/src/components/DateRangeFieldComponent/index.tsx
  blocks/filter/src/components/EnumField/index.tsx
  blocks/filter/src/components/EnumFieldComponent/index.tsx
  blocks/filter/src/components/Field/index.css
  blocks/filter/src/components/Field/index.tsx
  blocks/filter/src/components/Field/messages.tsx
  blocks/filter/src/components/FieldComponent/index.tsx
  blocks/filter/src/components/FilterBlock/index.css
  blocks/filter/src/components/FilterBlock/index.tsx
  blocks/filter/src/components/FilterBlock/messages.tsx
  blocks/filter/src/components/StringField/index.tsx
  blocks/filter/src/components/StringFieldComponent/index.tsx
  blocks/filter/src/index.css
  blocks/filter/src/index.tsx
  blocks/filter/src/utils/toOData.tsx
  blocks/filter/tsconfig.json
Due: eslint, prettier, remark lint, stylelint

Add a screenshot for filter
  blocks/filter/README.md
  docs/images/filter.png
Due: prettier, remark lint

Mention OData in filter docs
  blocks/filter/README.md
Due: prettier, remark lint

Remove unused @appsemble/react
  package.json
  packages/react-components/package.json
  packages/react-components/src/Location/index.tsx
  packages/react-components/src/index.tsx
  packages/react/README.md
  packages/react/jest.config.js
  packages/react/jest.setup.ts
  packages/react/package.json
  packages/react/src/__snapshots__/index.test.tsx.snap
  packages/react/src/index.test.tsx
  packages/react/src/index.tsx
  packages/react/src/intl.tsx
  packages/react/tsconfig.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

store translations as json
  packages/server/src/controllers/appTranslations.ts
  packages/server/src/migrations/0.13.6.ts
  packages/server/src/models/AppTranslation.ts
  packages/utils/src/api/paths/translations.ts
Due: eslint

Apply 1 suggestion(s) to 1 file(s)
  blocks/filter/block.ts
Due: eslint

Remove duplicate dot from tsdoc
  blocks/filter/block.ts
Due: eslint

Explain the initial load logic
  blocks/filter/src/index.tsx
Due: eslint

resolve feedback
  packages/studio/src/components/ResourceTable/components/ResourceRow/index.tsx
Due: eslint
