Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency scanning, eslint, helm lint, prettier, remark lint, stylelint

Path conditions:
  dependency scanning: any of: yarn.lock
  eslint: any of: **/*.{js,jsx,ts,tsx}, yarn.lock
  helm lint: any of: config/charts/**/*.*
  prettier: any of: **/*.{html,json,md,scss,yaml,yml}, yarn.lock
  remark lint: any of: **/*.{dic,md}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock

Convert server entrypoint to ts
  packages/cli/src/types.ts
  packages/server/src/index.d.ts
  packages/server/src/index.ts
Due: eslint

Fix the production build of CLI
  package.json
  packages/cli/babel.config.js
  packages/cli/bin/appsemble
  packages/cli/package.json
  packages/cli/src/commands/migrate.ts
  packages/cli/src/index.ts
  packages/cli/src/lib/initAxios.ts
  packages/cli/src/lib/readPackageJson.ts
  packages/cli/tsconfig.build.json
  packages/cli/tsconfig.json
  tsconfig.build.json
  tsconfig.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Rename the old remap to legacyRemap
  packages/utils/src/index.ts
  packages/utils/src/legacyRemap.test.ts
  packages/utils/src/legacyRemap.ts
Due: eslint

Move the new remap from app to utils
  packages/app/package.json
  packages/app/src/components/Block/index.tsx
  packages/app/src/utils/actions/link.tsx
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/src/mapValues.test.ts
  packages/utils/src/mapValues.ts
  packages/utils/src/remap.test.ts
  packages/utils/src/remap.ts
Due: eslint, prettier

Apply suggestion to docs/guide/remappers.md
  docs/guide/remappers.md
Due: prettier, remark lint

Move static server assets out of the src directory
  packages/server/assets/appsemble.svg
  packages/server/assets/email/emailAdded.md
  packages/server/assets/email/organizationInvite.md
  packages/server/assets/email/resend.md
  packages/server/assets/email/reset.md
  packages/server/assets/email/welcome.md
  packages/server/package.json
  packages/server/src/commands/migrate.ts
  packages/server/src/controllers/apps.ts
  packages/server/src/controllers/blocks.test.ts
  packages/server/src/controllers/blocks.ts
  packages/server/src/middleware/frontend.ts
  packages/server/src/routes/appRouter/iconHandler.test.ts
  packages/server/src/routes/serveIcon.ts
  packages/server/src/routes/studioRouter/faviconHandler.ts
  packages/server/src/utils/dns/kubernetes.ts
  packages/server/src/utils/email/renderEmail.test.ts
  packages/server/src/utils/email/renderEmail.ts
  packages/server/src/utils/getDefaultIcon/index.ts
  packages/server/src/utils/readAsset.ts
  packages/server/src/utils/readPackageJson.ts
Due: eslint, prettier, remark lint

implement remapping notification bodies
  packages/server/src/controllers/resources.js
  packages/utils/src/api/components/schemas/Hooks.ts
Due: eslint

add test for custom notification data
  packages/server/src/controllers/resources.js
  packages/server/src/controllers/resources.test.js
Due: eslint

Build server using TypeScript
  babel.config.js
  blocks/action-button/webpack.config.js
  blocks/button-list/webpack.config.js
  blocks/data-loader/webpack.config.js
  blocks/detail-viewer/webpack.config.js
  blocks/feed/webpack.config.js
  blocks/filter/webpack.config.js
  blocks/form/webpack.config.js
  blocks/list/webpack.config.js
  blocks/map/webpack.config.js
  blocks/markdown/webpack.config.js
  blocks/stats/webpack.config.js
  blocks/table/webpack.config.js
  config/webpack/block.js
  jest.config.js
  package.json
  packages/app/jest.config.js
  packages/cli/jest.config.js
  packages/create-appsemble/jest.config.js
  packages/node-utils/jest.config.js
  packages/preact-components/jest.config.js
  packages/preact/jest.config.js
  packages/react-components/jest.config.js
  packages/react/jest.config.js
  packages/sdk/jest.config.js
  packages/server/babel.config.js
  packages/server/jest.config.js
  packages/server/package.json
  packages/server/tsconfig.build.json
  packages/service-worker/jest.config.js
  packages/studio/jest.config.js
  packages/types/jest.config.js
  packages/utils/jest.config.js
  packages/utils/package.json
  packages/utils/src/index.ts
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Fix build of @appsemble/server in Dockerfile
  Dockerfile
Due: none

Remove the need to build @appsemble/utils
  Dockerfile
  packages/utils/package.json
Due: prettier

Build @appsemble/utils in Dockerfile
  Dockerfile
Due: none

Add support for matching any method in tiny router
  packages/server/src/middleware/tinyRouter.test.ts
  packages/server/src/middleware/tinyRouter.ts
Due: eslint

Handle logging streams in Axios middleware
  packages/cli/src/lib/interceptors.test.ts
  packages/cli/src/lib/interceptors.ts
Due: eslint

removed file editor, small improvements based on feedback
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaArrayEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaFileEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaFileEditor/messages.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaStringEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/index.tsx
Due: eslint

Update package.json - removing app dependency which was also related to file inputs
  packages/studio/package.json
Due: prettier

comment out types for notifications
  packages/server/src/controllers/resources.test.ts
  packages/utils/src/api/components/schemas/Hooks.ts
Due: eslint

Update TextArea defaultvalue to format JSON properly
  packages/studio/src/components/JSONSchemaEditor/index.tsx
Due: eslint

Update studio.js - unrelated changes
  config/webpack/studio.js
Due: eslint

update docs
  CHANGELOG.md
  docs/guide/notifications.md
Due: prettier, remark lint

Fix type for RequestLikeActionDefinition
  packages/types/index.d.ts
Due: eslint

Convert remapper interface exports into type exports
  packages/utils/src/index.ts
Due: eslint

Initial implementation for proxying requests
  package.json
  packages/server/package.json
  packages/server/src/routes/studioRouter/index.ts
  packages/server/src/routes/studioRouter/proxyHandler.test.ts
  packages/server/src/routes/studioRouter/proxyHandler.ts
  packages/server/src/utils/createServer.ts
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Remove cors-anywhere proxy from Holidays app
  apps/holidays/app.yaml
Due: prettier

Reuse function getWorkspaces
  packages/cli/src/lib/discoverBlocks.ts
  packages/node-utils/package.json
  packages/node-utils/src/getWorkspaces.ts
Due: eslint, prettier

Exclude templates directory from tsc
  tsconfig.build.json
  tsconfig.json
Due: prettier

Exclude jest setup from build tsconfig
  tsconfig.build.json
Due: prettier

properly load data in editblockcomponent - fix some crashes
  packages/studio/src/components/Editor/index.tsx
  packages/studio/src/components/GUIEditorEditBlock/index.tsx
  packages/studio/src/components/JSONSchemaEditor/index.tsx
Due: eslint

Revert rootDir in tsconfig.json
  blocks/action-button/tsconfig.json
  blocks/button-list/tsconfig.json
  blocks/data-loader/tsconfig.json
  blocks/detail-viewer/tsconfig.json
  blocks/feed/tsconfig.json
  blocks/filter/tsconfig.json
  blocks/form/tsconfig.json
  blocks/list/tsconfig.json
  blocks/map/tsconfig.json
  blocks/markdown/tsconfig.json
  blocks/stats/tsconfig.json
  blocks/table/tsconfig.json
  packages/app/tsconfig.json
  packages/cli/src/lib/__fixtures__/getBlockConfigFromTypeScript/duplicateActions/tsconfig.json
  packages/cli/src/lib/__fixtures__/getBlockConfigFromTypeScript/duplicateEventEmitters/tsconfig.json
  packages/cli/src/lib/__fixtures__/getBlockConfigFromTypeScript/duplicateEventListeners/tsconfig.json
  packages/cli/src/lib/__fixtures__/getBlockConfigFromTypeScript/duplicateParameters/tsconfig.json
  packages/cli/src/lib/__fixtures__/getBlockConfigFromTypeScript/fontawesomeParameters/tsconfig.json
  packages/cli/src/lib/__fixtures__/getBlockConfigFromTypeScript/tsError/tsconfig.json
  packages/cli/src/lib/__fixtures__/getBlockConfigFromTypeScript/valid/tsconfig.json
  packages/cli/tsconfig.json
  packages/create-appsemble/tsconfig.json
  packages/node-utils/tsconfig.json
  packages/preact-components/tsconfig.json
  packages/preact/tsconfig.build.json
  packages/preact/tsconfig.json
  packages/react-components/tsconfig.json
  packages/react/tsconfig.json
  packages/scripts/src/commands/validate.ts
  packages/scripts/tsconfig.json
  packages/sdk/tsconfig.json
  packages/server/tsconfig.json
  packages/service-worker/tsconfig.json
  packages/studio/tsconfig.json
  packages/types/tsconfig.json
  packages/utils/tsconfig.json
Due: eslint, prettier

Apply suggestion to packages/cli/src/lib/discoverBlocks.ts
  packages/cli/src/lib/discoverBlocks.ts
Due: eslint

Apply suggestion to packages/scripts/src/commands/validate.ts
  packages/scripts/src/commands/validate.ts
Due: eslint

code review feedback
  packages/react-components/src/Input/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaArrayEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaObjectEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaStringEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/index.tsx
Due: eslint

make undefined mappers return
  blocks/detail-viewer/src/components/GeoCoordinatesRenderer/index.tsx
  packages/utils/src/remap.ts
Due: eslint

Fix tsconfig
  tsconfig.build.json
Due: prettier

Add date.parse remapper
  docs/guide/remappers.md
  packages/utils/src/remap.test.ts
  packages/utils/src/remap.ts
Due: eslint, prettier, remark lint

Bump dependencies
  blocks/filter/package.json
  package.json
  packages/app/package.json
  packages/cli/package.json
  packages/preact/package.json
  packages/react-components/package.json
  packages/scripts/package.json
  packages/server/package.json
  packages/server/src/routes/studioRouter/oauth2CallbackHandler.ts
  packages/server/src/utils/createServer.ts
  packages/studio/package.json
  packages/utils/package.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Add script for bumping Appsemble versions in package.json
  packages/scripts/src/commands/release.ts
  packages/scripts/src/lib/readPackageJson.ts
Due: eslint
