Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency scanning, eslint, helm lint, prettier, remark lint, stylelint

dependency scanning:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  allow_failure: true
  script:
  - yarn gitlab-yarn-audit
  artifacts:
    reports:
      dependency_scanning: gl-dependency-scanning.json

eslint:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn eslint --format gitlab .
  artifacts:
    reports:
      codequality: gl-codequality.json

helm lint:
  image:
    name: lachlanevenson/k8s-helm:v3.1.0
    entrypoint:
    - /bin/sh
    - -c
  dependencies: []
  script:
  - helm lint config/charts/*

prettier:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn prettier .

remark lint:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn remark --frail .

stylelint:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn stylelint .

Fix the Studio navbar layout
  packages/studio/src/components/Toolbar/index.tsx
Due: eslint

Destructure useRouteMatch throughout code base
  packages/app/src/components/Block/index.tsx
  packages/app/src/components/TabsPage/index.tsx
  packages/studio/src/components/AppContext/index.tsx
  packages/studio/src/components/AppList/components/AppCard/index.tsx
  packages/studio/src/components/AppList/components/CreateAppCard/index.tsx
  packages/studio/src/components/AppSideMenu/index.tsx
  packages/studio/src/components/BlockDetails/components/ParameterRow/index.tsx
  packages/studio/src/components/BlockDetails/index.tsx
  packages/studio/src/components/BlockList/components/BlockCard/index.tsx
  packages/studio/src/components/CMS/index.tsx
  packages/studio/src/components/CMSRoot/index.tsx
  packages/studio/src/components/ProtectedRoute/index.tsx
  packages/studio/src/components/ResourceTable/components/ResourceRow/index.tsx
  packages/studio/src/components/ResourceTable/index.tsx
  packages/studio/src/components/Settings/index.tsx
Due: eslint

fix validateLanguages tests
  packages/utils/src/validateAppDefinition.test.ts
Due: eslint

Apply 1 suggestion(s) to 1 file(s)
  packages/scripts/src/lib/mdast.ts
Due: eslint

Remove unused page blocks logic
  packages/app/src/components/FlowPage/index.tsx
  packages/app/src/components/Page/index.tsx
Due: eslint

Update snapshots
  packages/app/src/components/Page/__snapshots__/index.test.tsx.snap
Due: none

Merge Page useCallback chain in app
  packages/app/src/components/Page/index.tsx
Due: eslint

Flatten handlePagePermissions in Page
  packages/app/src/components/Page/index.tsx
Due: eslint

process feedback
  packages/server/src/controllers/organizations.ts
  packages/studio/src/components/OrganizationInvite/index.tsx
  packages/studio/src/components/OrganizationInvite/messages.tsx
  packages/studio/src/components/UserProvider/index.tsx
  packages/utils/src/api/components/responses/invite.ts
  packages/utils/src/api/paths/invite.ts
Due: eslint

remove useEffect
  packages/studio/src/components/OrganizationInvite/index.tsx
Due: eslint

fix openAPI spec
  packages/studio/src/components/OrganizationInvite/index.tsx
  packages/utils/src/api/components/responses/invite.ts
  packages/utils/src/api/paths/invite.ts
Due: eslint

remove usage of amsterdam marker
  blocks/detail-viewer/src/components/GeoCoordinatesRenderer/index.tsx
  blocks/feed/src/components/Card/index.tsx
  packages/preact-components/src/Location/index.tsx
Due: eslint

remove marker.svg
  themes/amsterdam/core/marker.svg
Due: none

update changelog
  blocks/feed/changes/added/customizable-marker.md
Due: prettier, remark lint

Remove types for file-loader
  blocks/detail-viewer/tsconfig.json
  blocks/feed/tsconfig.json
  blocks/filter/tsconfig.json
  blocks/map/tsconfig.json
  packages/@types-file-loader/index.d.ts
  packages/@types-file-loader/jest.config.js
  packages/@types-file-loader/package.json
  packages/@types-file-loader/tsconfig.json
Due: eslint, prettier

Adjust page routing in app
  packages/app/src/components/AppSettings/index.css
  packages/app/src/components/AppSettings/index.tsx
  packages/app/src/components/Block/index.tsx
  packages/app/src/components/BlockList/index.tsx
  packages/app/src/components/EmailLogin/index.tsx
  packages/app/src/components/FlowPage/index.tsx
  packages/app/src/components/Main/index.tsx
  packages/app/src/components/OpenIDLogin/index.tsx
  packages/app/src/components/Page/index.css
  packages/app/src/components/Page/index.tsx
  packages/app/src/components/TabsPage/index.tsx
  packages/react-components/src/Content/index.tsx
Due: eslint, stylelint

Remove page tests
  packages/app/src/components/Page/__snapshots__/index.test.tsx.snap
  packages/app/src/components/Page/index.test.tsx
Due: eslint

implement email action
  packages/app/src/utils/actions/email.tsx
  packages/app/src/utils/actions/index.tsx
  packages/sdk/src/types.ts
  packages/server/src/controllers/auth.ts
  packages/server/src/controllers/oauth2Login.ts
  packages/server/src/controllers/organizations.ts
  packages/server/src/controllers/proxy.ts
  packages/server/src/controllers/user.ts
  packages/server/src/utils/email/Mailer.test.ts
  packages/server/src/utils/email/Mailer.ts
  packages/server/src/utils/email/renderEmail.ts
  packages/types/index.d.ts
Due: eslint

fix ctx destructuring
  packages/server/src/controllers/proxy.ts
Due: eslint

fix tests
  packages/server/src/utils/email/renderEmail.test.ts
Due: eslint

rename proxy to action
  packages/app/src/utils/actions/email.tsx
  packages/app/src/utils/actions/request.tsx
  packages/server/src/controllers/action.test.ts
  packages/server/src/controllers/action.ts
  packages/server/src/controllers/index.ts
  packages/utils/src/api/paths/action.ts
  packages/utils/src/api/paths/index.ts
Due: eslint

Fix some routing and spacing issues in app
  packages/app/src/components/Main/index.css
  packages/app/src/components/OpenIDLogin/index.css
  packages/app/src/components/OpenIDLogin/index.tsx
  packages/app/src/components/Page/index.css
  packages/app/src/components/Page/index.tsx
  packages/app/src/components/Page/messages.tsx
  packages/app/src/index.html
Due: eslint, prettier, stylelint

process feedback
  packages/studio/src/components/OrganizationInvite/index.css
  packages/studio/src/components/OrganizationInvite/index.tsx
  packages/studio/src/components/OrganizationInvite/messages.tsx
Due: eslint, stylelint

Add defaultLanguage to app definition schema
  packages/utils/src/api/components/schemas/App.ts
Due: eslint

Apply 1 suggestion(s) to 1 file(s)
  packages/app/src/components/Page/index.tsx
Due: eslint

Fix default for defaultLanguage in App schema
  packages/utils/src/api/components/schemas/App.ts
Due: eslint

Allow any referer pathname in the token handler
  packages/app/src/components/OpenIDCallback/index.tsx
  packages/server/src/routes/studioRouter/tokenHandler.ts
Due: eslint

Rewrite reducer based async loops to for of
  packages/cli/src/commands/app/create.ts
  packages/cli/src/commands/block/publish.ts
  packages/cli/src/commands/theme/upload.ts
  packages/cli/src/lib/traverseBlockThemes.ts
Due: eslint

Add initial language detection algorithm
  packages/app/src/utils/i18n.test.ts
  packages/app/src/utils/i18n.ts
Due: eslint

Add initial i18n messages provider
  packages/app/src/components/App/index.tsx
  packages/app/src/components/IntlMessagesProvider/index.tsx
Due: eslint

Fix language based routing
  packages/app/src/components/App/index.tsx
  packages/app/src/components/Block/index.tsx
  packages/app/src/components/IntlMessagesProvider/index.tsx
  packages/app/src/components/Main/index.tsx
  packages/app/src/components/Page/index.tsx
  packages/app/src/types.ts
  packages/app/src/utils/i18n.ts
  packages/server/src/routes/appRouter/indexHandler.ts
Due: eslint

WIP
  packages/types/index.d.ts
  packages/utils/src/remap.ts
Due: eslint

add tests
  packages/server/src/controllers/action.test.ts
  packages/server/src/controllers/action.ts
Due: eslint

update documentation and changelog
  docs/reference/action.md
  packages/app/changes/added/email-action.md
  packages/server/changes/added/email.md
Due: prettier, remark lint

fix tests
  packages/server/src/controllers/action.test.ts
Due: eslint

Fix uploading messages in the CLI
  packages/cli/src/lib/uploadMessages.ts
Due: eslint

Allow updating app messages using the CLI
  packages/cli/src/commands/app/create.ts
  packages/cli/src/commands/app/update.ts
  packages/cli/src/lib/authentication.ts
  packages/studio/src/components/ClientCredentials/index.tsx
  packages/studio/src/components/ClientCredentials/messages.tsx
  packages/utils/src/api/components/securitySchemes/cli.ts
  packages/utils/src/api/paths/messages.ts
  packages/utils/src/constants/scopes.ts
Due: eslint

Support remappers in table
  blocks/table/block.ts
  blocks/table/changes/added/empty-message.md
  blocks/table/changes/added/error-message.md
  blocks/table/changes/added/field-label.md
  blocks/table/src/index.tsx
Due: eslint, prettier, remark lint

Make table messages optional
  blocks/table/block.ts
Due: eslint

Revert most changes
  packages/cli/src/commands/app/create.ts
  packages/cli/src/commands/app/update.ts
  packages/studio/src/components/ClientCredentials/index.tsx
  packages/studio/src/components/ClientCredentials/messages.tsx
  packages/utils/src/api/components/securitySchemes/cli.ts
  packages/utils/src/api/paths/messages.ts
  packages/utils/src/constants/scopes.ts
Due: eslint

Path conditions:
  dependency scanning: any of: yarn.lock
  eslint: any of: **/*.{js,jsx,ts,tsx}, yarn.lock
  helm lint: any of: config/charts/**/*.*
  prettier: any of: **/*.{html,json,md,scss,yaml,yml}, yarn.lock
  remark lint: any of: **/*.{dic,md}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock
