Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency scanning, eslint, helm lint, prettier, remark lint, stylelint

dependency scanning:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  allow_failure: true
  script:
  - yarn gitlab-yarn-audit
  artifacts:
    reports:
      dependency_scanning: gl-dependency-scanning.json

eslint:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn eslint --format gitlab .
  artifacts:
    reports:
      codequality: gl-codequality.json

helm lint:
  image:
    name: lachlanevenson/k8s-helm:v3.1.0
    entrypoint:
    - /bin/sh
    - -c
  dependencies: []
  script:
  - helm lint config/charts/*

prettier:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn prettier .

remark lint:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn remark --frail .

stylelint:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn stylelint .

Force support colors in logs in the docker image
  Dockerfile
Due: none

Fix login initialization in Studio
  packages/studio/src/components/OrganizationProvider/index.tsx
  packages/studio/src/components/ProtectedRoute/index.tsx
  packages/studio/src/components/UserProvider/index.tsx
  packages/studio/src/hooks/useUser.ts
Due: eslint

fix styling in organization settings
  packages/studio/src/components/OAuthSettings/index.tsx
  packages/studio/src/components/OrganizationsSettings/index.tsx
Due: eslint

fix openID login page
  packages/studio/src/components/OpenIDLogin/index.tsx
Due: eslint

Fix invite member handler
  packages/server/src/controllers/organizations.ts
Due: eslint

Tabs component and Stepper styling
  packages/react-components/src/Stepper/index.css
  packages/react-components/src/Stepper/index.tsx
  packages/react-components/src/Tabs/Tab/index.css
  packages/react-components/src/Tabs/Tab/index.tsx
  packages/react-components/src/Tabs/index.tsx
  packages/react-components/src/Tabs/messages.tsx
  packages/react-components/src/index.tsx
  packages/studio/src/components/GUIEditor/components/ActionEditor/components/LinkActionEditor/index.tsx
  packages/studio/src/components/GUIEditor/components/ActionEditor/components/UnknownTypeEditor/index.tsx
  packages/studio/src/components/GUIEditor/components/ActionEditor/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorEditBlock/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorToolbox/index.css
  packages/studio/src/components/GUIEditor/components/GUIEditorToolbox/index.tsx
Due: eslint, stylelint

Disable controls while redirecting to OAuth2 provider
  packages/app/src/components/OpenIDLogin/index.tsx
  packages/react-components/src/OAuth2LoginButton/index.tsx
  packages/studio/src/components/Login/index.tsx
  packages/studio/src/components/OAuthSettings/index.tsx
Due: eslint

saving issues solved
  packages/studio/src/components/GUIEditor/components/ActionEditor/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorEditBlock/index.tsx
Due: eslint

bug fix
  packages/studio/src/components/GUIEditor/components/GUIEditorSelect/index.tsx
Due: eslint

Extract function for generating an app URL
  packages/studio/src/components/AppDetails/index.tsx
  packages/studio/src/components/AppList/components/AppCard/index.tsx
  packages/studio/src/components/AppSettings/index.tsx
  packages/studio/src/components/Editor/components/EditorNavBar/index.tsx
  packages/studio/src/components/Editor/index.tsx
  packages/studio/src/utils/getAppUrl.test.ts
  packages/studio/src/utils/getAppUrl.ts
Due: eslint

WIP
  packages/server/src/controllers/user.ts
  packages/studio/src/components/AppAccounts/index.tsx
  packages/studio/src/components/AppAccounts/messages.tsx
  packages/studio/src/components/Settings/index.tsx
  packages/studio/src/components/Settings/messages.tsx
  packages/utils/src/api/paths/user.ts
Due: eslint

Fix links to apps on non-standard ports
  packages/studio/src/utils/getAppUrl.ts
Due: eslint

use blockDefinition index for block prefix
  packages/app/src/components/BlockList/index.tsx
Due: eslint

revert noAppIcon removal
  packages/studio/src/components/AppList/components/AppList/index.css
Due: stylelint

move AppList subcomponent to root of AppList component
  packages/studio/src/components/AppList/components/AppList/index.tsx
  packages/studio/src/components/AppList/index.css
  packages/studio/src/components/AppList/index.tsx
  packages/studio/src/components/AppList/messages.tsx
Due: eslint, stylelint

remove onSubmitSuccess
  blocks/form/block.ts
  blocks/form/src/index.tsx
Due: eslint

add FormRequirement type
  blocks/form/block.ts
Due: eslint

remove unused import
  packages/app/src/components/Main/index.tsx
Due: eslint

Add timer block
  CHANGELOG.md
  blocks/timer/.appsemblerc.yaml
  blocks/timer/README.md
  blocks/timer/block.ts
  blocks/timer/jest.config.js
  blocks/timer/package.json
  blocks/timer/src/index.tsx
  blocks/timer/tsconfig.json
  blocks/timer/webpack.config.js
Due: eslint, prettier, remark lint

remove unused file
  blocks/markdown/src/index.css
Due: stylelint

fix pipeline and styling fixes
  packages/studio/package.json
  packages/studio/src/components/GUIEditor/components/ActionEditor/components/ActionEditorTypeSelect/index.tsx
  packages/studio/src/components/GUIEditor/components/ActionEditor/index.css
  packages/studio/src/components/GUIEditor/components/ActionEditor/index.tsx
  packages/studio/src/components/GUIEditor/components/ActionEditor/messages.tsx
Due: eslint, prettier, stylelint

clean up form index
  blocks/form/src/index.tsx
  blocks/form/src/messages.tsx
  blocks/form/src/utils/validateString.ts
Due: eslint

Add reusable value picker provider
  packages/react-components/src/Tab/index.tsx
  packages/react-components/src/Tabs/index.tsx
  packages/react-components/src/ValuePickerProvider/index.tsx
  packages/react-components/src/index.tsx
  packages/studio/src/components/Editor/components/EditorNavBar/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorBlockItem/index.css
  packages/studio/src/components/GUIEditor/components/GUIEditorBlockItem/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorBlockItem/messages.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorToolboxBlock/index.tsx
Due: eslint, stylelint

Replace custom CSS with Bulma helpers
  packages/app/src/components/OpenIDLogin/index.css
  packages/app/src/components/OpenIDLogin/index.tsx
  packages/studio/src/components/AppSecrets/components/AppSecretCard/index.css
  packages/studio/src/components/AppSecrets/components/AppSecretCard/index.tsx
  packages/studio/src/components/OAuth2StudioCallback/index.css
Due: eslint, stylelint

Revert "WIP"
  packages/server/src/controllers/user.ts
  packages/studio/src/components/AppAccounts/index.tsx
  packages/studio/src/components/AppAccounts/messages.tsx
  packages/studio/src/components/Settings/index.tsx
  packages/studio/src/components/Settings/messages.tsx
  packages/utils/src/api/paths/user.ts
Due: eslint

refactor styling
  packages/react-components/src/FormButtons/index.tsx
  packages/react-components/src/Stepper/index.css
  packages/react-components/src/Stepper/index.tsx
Due: eslint, stylelint

defaults
  packages/studio/src/components/GUIEditor/components/ActionEditor/components/ActionEditorTypeEditor/index.tsx
  packages/studio/src/components/GUIEditor/components/ActionEditor/components/PageSelect/index.tsx
Due: eslint

implement ValidateForm
  blocks/form/block.ts
  blocks/form/src/index.css
  blocks/form/src/index.tsx
  blocks/form/src/messages.tsx
Due: eslint, stylelint

Split Dockerfile steps into multiple run statements
  Dockerfile
Due: none

ActionSEditor and use standard terminology.
  packages/react-components/src/FormButtons/index.tsx
  packages/react-components/src/Tabs/Tab/index.css
  packages/react-components/src/Tabs/Tab/index.tsx
  packages/react-components/src/Tabs/messages.tsx
  packages/studio/src/components/GUIEditor/components/ActionEditor/components/ActionEditorTypeEditor/index.tsx
  packages/studio/src/components/GUIEditor/components/ActionEditor/components/ActionEditorTypeEditor/messages.tsx
  packages/studio/src/components/GUIEditor/components/ActionEditor/components/ActionEditorTypeSelect/index.tsx
  packages/studio/src/components/GUIEditor/components/ActionEditor/components/ActionEditorTypeSelect/messages.tsx
  packages/studio/src/components/GUIEditor/components/ActionEditor/components/LinkActionEditor/index.tsx
  packages/studio/src/components/GUIEditor/components/ActionEditor/components/LinkActionEditor/messages.tsx
  packages/studio/src/components/GUIEditor/components/ActionEditor/components/PageSelect/index.tsx
  packages/studio/src/components/GUIEditor/components/ActionEditor/components/UnknownTypeEditor/index.tsx
  packages/studio/src/components/GUIEditor/components/ActionEditor/components/UnknownTypeEditor/messages.tsx
  packages/studio/src/components/GUIEditor/components/ActionEditor/index.tsx
  packages/studio/src/components/GUIEditor/components/ActionsEditor/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorEditBlock/index.tsx
Due: eslint, stylelint

re-implement requirements check
  blocks/form/block.ts
  blocks/form/src/index.tsx
  blocks/form/src/utils/ValidationError.ts
  blocks/form/src/utils/generateDefaultValues.ts
  blocks/form/src/utils/generateValidity.ts
  blocks/form/src/utils/validateString.ts
  blocks/form/src/utils/validators/index.ts
  blocks/form/src/utils/validators/validateNumber.ts
  blocks/form/src/utils/validators/validateString.ts
  packages/app/src/utils/actions/index.tsx
  packages/app/src/utils/actions/noop.tsx
  packages/app/src/utils/makeActions.tsx
  packages/sdk/src/types.ts
  packages/utils/src/validateAppDefinition.ts
Due: eslint

Fix a small regression in app flow progress dots
  packages/app/src/components/DotProgressBar/index.tsx
Due: eslint

Create apps in review environments
  .gitlab-ci.yml
Due: prettier

Add reusable useEventListener hook
  packages/app/src/components/AppDefinitionProvider/index.tsx
  packages/app/src/components/SideMenu/index.tsx
  packages/react-components/src/Dropdown/index.tsx
  packages/react-components/src/hooks/useClickOutside.tsx
  packages/react-components/src/hooks/useEventListener.tsx
  packages/react-components/src/index.tsx
Due: eslint

finish form requirement and validation
  blocks/form/block.ts
  blocks/form/src/components/BooleanInput/index.tsx
  blocks/form/src/components/EnumInput/index.tsx
  blocks/form/src/components/FileInput/index.tsx
  blocks/form/src/components/NumberInput/index.tsx
  blocks/form/src/components/RadioInput/index.tsx
  blocks/form/src/components/StringInput/index.tsx
  blocks/form/src/index.tsx
  blocks/form/src/utils/generateValidity.ts
  blocks/form/src/utils/validators/index.ts
  blocks/form/src/utils/validators/validateNumber.ts
  blocks/form/src/utils/validators/validateString.ts
  packages/app/src/utils/actions/throwAction.tsx
  packages/utils/src/validateAppDefinition.ts
Due: eslint

update changelog
  CHANGELOG.md
Due: prettier, remark lint

Add tests and support for user info URL
  packages/server/src/controllers/appOAuth2Secrets.test.ts
  packages/server/src/controllers/appOAuth2Secrets.ts
  packages/studio/src/components/AppSecrets/components/AppSecretCard/index.tsx
  packages/studio/src/components/AppSecrets/components/AppSecretCard/messages.tsx
  packages/utils/src/api/components/schemas/AppOAuth2Secret.ts
Due: eslint

add unit tests for string and number validators
  blocks/form/src/utils/validators/validateNumber.test.ts
  blocks/form/src/utils/validators/validateNumber.ts
  blocks/form/src/utils/validators/validateString.test.ts
Due: eslint

Path conditions:
  dependency scanning: any of: yarn.lock
  eslint: any of: **/*.{js,jsx,ts,tsx}, yarn.lock
  helm lint: any of: config/charts/**/*.*
  prettier: any of: **/*.{html,json,md,scss,yaml,yml}, yarn.lock
  remark lint: any of: **/*.{dic,md}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock
