Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, prettier, stylelint, test:postgres

.gitlab-ci.yml:

image: node:10-slim

stages:
  - test
  - build
  - publish
  - deploy

build:docker:
  stage: build
  services:
    - docker:dind
  image: docker
  tags:
    - dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
    - docker build -t "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHA" .
    - docker tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHA" "$CI_REGISTRY_IMAGE:$CI_BUILD_REF_NAME"
    - docker push "$CI_REGISTRY_IMAGE:$CI_BUILD_REF_NAME"
    - docker push "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHA"

deploy:staging:
  stage: deploy
  image: alpine
  variables:
    GIT_STRATEGY: none
  only:
    - master
  environment:
    name: staging
  script:
    - apk add --no-cache curl
    - curl -X POST -F "token=$CI_JOB_TOKEN" -F "ref=master" -F "variables[RELEASE]=staging"
      https://gitlab.com/api/v4/projects/8452871/trigger/pipeline

eslint:
  only:
    changes:
      - '**/*.{js,jsx,md}'
      - yarn.lock
  script:
    - yarn --frozen-lockfile
    - yarn eslint

pages:
  stage: build
  image: busybox
  variables:
    GIT_STRATEGY: none
  dependencies:
    - test
  only:
    - master
  script: mv coverage/lcov-report public
  artifacts:
    paths:
      - public/

prettier:
  only:
    changes:
      - '**/*.{css,json,md,yaml,yml}'
      - yarn.lock
  script:
    - yarn --frozen-lockfile
    - yarn prettier

publish:docker:latest:
  stage: publish
  services:
    - docker:dind
  image: docker
  tags:
    - dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    GIT_STRATEGY: none
  only:
    - tags
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
    - echo $DOCKER_HUB_PASSWORD | docker login -u $DOCKER_HUB_USER --password-stdin
    - docker pull "$CI_REGISTRY_IMAGE:$CI_COMMIT_TAG"
    - docker tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_TAG" "$CI_REGISTRY_IMAGE:latest"
    - docker tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_TAG" "appsemble/appsemble:latest"
    - docker tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_TAG" "appsemble/appsemble:$CI_COMMIT_TAG"
    - docker push "$CI_REGISTRY_IMAGE:latest"
    - docker push "appsemble/appsemble:latest"
    - docker push "appsemble/appsemble:$CI_COMMIT_TAG"

stylelint:
  only:
    changes:
      - '**/*.css'
      - yarn.lock
  script:
    - yarn --frozen-lockfile
    - yarn stylelint

test:
  services:
    - name: mysql:8.0
      command: [--default-authentication-plugin=mysql_native_password]
  variables:
    MYSQL_DATABASE: testAppsemble
    MYSQL_ROOT_PASSWORD: password
    DATABASE_URL: 'mysql://root:password@mysql:3306'
  script:
    - yarn --frozen-lockfile
    - yarn test --coverage
  artifacts:
    paths:
      - coverage/

test:postgres:
  services:
    - postgres:10.0
  variables:
    POSTGRES_DB: testAppsemble
    POSTGRES_USER: root
    POSTGRES_PASSWORD: password
    DATABASE_URL: 'postgresql://root:password@postgres:5432/testAppsemble'
  only:
    changes:
      - 'api/**/*.js'
      - yarn.lock
  script:
    - yarn --frozen-lockfile
    - yarn test

feat: relese 0.2.0
  CHANGELOG.md
Due: eslint, prettier

feat: implement option for redirecting back to original page
  api/server.js
  editor/components/Login/Login.jsx
Due: eslint, test:postgres

refactor: rename dec to payload
  api/middleware/oauth2Model.js
Due: eslint, test:postgres

fix: return generateToken result in generateRefreshToken
  api/middleware/oauth2Model.js
Due: eslint, test:postgres

refactor: use spread operator to get handlers from oauth2Server options
  api/middleware/oauth2Server.js
Due: eslint, test:postgres

refactor: export action types from app
  app/actions/app.jsx
  app/actions/db.jsx
Due: eslint

refactor: limit scoping of token in authenticate()
  api/middleware/oauth2Server.js
Due: eslint, test:postgres

refactor: remove non-compliant json hack in oauthserver
  api/middleware/oauth2Server.js
Due: eslint, test:postgres

refactor: limit scoping of code in oauth2server
  api/middleware/oauth2Server.js
Due: eslint, test:postgres

refactor: change scoping of eslint disable
  api/middleware/OAuth2Plugin.js
Due: eslint, test:postgres

refactor: replaced call() with direct function calls in oauth2Server
  api/middleware/oauth2Server.js
Due: eslint, test:postgres

refactor: replace refresh token jwt with random byte string
  api/middleware/oauth2Model.js
Due: eslint, test:postgres

fix: fetch token using www-x-form-urlencoded
  api/utils/test/testToken.js
Due: eslint, test:postgres

feat: make jwt secret key configurable
  api/middleware/oauth2Model.js
  api/server.js
Due: eslint, test:postgres

refactor: reduce nesting in oauth2Server handleError
  api/middleware/oauth2Server.js
Due: eslint, test:postgres

docs: add comment about uncertainty in handleResponse
  api/middleware/oauth2Server.js
Due: eslint, test:postgres

feat: add index page for editor
  editor/components/App/App.jsx
  editor/components/AppList/AppList.jsx
  editor/components/AppList/applist.css
  editor/components/AppList/index.jsx
  editor/index.jsx
Due: eslint, prettier, stylelint

fix: update api path for oauth token in editor
  editor/index.jsx
Due: eslint

feat: add default OAuthClient and User when running initDb
  api/server.js
Due: eslint, test:postgres

refactor: bump dependencies
  api/package.json
  app/package.json
  blocks/action-button/package.json
  blocks/detail-viewer/package.json
  blocks/form/package.json
  editor/package.json
  package.json
  yarn.lock
Due: eslint, prettier, stylelint, test:postgres

refactor: remove node-oauth2-server dependency
  api/package.json
  yarn.lock
Due: eslint, prettier, stylelint, test:postgres

feat: implement cards with links to each app
  editor/components/AppList/AppList.jsx
  editor/components/AppList/applist.css
  editor/package.json
  yarn.lock
Due: eslint, prettier, stylelint, test:postgres

refactor: replace custom navbar in editor with bulma navbar
  editor/components/Editor/Editor.jsx
  editor/components/Editor/editor.css
  editor/package.json
Due: eslint, prettier, stylelint

refactor: replace anchor tag with Link component for editor link
  editor/components/AppList/AppList.jsx
Due: eslint

refactor: use Fas component instead of manual fas icon
  editor/components/Editor/Editor.jsx
Due: eslint

feat: implement NavbarMenu and NavbarEnd bulma components
  packages/react-bulma/base/NavbarEnd/NavbarEnd.jsx
  packages/react-bulma/base/NavbarEnd/index.jsx
  packages/react-bulma/base/NavbarMenu/NavbarMenu.jsx
  packages/react-bulma/base/NavbarMenu/index.jsx
  packages/react-bulma/base/index.jsx
Due: eslint

feat: implement login button in editor
  editor/components/App/App.jsx
  editor/components/App/index.jsx
  editor/components/Editor/Editor.jsx
  editor/components/Editor/messages.jsx
Due: eslint

feat: add logout button and navbar to AppList
  editor/components/App/messages.jsx
  editor/components/AppList/AppList.jsx
  editor/components/AppList/applist.css
  editor/components/Editor/Editor.jsx
  editor/components/Editor/editor.css
Due: eslint, prettier, stylelint

feat: implement NavbarStart bulma react component
  packages/react-bulma/base/NavbarStart/NavbarStart.jsx
  packages/react-bulma/base/NavbarStart/index.jsx
  packages/react-bulma/base/index.jsx
Due: eslint

feat: implement hamburger button for editor navbars
  editor/components/AppList/AppList.jsx
  editor/components/Editor/Editor.jsx
Due: eslint

feat: add option to push messages with just a string as well as defining colours
  app/actions/message.jsx
  app/components/Message/Message.jsx
Due: eslint

feat: handle errors in editor
  editor/components/App/App.jsx
  editor/components/Editor/Editor.jsx
  editor/components/Editor/index.jsx
  editor/index.jsx
Due: eslint

style: make stylelint more strict
  .gitlab-ci.yml
  CONTRIBUTING.md
  app/components/AppContext/AppContext.css
  app/components/SideMenuButton/SideMenuButton.css
  app/components/SideNavigation/SideNavigation.css
  app/components/SplashAction/SplashAction.css
  apps/unlittered/amsterdam.css
  blocks/action-button/amsterdam.css
  blocks/action-button/index.css
  blocks/amsterdam-splash/index.css
  blocks/detail-viewer/amsterdam.css
  blocks/detail-viewer/components/ObjectRenderer/GeoCoordinatesRenderer/GeoCoordinatesRenderer.css
  blocks/form/amsterdam.css
  blocks/form/components/FileInput/FileEntry.css
  blocks/form/components/FileInput/FileInput.css
  blocks/form/components/GeoCoordinatesInput/GeoCoordinatesInput.css
  editor/components/Editor/editor.css
  package.json
  stylelint.config.js
  yarn.lock
Due: eslint, prettier, stylelint, test:postgres

refactor: replace findById with findByPk
  api/controllers/apps.js
  api/controllers/assets.js
  api/controllers/auth.js
  api/controllers/resources.js
  api/routes/iconHandler/index.js
  api/routes/manifestHandler/index.js
Due: eslint, test:postgres

feat: add create app tile visually
  editor/components/AppList/AppList.jsx
  editor/components/AppList/applist.css
  editor/index.jsx
Due: eslint, prettier, stylelint

refactor: move fontawesome import to editor index and replace unnecessary bulma import
  editor/components/AppList/AppList.jsx
  editor/index.jsx
Due: eslint

refactor: remove unnecessary index.css import in AppList
  editor/components/AppList/index.jsx
Due: eslint

build: implement husky and lint-staged
  package.json
  yarn.lock
Due: eslint, prettier, stylelint, test:postgres

refactor: use css class instead of inline css
  editor/components/AppList/AppList.jsx
  editor/components/AppList/applist.css
Due: eslint, prettier, stylelint

refactor: split up AppList into components
  editor/components/AppList/AppList.jsx
  editor/components/AppList/applist.css
  editor/components/AppList/components/AppCard/AppCard.jsx
  editor/components/AppList/components/AppCard/index.jsx
  editor/components/AppList/components/AppList/AppList.jsx
  editor/components/AppList/components/AppList/applist.css
  editor/components/AppList/components/AppList/index.js
  editor/components/AppList/index.jsx
Due: eslint, prettier, stylelint
