Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, prettier, stylelint, test:postgres

.gitlab-ci.yml:

image: node:10-slim

stages:
  - test
  - build
  - publish
  - deploy

build:docker:
  stage: build
  services:
    - docker:dind
  image: docker
  tags:
    - dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
    - docker build -t "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHA" .
    - docker tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHA" "$CI_REGISTRY_IMAGE:$CI_BUILD_REF_NAME"
    - docker push "$CI_REGISTRY_IMAGE:$CI_BUILD_REF_NAME"
    - docker push "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHA"

deploy:staging:
  stage: deploy
  image: alpine
  variables:
    GIT_STRATEGY: none
  only:
    - master
  environment:
    name: staging
  script:
    - apk add --no-cache curl
    - curl -X POST -F "token=$CI_JOB_TOKEN" -F "ref=master" -F "variables[RELEASE]=staging"
      https://gitlab.com/api/v4/projects/8452871/trigger/pipeline

eslint:
  only:
    changes:
      - '**/*.{js,jsx,md}'
      - yarn.lock
  script:
    - yarn --frozen-lockfile
    - yarn eslint

pages:
  stage: build
  image: busybox
  variables:
    GIT_STRATEGY: none
  dependencies:
    - test
  only:
    - master
  script: mv coverage/lcov-report public
  artifacts:
    paths:
      - public/

prettier:
  only:
    changes:
      - '**/*.{css,json,md,yaml,yml}'
      - yarn.lock
  script:
    - yarn --frozen-lockfile
    - yarn prettier

publish:docker:latest:
  stage: publish
  services:
    - docker:dind
  image: docker
  tags:
    - dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    GIT_STRATEGY: none
  only:
    - tags
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
    - echo $DOCKER_HUB_PASSWORD | docker login -u $DOCKER_HUB_USER --password-stdin
    - docker pull "$CI_REGISTRY_IMAGE:$CI_COMMIT_TAG"
    - docker tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_TAG" "$CI_REGISTRY_IMAGE:latest"
    - docker tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_TAG" "appsemble/appsemble:latest"
    - docker tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_TAG" "appsemble/appsemble:$CI_COMMIT_TAG"
    - docker push "$CI_REGISTRY_IMAGE:latest"
    - docker push "appsemble/appsemble:latest"
    - docker push "appsemble/appsemble:$CI_COMMIT_TAG"

stylelint:
  only:
    changes:
      - '**/*.css'
      - yarn.lock
  script:
    - yarn --frozen-lockfile
    - yarn stylelint

test:
  services:
    - name: mysql:8.0
      command: [--default-authentication-plugin=mysql_native_password]
  variables:
    MYSQL_DATABASE: testAppsemble
    MYSQL_ROOT_PASSWORD: password
    DATABASE_URL: 'mysql://root:password@mysql:3306'
  script:
    - yarn --frozen-lockfile
    - yarn test --coverage
  artifacts:
    paths:
      - coverage/

test:postgres:
  services:
    - postgres:10.0
  variables:
    POSTGRES_DB: testAppsemble
    POSTGRES_USER: root
    POSTGRES_PASSWORD: password
    DATABASE_URL: 'postgresql://root:password@postgres:5432/testAppsemble'
  only:
    changes:
      - 'api/**/*.js'
      - yarn.lock
  script:
    - yarn --frozen-lockfile
    - yarn test

refactor: simplify props
  editor/components/Editor/components/MonacoEditor/MonacoEditor.jsx
Due: eslint

feat: implemented register logic
  editor/components/App/App.jsx
  editor/components/App/index.jsx
  editor/components/Register/index.jsx
  packages/react-components/components/Register/Register.jsx
  packages/react-components/components/Register/messages.jsx
Due: eslint

feat: include register link in login page
  editor/components/App/App.jsx
  editor/components/App/messages.jsx
Due: eslint

refactor: simplify routing
  editor/components/App/App.jsx
Due: eslint

test(bulma-react): add tests for Button
  .eslintrc.js
  jest.config.js
  package.json
  packages/react-bulma/base/Button/Button.test.jsx
  packages/react-bulma/base/Button/__snapshots__/Button.test.jsx.snap
  packages/react-bulma/package.json
  test-setup.js
  yarn.lock
Due: eslint, prettier, stylelint, test:postgres

feat: add forgotpasswordtoken model
  api/models/ForgotPasswordToken.js
  api/utils/setupModels.js
Due: eslint, test:postgres

feat: implement forgot password email template
  api/templates/forget.md
  api/utils/email.js
Due: eslint, prettier, test:postgres

refactor: rename id to token
  api/models/ForgotPasswordToken.js
Due: eslint, test:postgres

test(api): replace toBeDefined calls
  api/controllers/apps.test.js
Due: eslint, test:postgres

style(api): use consistent HTTP format in tests
  api/controllers/apps.test.js
Due: eslint, test:postgres

refactor: make the app schema more strict
  api/api/definitions/App.yaml
  api/api/definitions/Block.yaml
  api/api/definitions/Page.yaml
  api/controllers/apps.test.js
Due: eslint, prettier, test:postgres

feat: define forget password oai methods
  api/api/paths/emails.yaml
Due: prettier

refactor: use component instead of render for register route
  editor/components/App/App.jsx
Due: eslint

feat: include autoComplete new-password
  packages/react-components/components/Register/Register.jsx
Due: eslint

feat: implement ResetPassword form
  editor/components/App/App.jsx
  editor/components/ForgotPassword/index.jsx
  editor/components/ResetPassword/index.jsx
  packages/react-components/components/ResetPassword/ResetPassword.jsx
  packages/react-components/components/ResetPassword/index.jsx
  packages/react-components/components/ResetPassword/messages.jsx
  packages/react-components/components/ResetPassword/resetpassword.css
  packages/react-components/components/index.jsx
Due: eslint, prettier, stylelint

feat: position register and forgot password links
  editor/components/App/App.jsx
  editor/components/App/app.css
Due: eslint, prettier, stylelint

test: include ForgetEmail unit tests
  api/controllers/auth.test.js
  api/utils/__snapshots__/email.test.js.snap
  api/utils/email.test.js
Due: eslint, test:postgres

feat: implement request password reset form
  api/controllers/auth.js
  editor/components/App/App.jsx
  editor/components/App/messages.jsx
  editor/components/ForgotPassword/index.jsx
  packages/react-components/components/ForgotPassword/ForgotPassword.jsx
  packages/react-components/components/ForgotPassword/forgotpassword.css
  packages/react-components/components/ForgotPassword/index.jsx
  packages/react-components/components/ForgotPassword/messages.jsx
  packages/react-components/components/index.jsx
Due: eslint, prettier, stylelint, test:postgres

refactor: fix typos
  api/controllers/auth.js
  api/utils/email.js
Due: eslint, test:postgres

refactor: remove paranoid flag from ForgotPasswordToken
  api/models/ForgotPasswordToken.js
Due: eslint, test:postgres

feat: implement api calls for resetting password
  api/controllers/auth.js
Due: eslint, test:postgres

refactor: rename reset code to reset token
  api/api/paths/emails.yaml
Due: prettier

feat(api): highlight SQL logs
  api/package.json
  api/utils/logSQL.js
  api/utils/setupModels.js
  yarn.lock
Due: eslint, prettier, stylelint, test:postgres

refactor(api): allow passing sequelize options in tests
  api/utils/test/testSchema.js
Due: eslint, test:postgres

ci: add more issue templates
  .gitlab/issue_templates/Bug.md
  .gitlab/issue_templates/Documentation.md
  .gitlab/issue_templates/Feature.md
  .gitlab/issue_templates/UX Design.md
Due: eslint, prettier

refactor: reword forgot password email template
  api/templates/forget.md
  api/templates/reset.md
  api/utils/email.js
Due: eslint, prettier, test:postgres

refactor: move Reset/EditPassword components to editor and rename ForgotPassword -> ResetPassword / EditPassword
  api/api/paths/emails.yaml
  api/controllers/auth.js
  api/controllers/auth.test.js
  api/models/ResetPasswordToken.js
  api/utils/email.js
  api/utils/email.test.js
  api/utils/setupModels.js
  editor/actions/user.js
  editor/components/App/App.jsx
  editor/components/EditPassword/EditPassword.jsx
  editor/components/EditPassword/editpassword.css
  editor/components/EditPassword/index.jsx
  editor/components/EditPassword/messages.jsx
  editor/components/ForgotPassword/index.jsx
  editor/components/ResetPassword/ResetPassword.jsx
  editor/components/ResetPassword/index.jsx
  editor/components/ResetPassword/messages.jsx
  editor/components/ResetPassword/resetpassword.css
  packages/react-components/components/ForgotPassword/index.jsx
  packages/react-components/components/ResetPassword/index.jsx
  packages/react-components/components/index.jsx
Due: eslint, prettier, stylelint, test:postgres

test: redefine email reset test description
  api/controllers/auth.test.js
Due: eslint, test:postgres

refactor: move register component to editor
  editor/actions/user.js
  editor/components/Register/Register.jsx
  editor/components/Register/index.jsx
  editor/components/Register/messages.jsx
  editor/components/Register/register.css
  packages/react-components/components/Register/index.jsx
  packages/react-components/components/index.jsx
Due: eslint, prettier, stylelint

docs: add missing contributing documentation
  CONTRIBUTING.md
Due: eslint, prettier

test: update reset password email template
  api/utils/__snapshots__/email.test.js.snap
Due: none

docs: fix issue template labels
  .gitlab/issue_templates/Bug.md
  .gitlab/issue_templates/Documentation.md
  .gitlab/issue_templates/Feature.md
  .gitlab/issue_templates/UX Design.md
Due: eslint, prettier

docs: process comments in contributing document
  CONTRIBUTING.md
Due: eslint, prettier

feat: implement tab component
  packages/react-bulma/base/Tab/Tab.jsx
  packages/react-bulma/base/Tab/index.jsx
  packages/react-bulma/base/TabItem/TabItem.jsx
  packages/react-bulma/base/TabItem/index.jsx
  packages/react-bulma/base/index.jsx
Due: eslint

feat: add monaco workers
  editor/components/Editor/components/MonacoEditor/MonacoEditor.jsx
  package.json
  webpack.config.js
  yarn.lock
Due: eslint, prettier, stylelint, test:postgres

feat: add tab component in editor
  editor/components/Editor/Editor.jsx
  editor/components/Editor/editor.css
Due: eslint, prettier, stylelint

refactor: remove webpack plugin for monaco (temporarily)
  editor/components/Editor/components/MonacoEditor/MonacoEditor.jsx
  package.json
  webpack.config.js
  yarn.lock
Due: eslint, prettier, stylelint, test:postgres

refactor: move jest test setup into config directory
  .eslintrc.js
  config/jest/setupTestFramework.js
  jest.config.js
Due: eslint

fix(api): fix password token URL
  api/api/securityDefinitions/oauth.yaml
Due: prettier

feat: allow app to load in core stylesheet
  api/api/paths/apps.yaml
  api/controllers/apps.js
  api/models/App.js
  api/routes/indexHandler/index.js
  api/routes/indexHandler/index.pug
  editor/components/Editor/components/MonacoEditor/MonacoEditor.jsx
Due: eslint, prettier, test:postgres
