Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency scanning, eslint, helm lint, prettier, remark lint, stylelint

dependency scanning:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  allow_failure: true
  script:
  - yarn gitlab-yarn-audit
  artifacts:
    reports:
      dependency_scanning: gl-dependency-scanning.json

eslint:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn eslint --format gitlab .
  artifacts:
    reports:
      codequality: gl-codequality.json

helm lint:
  image:
    name: lachlanevenson/k8s-helm:v3.1.0
    entrypoint:
    - /bin/sh
    - -c
  dependencies: []
  script:
  - helm lint config/charts/*

prettier:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn prettier .

remark lint:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn remark --frail .

stylelint:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn stylelint .

Fix inability to leave organizations
  packages/server/src/controllers/organizations.test.ts
  packages/server/src/controllers/organizations.ts
  packages/utils/src/api/paths/organizations.ts
Due: eslint

swap out default tileLayer to the OpenStreetMap tiles
  packages/utils/src/constants/baseTheme.ts
Due: eslint

fix tests
  packages/utils/src/validateAppDefinition.test.ts
  packages/utils/src/validateAppDefinition.ts
Due: eslint

Fix TypeScript issue
  packages/studio/src/components/OAuth2StudioCallback/index.tsx
Due: eslint

Fix tests
  packages/app/jest.config.js
  packages/server/src/routes/appRouter/indexHandler.test.ts
  packages/utils/src/api/paths/appOAuth2Secrets.ts
Due: eslint

Update documentation for configuring OAuth2
  docs/guide/oauth2.md
Due: prettier, remark lint

Add non-null constraints
  packages/server/src/models/AppOAuth2Authorization.ts
  packages/server/src/models/AppOAuth2Secret.ts
Due: eslint

Add migrations
  packages/server/src/migrations/0.13.4-app-oauth2-provider.ts
  packages/server/src/migrations/index.ts
Due: eslint

Fix migration version
  packages/server/src/migrations/0.13.5-app-oauth2-provider.ts
  packages/server/src/migrations/index.ts
Due: eslint

Introduce useCombinedRefs
  packages/react-components/src/PasswordInput/index.tsx
  packages/react-components/src/hooks/useCombinedRefs.ts
  packages/react-components/src/index.tsx
  packages/studio/src/components/ClientCredentials/index.tsx
  packages/studio/src/components/ClientCredentials/messages.tsx
Due: eslint

Use useCombinedRefs for TagsInput
  packages/react-components/src/TagsInput/index.tsx
Due: eslint

Implement defaultLocation property for Map
  CHANGELOG.md
  blocks/map/block.ts
  blocks/map/src/index.ts
Due: eslint, prettier, remark lint

Update changelog
  CHANGELOG.md
Due: prettier, remark lint

Run remark CLI using lint-staged
  .gitlab-ci.yml
  package.json
Due: prettier

Add the data-notifier block
  blocks/data-notifier/.appsemblerc.yaml
  blocks/data-notifier/README.md
  blocks/data-notifier/block.ts
  blocks/data-notifier/jest.config.js
  blocks/data-notifier/package.json
  blocks/data-notifier/src/index.css
  blocks/data-notifier/src/index.tsx
  blocks/data-notifier/tsconfig.json
  blocks/data-notifier/webpack.config.js
  docs/images/data-notifier.png
Due: eslint, prettier, remark lint, stylelint

implement displaying images in list items
  CHANGELOG.md
  blocks/list/block.ts
  blocks/list/src/components/ListItem/index.css
  blocks/list/src/components/ListItem/index.tsx
Due: eslint, prettier, remark lint, stylelint

Apply 1 suggestion(s) to 1 file(s)
  blocks/list/src/components/ListItem/index.tsx
Due: eslint

Fix jest display name for data-notifier
  blocks/data-notifier/jest.config.js
Due: eslint

Apply 1 suggestion(s) to 1 file(s)
  blocks/data-notifier/block.ts
Due: eslint

Apply 1 suggestion(s) to 1 file(s)
  blocks/data-notifier/src/index.tsx
Due: eslint

Update data-notifier screenshot
  docs/images/data-notifier.png
Due: none

Fix create-appsemble not working
  packages/create-appsemble/src/index.ts
Due: eslint

Remove unused import
  packages/create-appsemble/src/index.ts
Due: eslint

add color support to FontAwesomeIcon
  blocks/map/block.ts
  blocks/map/src/createIcon.ts
Due: eslint

Make most jobs interruptible
  .gitlab-ci.yml
Due: prettier

Extract copy output logic from client credentials
  packages/react-components/src/FormOutput/index.tsx
  packages/react-components/src/index.tsx
  packages/studio/src/components/ClientCredentials/index.tsx
Due: eslint

implement custom marker options in detail-viewer
  blocks/detail-viewer/block.ts
  blocks/detail-viewer/package.json
  blocks/detail-viewer/src/components/GeoCoordinatesRenderer/index.tsx
  packages/preact-components/src/Location/index.tsx
Due: eslint, prettier

update changelog
  CHANGELOG.md
Due: prettier, remark lint

include untracked files
  blocks/detail-viewer/src/components/GeoCoordinatesRenderer/createIcon.ts
  blocks/detail-viewer/src/components/GeoCoordinatesRenderer/createMarker.css
Due: eslint, stylelint

Show copyable redirect URL on app secrets page
  packages/studio/src/components/AppSecrets/components/AppSecretCard/index.tsx
  packages/studio/src/components/AppSecrets/components/AppSecretCard/messages.tsx
Due: eslint

Apply technical OAuth2 detail rephrase suggestion
  docs/guide/oauth2.md
Due: prettier, remark lint

Fix summary for 0.13.5 migrations
  packages/server/src/migrations/0.13.5-app-oauth2-provider.ts
Due: eslint

refactor: clarify the reasons why the invite may not have been found
  packages/studio/src/components/OrganizationInvite/messages.tsx
Due: eslint

fix form input presentation
  blocks/form/src/components/FileInput/index.tsx
Due: eslint

Fix user info and remapper support for app login
  packages/react-components/src/JSONInput/index.tsx
  packages/server/src/controllers/appOAuth2Secrets.ts
  packages/server/src/models/AppOAuth2Secret.ts
  packages/studio/src/components/AppSecrets/components/AppSecretCard/index.tsx
  packages/studio/src/components/AppSecrets/components/AppSecretCard/messages.tsx
  packages/types/index.d.ts
  packages/utils/src/api/components/schemas/AppOAuth2Secret.ts
Due: eslint

Apply 1 suggestion(s) to 1 file(s)
  packages/studio/src/components/OrganizationInvite/messages.tsx
Due: eslint

run prettier
  packages/studio/src/components/OrganizationInvite/messages.tsx
Due: eslint

Make migration produce exact same result as models
  packages/server/src/migrations/0.13.5-app-oauth2-provider.ts
Due: eslint

Path conditions:
  dependency scanning: any of: yarn.lock
  eslint: any of: **/*.{js,jsx,ts,tsx}, yarn.lock
  helm lint: any of: config/charts/**/*.*
  prettier: any of: **/*.{html,json,md,scss,yaml,yml}, yarn.lock
  remark lint: any of: **/*.{dic,md}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock
