Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency scanning, eslint, helm lint, prettier, remark lint, stylelint

Path conditions:
  dependency scanning: any of: yarn.lock
  eslint: any of: **/*.{js,jsx,ts,tsx}, yarn.lock
  helm lint: any of: config/charts/**/*.*
  prettier: any of: **/*.{html,json,md,scss,yaml,yml}, yarn.lock
  remark lint: any of: **/*.{dic,md}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock

Fix route for OAuth2 documentation
  docs/guide/oauth2.md
Due: prettier, remark lint

Use a hardcoded uuid for the bot account in review
  .gitlab-ci.yml
  config/charts/appsemble/templates/provision.yaml
  config/charts/appsemble/values.yaml
Due: helm lint, prettier

Use the Bitnami chart for PostgreSQL
  .gitlab-ci.yml
  config/charts/appsemble/Chart.lock
  config/charts/appsemble/Chart.yaml
Due: helm lint, prettier

Fix UserId type in provision script
  config/charts/appsemble/templates/provision.yaml
Due: helm lint, prettier

Document redirect URL
  docs/guide/oauth2.md
Due: prettier, remark lint

Fix Appsemble scripts
  packages/scripts/src/index.ts
Due: eslint

Convert action remap to the new remappers
  CHANGELOG.md
  packages/app/src/utils/makeActions.tsx
  packages/types/index.d.ts
  packages/utils/src/index.ts
  packages/utils/src/remap.test.ts
  packages/utils/src/remap.ts
Due: eslint, prettier, remark lint

Make release script replace versions using string replace
  packages/scripts/package.json
  packages/scripts/src/commands/release.ts
Due: eslint, prettier

Update versions in block templates
  packages/scripts/src/commands/release.ts
Due: eslint

apply stats block changes to template
  packages/create-appsemble/templates/mini-jsx/src/index.tsx
Due: eslint

add description to docs
  doczrc.js
Due: eslint

implement remappers
  blocks/list/block.ts
  blocks/list/src/components/ListItem/index.tsx
Due: eslint

Remove logic for testing migrations in staging
  .gitlab-ci.yml
Due: prettier

refactor logic out of editor component into guieditor
  packages/studio/src/components/Editor/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorEditBlock/index.css
  packages/studio/src/components/GUIEditor/components/GUIEditorEditBlock/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorEditBlock/messages.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorToolbox/index.css
  packages/studio/src/components/GUIEditor/components/GUIEditorToolbox/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorToolboxBlock/index.css
  packages/studio/src/components/GUIEditor/components/GUIEditorToolboxBlock/index.tsx
  packages/studio/src/components/GUIEditor/index.tsx
Due: eslint, stylelint

delete component
  packages/studio/src/components/Editor/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorDelete/index.tsx
  packages/studio/src/components/GUIEditor/index.tsx
Due: eslint

delete block popup and functionality
  packages/studio/src/components/GUIEditor/components/GUIEditorDelete/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorDelete/messages.tsx
  packages/studio/src/components/GUIEditor/index.tsx
Due: eslint

Handle URL and query parameter formatting in proxy
  package.json
  packages/app/src/utils/actions/request.tsx
  packages/cli/src/lib/interceptors.ts
  packages/server/package.json
  packages/server/src/controllers/proxy.test.ts
  packages/server/src/controllers/proxy.ts
  packages/server/src/utils/createServer.ts
  packages/utils/src/api/paths/proxy.ts
  packages/utils/src/formatRequestAction.ts
  packages/utils/src/index.ts
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Fix resource actions
  packages/app/src/utils/actions/resource.tsx
Due: eslint

Update documentation for proxy
  CHANGELOG.md
  docs/reference/action.md
Due: prettier, remark lint

some improvements to get edit location and beter warnings when deleting blocks
  packages/studio/src/components/GUIEditor/components/GUIEditorDelete/index.tsx
  packages/studio/src/components/GUIEditor/components/GUIEditorDelete/messages.tsx
  packages/studio/src/components/GUIEditor/index.tsx
  packages/studio/src/components/MonacoEditor/index.tsx
Due: eslint

Fix message when editing a resource
  packages/studio/src/components/ResourceTable/index.tsx
  packages/studio/src/components/ResourceTable/messages.tsx
Due: eslint

Describe why unhandled properties can’t be edited
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaUnknownEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaUnknownEditor/messages.tsx
Due: eslint

Dedupe props in RecursiveJSONSchemaEditor
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaArrayEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/RecursiveJSONSchemaEditor/index.tsx
Due: eslint

Dedupe shared types in JSONSchemaEditor
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaArrayEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaBooleanEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaEnumEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaLabel/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaObjectEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaStringEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/JSONSchemaUnknownEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/components/RecursiveJSONSchemaEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/index.tsx
  packages/studio/src/components/JSONSchemaEditor/types.ts
Due: eslint

Handle datetime-local input type
  packages/react-components/package.json
  packages/react-components/src/Input/index.tsx
Due: eslint, prettier

Fix bad import
  packages/server/src/controllers/proxy.ts
Due: eslint

Document the release process
  CONTRIBUTING.md
Due: prettier, remark lint

Create new appsemble package
  .gitlab-ci.yml
  CHANGELOG.md
  packages/appsemble/README.md
  packages/appsemble/jest.config.js
  packages/appsemble/package.json
  packages/appsemble/src/index.ts
  packages/appsemble/tsconfig.build.json
  packages/appsemble/tsconfig.json
  packages/scripts/src/commands/validate.ts
Due: eslint, prettier, remark lint

Remove global URL and URLSearchParams in node
  packages/cli/src/lib/authentication.ts
  packages/cli/src/lib/createApp.ts
  packages/cli/src/lib/updateApp.ts
  packages/server/src/commands/restoreDNS.ts
  packages/server/src/controllers/openId.ts
  packages/server/src/middleware/appMapper.ts
  packages/server/src/middleware/oauth2.ts
  packages/server/src/routes/studioRouter/indexHandler.ts
  packages/server/src/routes/studioRouter/tokenHandler.test.ts
  packages/server/src/routes/studioRouter/tokenHandler.ts
  packages/server/src/types.ts
  packages/server/src/utils/addDBHooks.ts
  packages/server/src/utils/createServer.ts
  packages/server/src/utils/getApp.ts
  packages/server/src/utils/sendNotification.ts
  packages/server/src/utils/sentryDsnToReportUri.ts
Due: eslint

add icon property to list
  blocks/list/block.ts
  blocks/list/src/components/ListItem/index.tsx
  blocks/list/src/index.tsx
Due: eslint

Use to-ico types from DefinitelyTyped
  package.json
  packages/@types-to-ico/index.d.ts
  packages/@types-to-ico/package.json
  packages/@types-to-ico/tsconfig.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Add mising types for appsemble package
  packages/appsemble/tsconfig.build.json
Due: prettier

Remove commented code
  packages/server/src/utils/createServer.ts
Due: eslint

Add TS declarations for all published packages
  packages/appsemble/tsconfig.build.json
  packages/cli/tsconfig.build.json
  packages/create-appsemble/tsconfig.build.json
Due: prettier

Replace Route render and component with children
  packages/app/src/components/Main/index.tsx
  packages/app/src/components/TabsPage/index.tsx
  packages/studio/src/components/App/index.tsx
  packages/studio/src/components/AppContext/index.tsx
  packages/studio/src/components/OAuth2Connect/index.tsx
Due: eslint

Remove unnecessary koas middleware assigning user
  packages/server/src/controllers/appNotifications.ts
  packages/server/src/controllers/appRatings.ts
  packages/server/src/controllers/apps.ts
  packages/server/src/controllers/assets.ts
  packages/server/src/controllers/oauth2.ts
  packages/server/src/controllers/openId.ts
  packages/server/src/controllers/organizations.ts
  packages/server/src/controllers/resources.ts
  packages/server/src/controllers/user.ts
  packages/server/src/types.ts
  packages/server/src/utils/checkRole.ts
  packages/server/src/utils/createServer.ts
Due: eslint

Don’t expose the API on app URLs
  packages/server/src/utils/createServer.ts
Due: eslint

remove unused variables
  blocks/list/src/index.tsx
Due: eslint

fix windows intl errors
  config/webpack/core.js
Due: eslint

adjust header styling
  blocks/list/src/components/ListItem/index.css
  blocks/list/src/components/ListItem/index.tsx
Due: eslint, stylelint
