Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency scanning, eslint, helm lint, prettier, remark lint, stylelint

Path conditions:
  dependency scanning: any of: yarn.lock
  eslint: any of: **/*.{js,jsx,ts,tsx}, yarn.lock
  helm lint: any of: config/charts/**/*.*
  prettier: any of: **/*.{html,json,md,scss,yaml,yml}, yarn.lock
  remark lint: any of: **/*.{dic,md}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock

Stricten types for flow page events
  packages/types/index.d.ts
Due: eslint

Add generic app iteration function
  packages/server/src/routes/appRouter/indexHandler.ts
  packages/utils/src/getAppBlocks.ts
  packages/utils/src/iterApp.test.ts
  packages/utils/src/iterApp.ts
Due: eslint

Convert map to functional component
  blocks/form/src/components/GeoCoordinatesInput/index.tsx
  blocks/form/src/index.tsx
Due: eslint

Fix a bad import
  packages/server/src/routes/appRouter/indexHandler.ts
  packages/utils/src/index.ts
Due: eslint

port over english error
  blocks/form/block.ts
  blocks/form/src/components/GeoCoordinatesInput/index.tsx
Due: eslint

fix imports
  blocks/form/src/components/GeoCoordinatesInput/index.tsx
Due: eslint

Revert indexHandler
  packages/server/src/routes/appRouter/indexHandler.ts
Due: eslint

Fix type error
  packages/app/src/utils/makeActions.tsx
Due: eslint

resolve feedback
  blocks/form/src/components/GeoCoordinatesInput/index.tsx
Due: eslint

Apply 1 suggestion(s) to 1 file(s)
  blocks/form/block.ts
Due: eslint

Apply 5 suggestion(s) to 1 file(s)
  packages/utils/src/iterApp.ts
Due: eslint

Add missing tests for iterApp
  packages/utils/src/iterApp.test.ts
Due: eslint

implement actions bar
  packages/react-components/src/Input/index.tsx
  packages/react-components/src/Select/index.tsx
  packages/studio/src/components/AppList/components/CreateAppButton/index.tsx
  packages/studio/src/components/AppList/components/CreateAppButton/messages.tsx
  packages/studio/src/components/AppList/components/CreateAppCard/index.css
  packages/studio/src/components/AppList/index.css
  packages/studio/src/components/AppList/index.tsx
  packages/studio/src/components/AppList/messages.tsx
Due: eslint, stylelint

rework app cards
  packages/studio/src/components/AppList/components/AppCard/index.css
  packages/studio/src/components/AppList/components/AppCard/index.tsx
  packages/studio/src/components/AppList/components/AppCard/messages.tsx
  packages/studio/src/components/AppList/index.css
Due: eslint, stylelint

fix date sorting
  packages/studio/src/components/AppList/index.tsx
Due: eslint

remove unused class
  packages/studio/src/components/AppList/index.tsx
Due: eslint

Fix message extraction
  packages/studio/src/components/MessageEditor/index.tsx
  packages/studio/src/utils/findMessageIds.ts
  packages/studio/src/utils/getAppMessageIDs.ts
Due: eslint

Fix formula for detecting the user language
  packages/app/src/utils/i18n.ts
Due: eslint

Fix the remapper for form labels
  blocks/form/src/components/StringInput/index.tsx
Due: eslint

Fix some tests
  packages/app/src/utils/i18n.ts
  packages/server/src/routes/appRouter/indexHandler.test.ts
Due: eslint

Fix tests
  packages/server/src/controllers/action.ts
  packages/server/src/controllers/resources.ts
Due: eslint

Make small code cleanups
  packages/react-components/src/Input/index.tsx
  packages/studio/src/components/AppList/components/AppCard/index.css
  packages/studio/src/components/AppList/components/AppCard/index.tsx
  packages/studio/src/components/AppList/index.tsx
  packages/studio/src/components/Rating/index.css
  packages/studio/src/components/Rating/index.tsx
Due: eslint, stylelint

Implement new design for app details
  packages/react-components/src/SimpleInput/index.tsx
  packages/react-components/src/SimpleModalFooter/index.tsx
  packages/react-components/src/SimpleSubmit/messages.tsx
  packages/react-components/src/index.tsx
  packages/studio/src/components/AppDetails/index.css
  packages/studio/src/components/AppDetails/index.tsx
  packages/studio/src/components/AppList/components/AppCard/index.tsx
  packages/studio/src/components/AppList/components/CreateAppButton/index.tsx
  packages/studio/src/components/AppRatings/index.css
  packages/studio/src/components/AppRatings/index.tsx
  packages/studio/src/components/ClientCredentials/index.tsx
  packages/studio/src/components/HeaderControl/index.css
  packages/studio/src/components/HeaderControl/index.tsx
  packages/studio/src/components/MessageEditor/index.css
  packages/studio/src/components/MessageEditor/index.tsx
  packages/studio/src/components/RateApp/index.tsx
  packages/studio/src/components/Rating/index.tsx
  packages/studio/src/components/RatingField/index.tsx
  packages/studio/src/components/StarRating/index.css
  packages/studio/src/components/StarRating/index.tsx
Due: eslint, stylelint

Handle .well-known URLs using a 404
  packages/server/src/routes/appRouter/index.ts
  packages/server/src/routes/studioRouter/index.ts
Due: eslint

Explicitly handle .well-known URLs using 404
  packages/server/src/routes/appRouter/index.ts
  packages/server/src/routes/studioRouter/index.ts
Due: eslint

Fix logging real ip from incoming requests
  .gitlab-ci.yml
  config/charts/appsemble/README.md
  config/charts/appsemble/templates/deployment.yaml
  config/charts/appsemble/values.yaml
  packages/server/src/commands/start.ts
  packages/server/src/routes/appRouter/indexHandler.test.ts
  packages/server/src/types.ts
  packages/server/src/utils/createServer.ts
Due: eslint, helm lint, prettier, remark lint

Apply 1 suggestion(s) to 1 file(s)
  packages/server/src/commands/start.ts
Due: eslint

Support translating page titles
  packages/app/src/components/Page/index.tsx
Due: eslint

Fix the return type of useConfirmation
  packages/react-components/src/Confirmation/index.tsx
Due: eslint

Extract block header
  packages/studio/src/components/MessageEditor/index.tsx
Due: eslint

Fix iterApp to continue iterating if a flow/tabs page has actions
  packages/utils/src/iterApp.test.ts
  packages/utils/src/iterApp.ts
Due: eslint

Structure @appsemble/types as regular package
  .gitlab-ci.yml
  packages/types/src/index.ts
  packages/types/tsconfig.build.json
Due: eslint, prettier

Remove @appsemble/studio dependency in config
  config/webpack/studio.js
  package.json
Due: eslint, prettier

Fix build
  .gitlab-ci.yml
  packages/types/package.json
Due: prettier

Fix Docker build
  Dockerfile
Due: none

Use validators to generate default validity
  blocks/form/src/index.tsx
  blocks/form/src/utils/generateDefaultValidity.ts
  blocks/form/src/utils/validators/index.ts
Due: eslint
