Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency scanning, eslint, helm lint, prettier, remark lint, stylelint

dependency scanning:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  allow_failure: true
  script:
  - yarn gitlab-yarn-audit
  artifacts:
    reports:
      dependency_scanning: gl-dependency-scanning.json

eslint:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn eslint --format gitlab .
  artifacts:
    reports:
      codequality: gl-codequality.json

helm lint:
  image:
    name: lachlanevenson/k8s-helm:v3.1.0
    entrypoint:
    - /bin/sh
    - -c
  dependencies: []
  script:
  - helm lint config/charts/*

prettier:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn prettier .

remark lint:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn remark --frail .

stylelint:
  dependencies: []
  before_script:
  - yarn --frozen-lockfile --ignore-scripts
  script:
  - yarn stylelint .

always send body
  packages/app/src/utils/actions/email.tsx
Due: eslint

fix word wrapping on reviews
  packages/studio/src/components/AppRatings/index.css
Due: stylelint

default to YAML mode
  packages/studio/src/components/Editor/index.tsx
Due: eslint

Apply 1 suggestion(s) to 1 file(s)
  packages/server/src/utils/email/renderEmail.ts
Due: eslint

fix spacing between accept and decline buttons
  packages/studio/src/components/OrganizationInvite/index.tsx
Due: eslint

Remove AppRatings css
  packages/studio/src/components/AppRatings/index.css
  packages/studio/src/components/AppRatings/index.tsx
Due: eslint, stylelint

Bump dependencies
  package.json
  packages/app/package.json
  packages/cli/package.json
  packages/create-appsemble/package.json
  packages/node-utils/package.json
  packages/preact/package.json
  packages/react-components/package.json
  packages/scripts/package.json
  packages/server/package.json
  packages/studio/package.json
  packages/utils/package.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Fix redirects in page
  packages/app/src/components/Page/index.tsx
Due: eslint

Fix action prefix when generating onSuccess and onError actions
  packages/app/changes/fixed/onSuccess-onError-action-prefix.md
  packages/app/src/utils/makeActions.tsx
Due: eslint, prettier, remark lint

Fix formatting localized messages in app
  packages/app/package.json
  packages/app/src/components/App/index.tsx
  packages/app/src/components/AppMessagesProvider/index.tsx
  packages/app/src/components/Block/index.tsx
  packages/app/src/components/Main/index.tsx
  packages/utils/src/index.ts
  packages/utils/src/legacyRemap.ts
  packages/utils/src/remap.ts
Due: eslint, prettier

Implement remappers in form
  blocks/form/block.ts
  blocks/form/changes/added/remappers.md
  blocks/form/src/components/BooleanInput/index.tsx
  blocks/form/src/components/EnumInput/index.tsx
  blocks/form/src/components/FileEntry/index.tsx
  blocks/form/src/components/FileInput/index.tsx
  blocks/form/src/components/NumberInput/index.tsx
  blocks/form/src/components/RadioInput/index.tsx
  blocks/form/src/components/StringInput/index.tsx
Due: eslint, prettier, remark lint

implement adding languages from list
  package.json
  packages/studio/package.json
  packages/studio/src/components/MessageEditor/index.tsx
  packages/studio/src/components/MessageEditor/messages.tsx
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

add language names
  packages/studio/src/components/MessageEditor/index.tsx
  packages/studio/src/components/MessageEditor/messages.tsx
Due: eslint

add initial message translation page
  packages/studio/src/components/AppContext/index.tsx
  packages/studio/src/components/AppSideMenu/index.tsx
  packages/studio/src/components/AppSideMenu/messages.tsx
  packages/studio/src/components/MessageEditor/index.tsx
  packages/studio/src/components/MessageEditor/messages.tsx
Due: eslint

add initial dialogs for deleting and adding languages
  packages/studio/src/components/MessageEditor/index.tsx
  packages/studio/src/components/MessageEditor/messages.tsx
Due: eslint

implement iterating over object for finding message IDs
  packages/studio/src/components/MessageEditor/index.tsx
  packages/studio/src/utils/getAppMessageIDs.ts
Due: eslint

add useBeforeUnload hook
  packages/react-components/src/index.tsx
  packages/react-components/src/useBeforeUnload.ts
  packages/react-components/src/useEventListener.tsx
  packages/studio/src/components/Editor/index.tsx
  packages/studio/src/components/MessageEditor/index.tsx
Due: eslint

extract blocks and action definitions from app definition
  packages/studio/src/components/MessageEditor/index.tsx
Due: eslint

fix how languages are reloaded when deleting other languages
  packages/studio/src/components/MessageEditor/index.tsx
Due: eslint

add changelog
  packages/studio/changes/added/message-editor.md
Due: prettier, remark lint

remove unused import
  packages/studio/src/components/Editor/index.tsx
Due: eslint

use textarea instead of text input
  packages/studio/src/components/MessageEditor/index.tsx
Due: eslint

Allow to use remappers in filter
  blocks/filter/block.ts
  blocks/filter/changes/added.md
Due: eslint, prettier, remark lint

Enable remapper for map location error
  blocks/map/block.ts
  blocks/map/changes/added/location-error.md
  blocks/map/changes/changed/location-error.md
  blocks/map/src/index.ts
Due: eslint, prettier, remark lint

Add remapper support to markdown block
  blocks/markdown/block.ts
  blocks/markdown/changed/added/remapper.md
  blocks/markdown/src/index.ts
Due: eslint, prettier, remark lint

Make locationError parameter optional
  blocks/map/block.ts
Due: eslint

Resolve TypeScript errors in app
  packages/app/src/components/Block/index.tsx
  packages/app/src/components/BlockList/index.tsx
  packages/app/src/components/FlowPage/index.tsx
  packages/app/src/components/Page/index.tsx
  packages/app/src/types.ts
  packages/app/src/utils/actions/message.tsx
  packages/app/src/utils/makeActions.tsx
  packages/utils/src/legacyRemap.ts
Due: eslint

process feedback
  packages/react-components/src/SimpleBeforeUnload/index.tsx
  packages/react-components/src/index.tsx
  packages/react-components/src/useBeforeUnload.ts
  packages/studio/src/components/Editor/index.tsx
  packages/studio/src/components/MessageEditor/index.css
  packages/studio/src/components/MessageEditor/index.tsx
  packages/studio/src/components/MessageEditor/messages.tsx
Due: eslint, stylelint

Fix support for multilingual remappers on the server
  packages/app/src/components/AppMessagesProvider/index.tsx
  packages/server/package.json
  packages/server/src/controllers/action.ts
  packages/server/src/controllers/resources.ts
  packages/server/src/routes/appRouter/blockCSSHandler.ts
  packages/server/src/routes/appRouter/cssHandler.ts
  packages/server/src/routes/appRouter/iconHandler.test.ts
  packages/server/src/routes/appRouter/iconHandler.ts
  packages/server/src/routes/appRouter/indexHandler.ts
  packages/server/src/routes/appRouter/manifestHandler.test.ts
  packages/server/src/routes/appRouter/manifestHandler.ts
  packages/server/src/routes/appRouter/organizationBlockCSSHandler.ts
  packages/server/src/routes/appRouter/organizationCSSHandler.ts
  packages/server/src/routes/studioRouter/tokenHandler.ts
  packages/server/src/utils/app.test.ts
  packages/server/src/utils/app.ts
  packages/server/src/utils/getApp.ts
  packages/server/src/utils/oauth2.ts
  packages/utils/src/index.ts
  packages/utils/src/objectCache.test.ts
  packages/utils/src/objectCache.ts
Due: eslint, prettier

Fix remapper tests
  packages/utils/src/remap.test.ts
Due: eslint

Fix BlockList key
  packages/app/src/components/BlockList/index.tsx
Due: eslint

Consider falsy strings to be invalid for required string fields
  blocks/form/src/utils/validators/validateString.ts
Due: eslint

Clean up form validation based on filetypes
  blocks/form/src/utils/validators/index.ts
Due: eslint

implement remapper
  docs/guide/remappers.md
  packages/types/index.d.ts
  packages/utils/changes/added/string-replace-remapper.md
  packages/utils/src/remap.test.ts
  packages/utils/src/remap.ts
Due: eslint, prettier, remark lint

reuse key
  packages/app/src/components/BlockList/index.tsx
Due: eslint

resolve feedback
  packages/types/index.d.ts
  packages/utils/src/remap.ts
Due: eslint

use parentId when creating feed replies if it’s defined
  blocks/feed/src/components/Card/index.tsx
Due: eslint

mention usage of in readme of feed
  blocks/feed/README.md
Due: prettier, remark lint

Apply 1 suggestion(s) to 1 file(s)
  blocks/feed/src/components/Card/index.tsx
Due: eslint

Path conditions:
  dependency scanning: any of: yarn.lock
  eslint: any of: **/*.{js,jsx,ts,tsx}, yarn.lock
  helm lint: any of: config/charts/**/*.*
  prettier: any of: **/*.{html,json,md,scss,yaml,yml}, yarn.lock
  remark lint: any of: **/*.{dic,md}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock
